---
title: What is The Bitcoin Halvening?
image: big-Halving-01.jpg
permalink: what-is-the-bitcoin-halvening
layout: faq
tag: CONCEPTS
weight: 3
---

The Halvening describes the scheduled reduction in the subsidy received by miners who provide valid blocks that are added to the chain. The block reward provides an incentive for miners to compete for the right to add blocks to the chain. When the Bitcoin protocols were released, the concept of a block reward for miners was introduced. Additionally, a rule that states the block reward will be progressively decreased as more blocks are produced.

<h2>When Will The Bitcoin Halvening occur?</h2>

The Bitcoin protocol specifies that the block reward will be cut in half every 210,000 blocks, or roughly every four years. This reward has halved twice already, first going from 50 BTC to 25 BTC, then to 12.5 BTC. The upcoming cut to the block reward will further reduce it to 6.25 BTC, still a significant monetary reward! With so much money to be made in block rewards, the incentive for miners to participate remains quite lucrative.

{% include callouts/note.html
     bodyText="Block rewards are cut in half every 210,000 blocks or roughly every four years. The block reward will be reduced from 12.5 BTC to 6.25 BTC at block 630,000. This is scheduled to occur on May 12, 2020, at 05:00:00 UTC but could vary slightly depending on the rate of blocks produced."
%}

<h2>What is the Purpose of The Bitcoin Halvening?</h2>
Bitcoin takes its inspiration from gold, which has a finite supply. This scarcity gives assets like gold and bitcoin more value. Since more bitcoin cannot be created than the level set by Satoshi Nakamoto, it is considered deflationary. Theoretically, this should help bitcoin hold its buying power in comparison to a currency that can be impacted by inflation.

This rule is Bitcoin’s response to inflationary currencies. Satoshi Nakamoto, Bitcoin’s creator, disagreed with this methodology. The Bitcoin protocol outlines that only 21,000,000 Bitcoins will ever be minted. This is in stark contrast to fiat cash, which has an uncapped supply. Since more money can be printed, the relative buying power of that currency decreases over time.


{% include callouts/callout.html
    title="What happens after all Bitcoins have been released?"
    bodyText="Periodically cutting the block reward prolongs the amount of time it takes to reach the 21,000,000 supply of blockchain. After that many coins have been minted, there will no longer be a block reward. Instead, fees will provide an incentive for miners to continue mining, sustaining the network. The projection of when the last coin will be minted was originally around the year 2140, but due to variances in mining speed, the last coins will be released years sooner."
%}
