---
layout: default
title: About Us
stylesheet: team.css
permalink: /about/
---

{% include pageHeader.html img="team-banner.png" %}

<section class="header">
    <div class="row">
		<div class="col-sm-6">
			<h1>About Us</h1>
            <p>The Blockchain Institute is a 501(c)(3) public charity that provides blockchain education for everyone who wants to learn. We promote the adoption, development, and use of blockchain technology.</p>
            <p>We think education is the best way forward, and invite you to join us as we build the web of the future.</p>
			<a href="/courses/blockchain-101/" target="_blank" class="callToActionButton rightRedBrick">Learn Blockchain for Free Today!</a>
        </div>
        <div class="col-sm-6">
			<img src="/assets/img/building1.jpg">
		</div>
    </div>
    <div class="row">
        <div class="col-sm-6">
			<img src="/assets/img/building2.jpg">
		</div>
		<div class="col-sm-6 leftBlueBrick">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</section>

<section class="blueBrickDivider">

</section>

<section class="team">
	<h1 class="hasColorTag blue">Our Team</h1>

    {% for person in site.team %}

        {% include person.html
            name=person.name
            role=person.role
            bio=person.summary 
            headshot=person.headshot           
        %}
    
    {% endfor %}
        
</section>

<section class="board">
	<h1 class="hasColorTag redRight">Our Board</h1>

    {% for person in site.board %}

        {% include person.html
            name=person.name
            role=person.role
            bio=person.summary 
            headshot=person.headshot           
        %}

    {% endfor %}
        
</section>


{% include pinkDivider.html %}

{% include upcomingEvents.html %}