---
layout: default
title: About Us
stylesheet: team.css
permalink: /about/
ogImage: team-banner.jpg
---

{% include pageHeader.html 
    img="AboutUsHEADER2.jpg" 
    header="About Us" 
	  text="Blockchain Institute is a 501(c)(3) Public Charity that provides education focused on blockchain, cryptocurrency, and distributed ledger technology." 
%}


<section class="ourMission">
    <div class="row">
      <div>
        <span class="missionTeal">
            We offer <a href="/courses/"
            target="_blank">online</a> and <a href="/events/#Classroom" target="_blank">In-person</a> courses to
        help onboard those that are curious, prepare industry professionals, and support a new generation of
        developers that will build the internet of trust.      </div>
    </div>
  </section>


<section class="header">
    <div class="row">
        <div class="col-sm-6">
            <p>Education is the best tool to light the way forward. We invite you to join us as we show the world why
                blockchain is here to stay.</p>
                <p>We were founded in June of <a href="/press-releases" target="_blank">2018</a> to promote the adoption,
                    development, and use of blockchain technology by providing free education to the public. Throughout the
                    first few months of our existence, <a href="/events" target="_blank">we taught workshops and attended
                        conferences</a> such as <a href="/events/girlcon_2018" target="_blank">Girlcon</a>, <a
                        href="/events/loyalty_live_2018" target="_blank">Loyalty Live</a>, and <a href="/events/VOB_2018"
                        target="_blank">Voice of Blockchain</a>. Our first online courses were made available in February
                    2019. Later that year on March 25 we were officially granted status as a <span
                        class="no-wrap">501(c)(3)</span> Public Charity.</p>
        </div>
        <div class="col-sm-6">
            <p>During August 2019 we moved into Hackhaus, a co-working space located in the Uptown neighborhood of
                Chicago. The new location gave us the ability to host in-person courses and meetups. Our first in-person
                class, the Crypto Curious Course, was previewed in November 2019 and premiered on January 25th, 2020.
            </p>
            <p>We will continue to add to our collection of online and in-person classes and look for new ways to
                provide blockchain education to all.</p>
        </div>
    </div>
</section>


<section class="team" id="teamContainer">
    <div class="row teamRow"><h1>Our Team</h1></div>

    {% for person in site.team %}

    {% include person.html
            name=person.name
            role=person.role
            bio=person.summary 
            headshot=person.headshot
            type="team"           
        %}

    {% endfor %}

</section>

<section class="board" id="boardContainer">
  <div class="row boardRow"><h1>Our Board</h1></div>

    {% for person in site.board %}

    {% include person.html
            name=person.name
            role=person.role
            bio=person.summary 
            headshot=person.headshot      
            type="board"                
        %}

    {% endfor %}

</section>

<script>

    window.onload = function () {
        reorderTeam('person_team', 'teamContainer');
        reorderTeam('person_board', 'boardContainer')
    }

    function reorderTeam(teamName, container) {
        var team = document.getElementsByClassName(teamName)
        var teamContainer = document.getElementById(container)

        for (var i = team.length; i >= 0; i--) {
            teamContainer.appendChild(team[Math.random() * i | 0]);
        }

    }

</script>

<section class="getInvolvedFooter">
  <div class="row">
    <h1>Get Involved</h1>
    <span class="descriptionText">
      Our self-directed courses contain everything you need to get started towards becoming a blockchain expert, from
      the comfort of your own home! Don't let the blockchain revolution pass you by - try a course today!
    </span>
    <div class="getInvolvedThumbnailContainer">
      <a href="https://theblockchaininstitute.us18.list-manage.com/subscribe/post?u=ed27e0082d5f7e8d5cd3e3622&id=d50da5888a">
      <div class="giTile"> 
        <img src="/assets/img/Newsletter.jpg"/>
        <h3>Sign up for our newsletter</h3>
        <span>Lorem ipsum dolor sit consectuter adipiscing elit.</span>
      </div>
    </a>
    <a href="/discord/">
      <div class="giTile"> 
        <img src="/assets/img/Discord.jpg"/>
        <h3>Join our Discord</h3>
        <span>Lorem ipsum dolor sit consectuter adipiscing elit.</span>
      </div>
    </a>
    <a href="/ambassadors/">
      <div class="giTile"> 
        <img src="/assets/img/Ambassadors_HomepageImage-01.jpg"/>
        <h3>Become an Ambassador</h3>
        <span>Lorem ipsum dolor sit consectuter adipiscing elit.</span>
      </div>
    </a>
    <a href="/blog/">
      <div class="giTile"> 
        <img src="/assets/img/BlogsubmissionHEADER.jpg"/>
        <h3>Write a blog post</h3>
        <span>Lorem ipsum dolor sit consectuter adipiscing elit.</span>
      </div>
    </a>
    </div>
  </div>
</section>

  
