---
layout: default
title: About Us
stylesheet: team.css
permalink: /about/
---

{% include pageHeader.html img="team-banner.png" %}

<section class="header">
    <div class="row">
		<div class="col-sm-6">
			<h1>About Us</h1>
            <p>Blockchain Institute is a 501(c)(3) public charity that provides education focused on blockchain, cryptocurrency, and distributed ledger technology. We offer online and in-person courses to help onboard those that are curious, prepare industry professionals and support a new generation of developers that will build the internet of trust.</p>
            <p>Education is the best tool to light the way forward. We invite you to join us as we show the world why blockchain is here to stay.</p>
			<a href="/courses/blockchain-101/" target="_blank" class="callToActionButton rightRedBrick">Learn Blockchain for Free Today!</a>
        </div>
        <div class="col-sm-6">
			<img src="/assets/img/building1.jpg">
		</div>
    </div>
    <div class="row">
        <div class="col-sm-6">
			<img src="/assets/img/20200125_fjs_ccc_30.jpg">
		</div>
		<div class="col-sm-6 leftBlueBrick">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</section>

<section class="blueBrickDivider">

</section>

<section class="team" id="teamContainer">
	<h1 class="hasColorTag blue">Our Team</h1>

    {% for person in site.team %}

        {% include person.html
            name=person.name
            role=person.role
            bio=person.summary 
            headshot=person.headshot
            type="team"           
        %}
    
    {% endfor %}
        
</section>

<section class="board" id="boardContainer">
	<h1 class="hasColorTag redRight">Our Board</h1>

    {% for person in site.board %}

        {% include person.html
            name=person.name
            role=person.role
            bio=person.summary 
            headshot=person.headshot      
            type="board"                
        %}

    {% endfor %}
        
</section>

<script>

window.onload = function () { 
    reorderTeam('person_team', 'teamContainer');
    reorderTeam('person_board', 'boardContainer')
}

function reorderTeam(teamName, container) {
    var team = document.getElementsByClassName(teamName)
    var teamContainer = document.getElementById(container)

    for (var i = team.length; i >= 0; i--) {
        teamContainer.appendChild(team[Math.random() * i | 0]);
    }

}

</script>

{% include pinkDivider.html %}

{% include upcomingEvents.html %}
