---
layout: default
title: Ambassadors
stylesheet: ambassadors.css
permalink: /ambassadors/
---

<!-- events.html -->
{% include pageHeader.html 
    img="Ambassador.jpg" 
	header="Help Bring Blockchain To Your Community" 
	text="Become a Blockchain Institute Ambassador today, and begin your journey with the resources you need to succeed." 
	ctaText="Join Now" 
	ctaLink="#joinNow" 

%}

<script src="https://hcaptcha.com/1/api.js" async defer></script>

<script>
	function submitContactUsForm() {
		var formDetails = {
			name : document.getElementById('contactUsName').value,
			email : document.getElementById('contactUsEmail').value,
			subject : document.getElementById('contactUsSubject').value,
			message : document.getElementById('contactUsMessageBody').value,
			token :  hcaptcha.getResponse(),
			ambassador : true
		}
		if ( ( formDetails.name == "" ) || ( formDetails.email == "" ) || ( formDetails.subject == "" ) || ( formDetails.message == "" ) ) return handleError ('You must fill all fields to submit the form.')
		if ( !validateEmail(formDetails.email) ) return handleError('You must submit a valid email.')
		if ( ( !formDetails.token ) || ( "" == formDetails.token ) ) return handleError('You must verify you are not a robot by clicking the reCaptcha.')
			
		var xhr = new XMLHttpRequest();
		xhr.open("POST", 'https://app.weteachblockchain.org/contact/', true);
		// xhr.open("POST", "http://localhost:8888/contact/", true);
		xhr.onreadystatechange = function() { 
        if (xhr.readyState == 4 && xhr.status == 200)
			// console.log('xhr response:', xhr.responseText)
			var response = JSON.parse(xhr.responseText)
			if (response.success) {
				handleSuccess("Your Message has been submitted!");
				setTimeout ( function () {
					window.location = "/"
				}, 3000)
			} else {
				handleError("Error: " + JSON.stringify(response));
			}
		}
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.setRequestHeader('access-control-allow-origin', '*');
		xhr.send(JSON.stringify(formDetails));

	}
	function validateEmail(email) {
		var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		return re.test(String(email).toLowerCase());
	}	
	function handleError ( error ) {
		var errorContainer = document.getElementsByClassName('errorField')[0];
			errorContainer.textContent = error;
	}
	function handleSuccess ( successMessage ) {
		var fieldContainer = document.getElementsByClassName('contactUsForm')[0]
		
		var container = document.createElement('div')
			container.className = 'successMessage'

		var span = document.createElement('span')
			span.textContent = successMessage

		var icon = document.createElement('i')
			icon.className = "fas fa-check-circle"

		container.appendChild(icon)
		container.appendChild(span)

		do {
			fieldContainer.children[0].remove()
		} while ( fieldContainer.children.length > 0 )

		fieldContainer.appendChild(container)

	}

</script>

<section>
    <div class="row ambassadorRow">
        <div class="col-sm-12">
            <h1>#YouTeachBlockchain</h1>
            <p>Feeling alone in the world of blockchain? Get support and educational materials from the Blockchain Institute. Apply Now!</p>
	    
	    <img src="/assets/img/Ambassador-Timeline-01.jpg">    
		
	    <h3>What is the Blockchain Institute Ambassador Program?</h3>

	    <p>The mission of the Blockchain Institute is to educate as many as possible about the details and potential of blockchain technology. We created the Blockchain Institute Ambassador Program in order to enable those that are passionate about blockchain technology to collaborate with the Blockchain Institute in order to grow the global blockchain community. We do this by giving you the tools and resources needed to help spread knowledge about blockchain, decentralization, and cryptocurrencies.</p>

		<h3>We can help empower <em><strong>you !</strong></em></h3>
	</div>
		
	{% include callouts/callout.html
    		title="Community"
    		bodyText="Building and growing a community can be hard, but it's a lot easier when you have support. Our ambassador program brings together like-minded people who are working to democratize the internet!"
	%}
		
	{% include callouts/callout.html
    		title="Early Access"
    		bodyText="Preview our resources before they’re released to the public. Help shape content before it is taught globally. Collaborate with us and other ambassadors across the world."
	%}
		
	{% include callouts/callout.html
    		title="Localization"
    		bodyText="Our international community is growing fast, so we need your help! As an ambassador, you will be able to work with our team of experts to create content that not only matches your area, but also makes blockchain education accessible to <i>everyone</i>."
	%}
	
	<div class="col-sm-12">
		<h3>Apply to become a Blockchain Institute Ambassador today!</h3>
	    </div>
	
	    <div class="col-sm-12">
		<img src="/assets/img/DSC5306.jpg">    
	    </div>
    </div>
    <div class="row ambassadorRow">
	    <div class="col-sm-4 educationHeader">
                <h4>Education</h4>
		<p class="subtitle">Got a passion for cryptocurrency, blockchain, and decentralization? We can help you onboard new users and those curious to know more. We have content to address the most common questions that blockchain beginners ask in the first year in learning about the technology!</p>
	    	<dl>
		    <dt>Crypto Curious Course</dt>
		    <dd>Help onboard your community with our <a href=/crypto-curious/ target="_blank">two-hour beginner course</a>. This presentation package contains beautiful illustrations and relatable stories to aid you in running an intro to blockchain course.</dd>
		    
		    <dt>Additional Online Classes</dt>
		    <dd>Are your students hungry for further learning? Our online resources complement the Crypto Curious Course and help students continue to explore decentralization, blockchain business applications, and development.</dd>
		    
		    <dt>Instructions For Instructors</dt>
		    <dd>A "how to" guide on running your very own Crypto Curious Course. Learn best practices from the instructors and creators behind this course.</dd>
		    
		    <dt>Translations</dt>
		    <dd>We want to bring this course to the world. Language should not be a barrier to education. Request a translated version or work with us to get the content translated to your language.</dd>
            	</dl>
	    </div>
	    <div class="col-sm-4 communityHeader">
                <h4>Community</h4>
		<p class="subtitle">What would blockchain be without community? Regardless which technology you’re a fan of, we’re a fan of teaching it all. Help us extend the reach of blockchain education by amplifying your local network effects. We can help with international coordination!</p>
	    	<dl>
		    <dt>Community Calls</dt>
		    <dd>A place to ask questions and request additional resources from us. What can we do to amplify your local effects?</dd>
		    
		    <dt>Shared Feedback Forms</dt>
		    <dd>Share feedback from students. Learn what about the course is most effective and what needs improvement.</dd>
		    
		    <dt>Exclusive Telegram Chat Groups</dt>
		    <dd>Members meeting members! Find people across the world that share your values. Find people in your area to collaborate with.</dd>
            	</dl>
	    </div>
	    <div class="col-sm-4 promotionHeader">
                <h4>Promotion</h4>
		<p class="subtitle">Who doesn't like free stuff? Get access to our highly coveted swag, brochures, and digital downloads of our latest content. We can work to provide printing files for local production and distribution of materials. Contact us to discuss localization/internationalization!</p>
		<dl>
		    <dt>Swag</dt>
		    <dd>
			<ul>
			     <li>T-shirts</li>
			     <li>Stickers</li>
			     <li>Webcam Covers</li>
			     <li>PopSockets</li>
			     <li>Pins and Buttons</li>
			</ul>
		    </dd>

			<dt>Promotional Support</dt>
			<dd>Get a shout-out on our social media!</dd>

			<dt>You Tell Us</dt>
			<dd>What else can we do to support your local operations?</dd>
		</dl>
	    </div>
    </div>

</section>

<section class="header container-fluid" id="joinNow">
    <div class="row">
	<div class="col-sm-6">
		<img src="/assets/img/IWantYou.jpg">				
        </div>
        <div class="col-sm-6 contactUsForm">
			<h1>Apply Today!</h1>
			<span class="errorField"></span>
			<input type="text" placeholder="Name" id="contactUsName">
			<input type="text" placeholder="Email" id="contactUsEmail">
			<input type="text" placeholder="Subject" id="contactUsSubject">
			<textarea placeholder="Tell us why you should be a Blockchain Ambassador" id="contactUsMessageBody"></textarea>
			<div class="h-captcha" data-sitekey="3fe93b4a-9521-4c22-a75e-7a573781f75f"></div>
			<button onclick="submitContactUsForm()">Submit</button>
	</div>
    </div>
</section>

{% include pinkDivider.html %}

{% include upcomingEvents.html %}
