---
layout: default
title: Ambassadors
stylesheet: ambassadors.css
permalink: /ambassadors/
ogImage: Ambassador-01.jpg
---

<!-- events.html -->
{% include pageHeader.html 
    img="Ambassador-01.jpg" 
	header="Ambassador Program" 
	text="Help bring blockchain to your community. Become a Blockchain Institute Ambassador and begin your journey with the resources you need to succeed."
%}

<script src="https://hcaptcha.com/1/api.js" async defer></script>

<script>
	function submitContactUsForm() {
		var formDetails = {
			name: document.getElementById('contactUsName').value,
			email: document.getElementById('contactUsEmail').value,
			subject: document.getElementById('contactUsSubject').value,
			location: document.getElementById('contactLocation').value,
			message: document.getElementById('contactUsMessageBody').value,
			token: hcaptcha.getResponse(),
			ambassador: true
		}
		if ((formDetails.name == "") || (formDetails.email == "") || (formDetails.subject == "") || (formDetails.message == "")) return handleError('You must fill all fields to submit the form.')
		if (!validateEmail(formDetails.email)) return handleError('You must submit a valid email.')
		if ((!formDetails.token) || ("" == formDetails.token)) return handleError('You must verify you are not a robot by clicking the reCaptcha.')

		var xhr = new XMLHttpRequest();
		xhr.open("POST", 'https://app.weteachblockchain.org/contact/', true);
		// xhr.open("POST", "http://localhost:8888/contact/", true);
		xhr.onreadystatechange = function () {
			if (xhr.readyState == 4 && xhr.status == 200)
				// console.log('xhr response:', xhr.responseText)
				var response = JSON.parse(xhr.responseText)
			if (response.success) {
				handleSuccess("Your Message has been submitted!");
				setTimeout(function () {
					window.location = "/"
				}, 3000)
			} else {
				handleError("Error: " + JSON.stringify(response));
			}
		}
		xhr.setRequestHeader('Content-Type', 'application/json');
		xhr.setRequestHeader('access-control-allow-origin', '*');
		xhr.send(JSON.stringify(formDetails));

	}
	function validateEmail(email) {
		var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		return re.test(String(email).toLowerCase());
	}
	function handleError(error) {
		var errorContainer = document.getElementsByClassName('errorField')[0];
		errorContainer.textContent = error;
	}
	function handleSuccess(successMessage) {
		var fieldContainer = document.getElementsByClassName('contactUsForm')[0]

		var container = document.createElement('div')
		container.className = 'successMessage'

		var span = document.createElement('span')
		span.textContent = successMessage

		var icon = document.createElement('i')
		icon.className = "fas fa-check-circle"

		container.appendChild(icon)
		container.appendChild(span)

		do {
			fieldContainer.children[0].remove()
		} while (fieldContainer.children.length > 0)

		fieldContainer.appendChild(container)

	}

</script>

<section>
	<div class="row ambassadorRow">
		<div class="col-sm-12">
			<h1>#YouTeachBlockchain</h1>
			<p>The mission of the Blockchain Institute is to educate as many people as possible about the potential of <a href="/faq/what-is-blockchain/">blockchain technology</a>. We created the <b>Blockchain Institute Ambassador Program</b> to enable those that are passionate about blockchain technology to collaborate with us and each other. Help us grow the global blockchain community and spread knowledge about <a href="/faq/what-is-decentralization/">decentralization</a> and <a href="/faq/what-is-cryptocurrency/">cryptocurrencies</a>.</p>
		</div>
	</div>
	<div class="row ambassadorRow">
		<div class="col-sm-4 educationHeader">
			<h4>Early Access</h4>
			<p>Preview our resources before they’re released to the public. Help shape content before it is taught globally. Collaborate with us and other ambassadors across the world.</p>
		</div>
		<div class="col-sm-4 educationHeader">
			<h4>Contribute</h4>
			<p>Help create educational resources for others! Break down complex topics into easy to understand <a href="/faq/">FAQs</a>, write about projects not getting enough coverage on our <a href="/blog/">community blog</a>. Let’s work together to share your contribution throughout the community!</p>
		</div>
		<div class="col-sm-4 educationHeader">
			<h4>Support</h4>
			<p>We can help you teach and onboard those curious to learn more. Our free resources address common questions that blockchain beginners ask and will provide a deeper understanding of how these technologies work.</p>
		</div>
</div>



<div class="row ambassadorRow">
		<h1 class="sectionTitle">Pick your FREE membership tier</h1>

		<div class="col-sm-4 tiers">
			<h4 class="tierHeader">Advocate</h4>
				<p class="activePerk">Get to know the Blockchain Institute team</p>
				<p class="activePerk">Meet other ambassadors from all over the world.</p>
				<p class="activePerk">Gain early access to upcoming courses and content.</p>
				<p class="activePerk">Share our content to help educate your community.</p>
				<p class="inactivePerk">Gain access to exclusive Contributor Discord channel.</p>
				<p class="inactivePerk">Provide feedback and help us improve learning materials.</p>
				<p class="inactivePerk">Earn Blockchain Institute branded SWAG.</p>
				<p class="inactivePerk">Get recognized on our website and newsletter for your contributions.</p>
				<p class="inactivePerk">Gain access to exclusive Instructor Discord channel.</p>
				<p class="inactivePerk">Help teach Blockchain Institute webinars.</p>
				<p class="inactivePerk">Teach your own classes with Blockchain Institute material.</p>
				<p class="inactivePerk">Get access to course instructor guides and supporting materials.</p>
		</div>

		<div class="col-sm-4 tiers">
			<h4 class="tierHeader">Contributor</h4>
			<p class="activePerk">Get to know the Blockchain Institute team</p>
				<p class="activePerk">Meet other ambassadors from all over the world.</p>
				<p class="activePerk">Gain early access to upcoming courses and content.</p>
				<p class="activePerk">Share our content to help educate your community.</p>
				<p class="activePerk">Gain access to exclusive Contributor Discord channel.</p>
				<p class="activePerk">Provide feedback and help us improve learning materials.</p>
				<p class="activePerk">Earn Blockchain Institute branded SWAG.</p>
				<p class="activePerk">Get recognized on our website and newsletter for your contributions.</p>
				<p class="inactivePerk">Gain access to exclusive Instructor Discord channel.</p>
				<p class="inactivePerk">Help teach Blockchain Institute webinars.</p>
				<p class="inactivePerk">Teach your own classes with Blockchain Institute material.</p>
				<p class="inactivePerk">Get access to course instructor guides and supporting materials.</p>
		
		</div>

		<div class="col-sm-4 tiers">
			<h4 class="tierHeader">Instructor</h4>
				<p class="activePerk">Get to know the Blockchain Institute team</p>
				<p class="activePerk">Meet other ambassadors from all over the world.</p>
				<p class="activePerk">Gain early access to upcoming courses and content.</p>
				<p class="activePerk">Share our content to help educate your community.</p>
				<p class="activePerk">Gain access to exclusive Contributor Discord channel.</p>
				<p class="activePerk">Provide feedback and help us improve learning materials.</p>
				<p class="activePerk">Earn Blockchain Institute branded SWAG.</p>
				<p class="activePerk">Get recognized on our website and newsletter for your contributions.</p>
				<p class="activePerk">Gain access to exclusive Instructor Discord channel.</p>
				<p class="activePerk">Help teach Blockchain Institute webinars.</p>
				<p class="activePerk">Teach your own classes with Blockchain Institute material.</p>
				<p class="activePerk">Get access to course instructor guides and supporting materials.</p>
		</div>
		


	</div>

</section>

<section class="header container-fluid" id="joinNow">
	<div class="row">
		<div class="col-sm-7">
		</div> 
		<div class="col-sm-5 contactUsForm">
			<div class="joinOverlay">
			<h1>Apply Today!</h1>
			<p>Join our community of advocates, content creators, and instructors and help educate the world about blockchain.</p>
			<span class="errorField"></span>
			<input type="text" placeholder="Name" id="contactUsName">
			<input type="text" placeholder="Email" id="contactUsEmail">
			<input type="text" placeholder="Where are you? (i.e. Cairo, Egypt)" id="contactLocation">
			<input type="text" placeholder="Subject" id="contactUsSubject">
			<textarea placeholder="Tell us why you should be a Blockchain Ambassador"
				id="contactUsMessageBody"></textarea>
			<div class="h-captcha" data-sitekey="3fe93b4a-9521-4c22-a75e-7a573781f75f"></div>
			<button onclick="submitContactUsForm()">Submit</button>
		</div>
		</div>
	</div>
</section>

{% include getInvolvedAmbassadorPage.html %}
