---
layout: default
title: Ambassadors
stylesheet: ambassadors.css
permalink: /ambassadors/
---

<!-- events.html -->
{% include pageHeader.html 
    img="Ambassador.jpg" 
	header="#YouTeachBlockchain" 
	text="Become a blockchain institute ambassador today, and begin your journey with the resources you need to succeed." 
	ctaText="Join Now" 
	ctaLink="#joinNow" 

%}

<section>
    <div class="row">
        <div class="col-sm-12">
            <h1>Help Bring Blockchain To Your Community</h1>
            <span>Feeling in this alone? Get support and educational materials from the Blockchain Institute. Apply Now!</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h4>Education</h4>
		<p>Got a passion for cryptocurrency, blockchain, and decentralization? We can help you onboard new users and those curious to know more. We have content to address the most common questions that blockchain beginners ask in the first year in learning about the technology!</p>
            <ul>
		    <li><strong>Crypto Curious Course:</strong> Help onboard your community with our two-hour beginner course. This presentation package contains beautiful illustrations and relatable stories to aid you in running an intro to blockchain course. </li>
		    <li><strong>Additional Online Classes:</strong> Are your students hungry for further learning? Our online resources complement the Crypto Curious Course and help students continue to explore decentralization, blockchain business applications, and development.</li>
		    <li><strong>Instructions For Instructors:</strong> A "how to" guide on running your very own Crypto Curious Course. Learn best practices from the instructors and creators behind this course.</li>
		    <li><strong>Translations:</strong> We want to bring this course to the world. Language should not be a barrier to education. Request a translated version or work with us to get the content translated to your language.</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h4>Community</h4>
		<p>What would blockchain be without community? Regardless which technology you’re a fan of, we’re a fan of teaching it all. Help us extend the reach of blockchain education by amplifying your local network effects. We can help with international coordination!</p>
            <ul>
		    <li><strong>Community Calls:</strong> A place to ask questions and request additional resources from us. What can we do to amplify your local effects?</li>
		    <li><strong>Shared Feedback Forms:</strong> Share feedback from students. Learn what about the course is most effective and what needs improvement. </li>
		    <li><strong>Exclusive Telegram Chat Groups:</strong> Members meeting members! Find people across the world that share your values. Find people in your area to collaborate with.</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h4>Promotion</h4>
		<p>Who doesn't like free stuff? Get access to our highly coveted swag, brochures, and digital downloads of our latest content. We can work to provide printing files for local production and distribution of materials. Contact us to discuss localization/internationalization!</p>
		<dl>
		    <dt>Swag</dt>
		    <dd>
			<ul>
			     <li>T-shirts</li>
			     <li>Stickers</li>
			     <li>Webcam Covers</li>
			     <li>PopSockets</li>
			     <li>Pins and Buttons</li>
			</ul>
		    </dd>
		</dl>
		<dl>
			<dt>Promotional Support</dt>
			<dd>Get a shout-out on our social media!</dd>
		</dl>
		<dl>
			<dt>You Tell Us</dt>
			<dd>What else can we do to support your local operations?</dd>
		</dl>
        </div>
    </div>

</section>

<section class="header" id="joinNow">
    <div class="row">
		<div class="col-sm-6">
			<img src="/assets/img/map.png">
			<div class="locationDetails">
				<span>
					<strong>Address:</strong> 
					<a href="https://goo.gl/maps/4Xcw3FwdbbTFXNzx6" target="_blank">
						4649 North Broadway Ave. Chicago, IL 60640 (Click Here)
					</a>
				</span>
				<span>
					<strong>Email:</strong>  
					<a href="mailto:info@weteachblockchain.org" target="_blank">
						info@weteachblockchain.org
					</a>
				</span>
			</div>
			
			
        </div>
        <div class="col-sm-6 contactUsForm">
			<h1>Leave a Message</h1>
			<input type="text" placeholder="Name" id="contactUsName">
			<input type="text" placeholder="Email" id="contactUsEmail">
			<input type="text" placeholder="Subject" id="contactUsSubject">
			<textarea placeholder="Your message here" id="contactUsMessageBody"></textarea>
			<button onclick="submitContactUsForm()">Submit</button>
		</div>
    </div>
</section>

<script>
	function submitContactUsForm() {
		var formDetails = {
			name : document.getElementById('contactUsName').value,
			email : document.getElementById('contactUsEmail').value,
			subject : document.getElementById('contactUsSubject').value,
			message : document.getElementById('contactUsMessageBody').value
		}
		console.log('formDetails', formDetails)
	}
</script>

{% include pinkDivider.html %}

{% include upcomingEvents.html %}
