---
layout: default
title: Blog
stylesheet: blog.css
permalink: /blog/
ogImage: BlogHeader.jpg
---

{% include pageHeader.html 
	img="BlogHeader.jpg" 
	header="Community News" 
	text="This is where our community comes together. Submit your work - let us know how blockchain is changing your life."	
    ctaText="Submit your work!" 
	ctaLink="/contact-us/" 
%}

<section class="eventsList upcoming">
	<h1>Recent Posts</h1>
	<div class="row">
			<div class="blogTileContainer">
				{% for post in site.posts %}
				{% assign summary = post.content | strip_html | strip_newlines | truncatewords: 10 | xml_escape %}
				{% include blogTile.html
						link=post.permalink 
						image=post.thumbnail 
						title=post.title 
						date=post.date
						type=post.Type
						summary=summary
						author=post.author
					%}
				{% endfor %}
			</div>
	</div>

</section>

{% include getInvolved.html %}