---
layout: default
title: Blog
stylesheet: blog.css
permalink: /blog/
---

{% include pageHeader.html 
	img="BlogHeader.jpg" 
	header="Community News" 
	text="This is where our community comes together. Submit your work - let us know how blockchain is changing your life.
	
	We're building a generation of blockchain users and teachers."	
    ctaText="Submit your work!" 
	ctaLink="/contact-us/" 
%}

<section class="eventsList upcoming">
	<h1 class="hasColorTag red">Recent Posts</h1>
	<div class="row">
		<div class="container">
			<div class="card-columns">
				{% for post in site.posts %}
					{% assign summary = post.content | strip_html | strip_newlines | truncatewords: 20 | xml_escape %}
					{% include blogTile.html
						link=post.permalink 
						image=post.thumbnail 
						title=post.title 
						date=post.date
						type=post.Type
						summary=summary
						author=post.author
					%}
				{% endfor %}
			</div>
		</div>
	</div>

</section>

{% include pinkDivider.html %}

{% include recentCourses.html %}
