---
layout: default
title: Blog
stylesheet: blog.css
permalink: /blog/
---

{% include pageHeader.html 
	img="Events-Banner.jpg" 
	header="Blog" 
    text="This is our blog!"	
    ctaText="Join our writing team!" 
	ctaLink="/contact-us/" 
%}

<section class="eventsList upcoming">
	<h1 class="hasColorTag red">Recent Posts</h1>
	<div class="row">
		<div class="container">
			<div class="card-columns">
				{% for post in site.posts %}
						{% include blogTile.html
							link=post.permalink 
							image=post.image 
							title=post.title 
							date=post.date
							type=post.Type
						%}
				{% endfor %}
			</div>
		</div>
	</masonry>

</section>

{% include pinkDivider.html %}

{% include recentCourses.html %}
