---
layout: default
title: Component Legend
stylesheet: courses.css
ogTitle: Blockchain Institute
ogDesc: Legend for components
ogImage: https://weteachblockchain.org/assets/img/headerBackgroundTile.jpg
ogUrl: https://weteachblockchain.org/legend/
---

{% include pageHeader.html 
	img="Homepage_Banner.jpg" 
	header="Component Legend" 
	text="The section below shows mock ups of all of the components which can be used on FAQ and lesson pages." 
%}

<section>
    <div class="row">
        <div class="col-sm-12">
            <h1>Definitions</h1>

            {% include callouts/definition.html
                title="HASHING"
                bodyText="Creating a unique identifier for a specific piece of data."
            %}
        </div>

    </div>
    
</section>
<section>
    <div class="row">
        <div class="col-sm-12">
            <h1>Notes</h1>
        
            {% include callouts/note.html
                bodyText="plain text body of the note. Will be prefixed with the word 'NOTE:' in bold."
            %}

        </div>
        
    </div>

</section>
<section>
    <div class="row">
        
        <div class="col-sm-12">
            <h1>Callouts</h1>
        
            {% include callouts/callout.html
                bodyText="<h1>Title</h1><span>html formatted string for the body of the callout</span>"
            %}
            
        </div>
        
    </div>

</section>
<section>
    <div class="row">
        
        <div class="col-sm-12">
            <h1>Code Snippets</h1>
            
            {% include callouts/codeSnippet.html
                title="The title of the snippet"
                 bodyText="<span>html formatted string for the body of the callout</span><span>use one span per line of code</span>"
             %}
        
            
        </div>
        
    </div>
</section>
<section>
    <div class="row">
        <div class="col-sm-12">
            <h1>Terminal</h1>
            
            {% include callouts/terminal.html
                title="The title of the example"
                 bodyText="<span>Command 1</span><span>Output / or command</span>"
             %}
            
        </div>
        
        
    </div>

</section>
<section>
    <div class="row">
        <div class="col-sm-12">
            <h1>Images With Captions</h1>
            
            {% include callouts/imageWithCaption.html
                image="Token-Creation-Cycle-01.jpg"
                title="The Token Lifecycle"
                bodyText="1. Tokens are distributed as rewards when a new block is mined. 2. ... "
            %}
            
        </div>
        
        
    </div>

</section>
<section>
    <div class="row">
        <div class="col-sm-12">
            <h1>Image with Text Callout</h1>
            <span>Images with right aligned callouts can be used when listing brands or concepts that each have an associated image. The images will have a circular border.</span>
            
            {% include callouts/imageWithTextCallout.html 
                title="CryptoKitties"
                img="https://theblockchaininstitute.org/wp-content/uploads/2019/02/cryptokitties-200x200.png"
                bodyText="A popular collectible dApp released in 2017. Users could bid on digital cats in the form of ERC-721 tokens. This proved to be one of the first “viral” dApps which rapidly gained popularity. As a result, the Ethereum network quickly became overloaded, as it could not process the transactions that were being conducted, resulting in a backlog and very high fees. This incident displayed the limitations of the Ethereum blockchain and showed that the network would have to scale to meet real-world demand."
            %}
            
        </div>
        
        
    </div>

</section>
<section>
    <div class="row">
        <div class="col-sm-12">
            <h1>Pink Dividers</h1>
            <span>Pink dividers can be used to separate content.</span>
            
            <h3>Top Divider</h3>
            {% include pinkDivider.html %}
        
            <h3>Bottom Divider</h3>
            {% include pinkDividerBottom.html %}
            
        </div>
        

    </div>

</section>


