---
layout: default
title: Contact Us
stylesheet: contact.css
permalink: /contact-us/
---


<!-- events.html -->
{% include pageHeader.html img="contact-banner.png" %}

<section class="header">
    <div class="row">
		<div class="col-sm-6">
			<img src="/assets/img/map.png">
			<div class="locationDetails">
				<span>
					<strong>Address:</strong> 
					<a href="https://goo.gl/maps/4Xcw3FwdbbTFXNzx6" target="_blank">
						4649 North Broadway Ave. Chicago, IL 60640 (Click Here)
					</a>
				</span>
				<span>
					<strong>Email:</strong>  
					<a href="mailto:info@weteachblockchain.org" target="_blank">
						info@weteachblockchain.org
					</a>
				</span>
			</div>
			
			
        </div>
        <div class="col-sm-6 contactUsForm">
			<h1>Leave a Message</h1>
			<input type="text" placeholder="Name" id="contactUsName">
			<input type="text" placeholder="Email" id="contactUsEmail">
			<input type="text" placeholder="Subject" id="contactUsSubject">
			<textarea placeholder="Your message here" id="contactUsMessageBody"></textarea>
			<button href="javascript:void(0)">Submit</button>
		</div>
    </div>
</section>

{% include pinkDivider.html %}

{% include upcomingEvents.html %}