---
layout: default
title: Courses
stylesheet: courses.css
permalink: /courses/
---

<!-- events.html -->
<section class="pageHeaderImage" style="background:url(/assets/img/Courses-Banner.jpg);background-size:cover;background-position:center;">
	
	<div class="row">
		<div class="col-sm-6">
			<h1>Course Catalog</h1>
			<p>The Blockchain Institute is proud to offer free educational resources for every student. Whether you're a developer, professional, or entirely new, we're here to help! All of our courses are 100% FREE and no registration is required. <br>The best time to start is now.</p>
			<a href="/courses/blockchain-101/" target="_blank" class="callToActionButton">Learn Blockchain Free Today!</a>
		</div>
	</div>
</section>

<section class="breadcrumbs">
	<div class="row">
		<div class="col-sm-12">
			<a href="/">Home</a>/<a href="/courses/">Catalog</a>
		</div>
	</div>
</section>

<section class="pathsList">
	<h1 class="hasColorTag teal">Paths</h1>
	<div class="row">
		<div class="col-sm-12">
			<span>
				Select an option from the list below to see courses for your needs. 
			</span>
		</div>
	</div>
	<div class="row pathButtons">
		<div class="col-sm-4">
			<a target="_blank" href="/courses/novice/">
				<img src="/assets/img/Novice_button.jpg">
				<h5>Novice</h5>
			</a>

		</div>
		<div class="col-sm-4">
			<a target="_blank" href="/courses/developers/">
				<img src="/assets/img/Developers_button.jpg">
				<h5>Developers</h5>
			</a>
			
		</div>
		<div class="col-sm-4">
			<a target="_blank" href="/courses/professionals/">
				<img src="/assets/img/Professionals_button.jpg">
				<h5>Professionals</h5>
			</a>
			
		</div>
		
	</div>
</section>

<section class="coursesList">
	<h1 class="hasColorTag purple">Courses</h1>
	{% assign sorted = site.courses | sort: 'tags' %}
	{% for course in sorted %}
			<div class="row courseListing"> 
				<div class="col-sm-4">
					<img src="/assets/img/{{course.image}}"/>
				</div>
				<div class="col-sm-6">
					<h3>{{ course.title }}</h3>
					<span class="author">{{ course.author }}</span>
					<span class="summary">{{ course.summary }}</span>
					<a target="_blank" class="startCourseButton" href="{{ course.permalink }}">Start Course</a>
				</div>
				<div class="col-sm-2">
					<span class="courseTag {{course.tags}}">{{ course.tags }}</span>
				</div>
		    </div>

	{% endfor %}
</section>
<section class="pinkStripesDivider">
	
</section>
<section class="upcomingEventsFooter hasSectionColorTag red">
	<h1>Upcoming Events</h1>
	<div class="row">
		{% assign sorted = site.events | sort: 'date' | reverse | limit: 3%}
		{% for event in sorted %}
	
			{% if event.date > site.time  %}
				<div class="eventTile"> 
					<a target="_blank" href="{{ event.permalink }}">
						<img src="/assets/img/{{event.image}}"/>
						<h1>{{ event.title }}</h1>
						<span>{{ event.eventdate }}</span>
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>

</section>