---
layout: default
title: Courses
stylesheet: courses.css
permalink: /courses/
ogImage: Courses-Banner.jpg
---

{% include pageHeader.html 
	img="Courses-Banner.jpg" 
	header="Courses" 
	text="Blockchain Institute is proud to offer free educational resources for every student. Take our instructor or student-led courses to start your blockchain journey." 
%}



<!--{% include loginToTrackProgress.html %}-->

<section class="coursesList">
	<div class="row"><h1>Instructor-Led Courses</h1></div>
	{% assign courseTypes = site.courses | group_by: 'primaryTag' %}
	{% assign courseTypesSorted = courseTypes | sort: "name" %}
	{% for group in courseTypesSorted %}
	{% assign sorted = group.items | sort: 'title'  %}
	{% for course in sorted %}
	{% if course.primaryTag == "instructor-led" %}
	{% include courseListing.html 
				image=course.image
				title=course.title 
				author=course.author 
				summary=course.summary 
				link=course.permalink 
				tag=course.primaryTag	
				slug=course.slug
			%}
	{% endif %}
	{% endfor %}
	{% endfor %}
</section>

<section class="coursesList">
	<div class="row"><h1>User-Led Courses</h1></div>
	{% assign courseTypes = site.courses | group_by: 'primaryTag' %}
	{% assign courseTypesSorted = courseTypes | sort: "name" %}
	{% for group in courseTypesSorted %}
	{% assign sorted = group.items | sort: 'title'  %}
	{% for course in sorted %}
	{% if course.primaryTag != "instructor-led" %}
	{% include courseListing.html 
				image=course.image
				title=course.title 
				author=course.author 
				summary=course.summary 
				link=course.permalink 
				tag=course.primaryTag	
				slug=course.slug
			%}
	{% endif %}
	{% endfor %}
	{% endfor %}
</section>

<!--{% include coursesMap.html %}

{% include coursesProgressCalculator.html %}-->

{% include getInvolved.html %}
