---
layout: default
title: Log on curious. Walk away confident!
stylesheet: ccc.css
permalink: /crypto-curious/
ogTitle: Crypto Curious Course
ogDesc: You’ve heard about bitcoin, but what is it really? Join this free course and learn where it came from and why it’s going to change the world.
ogImage: https://weteachblockchain.org/assets/img/crypto_curious_course_og.jpg
ogUrl: https://weteachblockchain.org/crypto-curious/
---
<script>
  function bic_showMailChimp () {
    console.log('display mc triggered')
  }
</script>

<header class="jumbotron text-left tileHeader">
</header>


<section class="cccExplained">
  <div class="row container">
      <h1>Why the Crypto Curious Course?</h1>
  </div>
  <div class="row container">
      <div class="col-md-6">
          <span>
            Bridging the education gap for new adopters with a single class designed to take them from curious to confident! Those in attendance will learn more about how Bitcoin came to be, what blockchains can be used for, and how decentralization may impact our lives.
          </span>
      </div>
      <div class="col-md-6">
          <span>
            Attendees of the Crypto Curious Course will be able to:
          </span>
          <ul>
              <li>Learn how to store cryptocurrency securely</li>
              <li>Examine the mechanics behind a cryptocurrency transaction </li>
              <li>Know where to look when something goes wrong</li>
              <li>Explain how cryptocurrency is different than cash</li>
              <li>Understand how blockchain technology may impact YOU!</li>
          </ul>
      </div>
  </div>
  <div class="row container">
      <a href="/contact-us/">Notify Me When Live Classes Resume </a>
  </div>
</section>





<section class="cccVideoPlaylist">
  <div class="row">
    <h1>Crypto Curious Course</h1>
  </div>
    <div class="row">
        <div class="col-sm-6">
          <iframe src="https://www.youtube.com/embed/videoseries?list=PLVmd1I9lPns-xZJ_jBotqiQdfAxGD8_lz" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
      <div class="col-sm-6">
        <h2>Watch the video</h2> 
        <span>Log on curious. Walk away confident.</span>
        <p>Until we can safely meet for in-person classes again The Crypto Curious Course has moved online. It is designed to help bring learners into <a href="/faq/what-is-cryptocurrency/" target="_blank">cryptocurrency</a> and <a href="/faq/what-is-blockchain/" target="_blank">blockchain</a> by explaining the basics of how they work and going over the history of digital money and the context in which Bitcoin came to be.</p>
        </div>
    </div>
</section>


 
<section id="learnMore" class="container inPerson">
  <div class="row">
    <div class="col-sm-6 leftWhite">
        <h1>Carefully<br><strong class="red"> Curated</strong></h1>
        <p>The Crypto Curious Course was created by the Blockchain Institute, a 501(c)(3) nonprofit organization, dedicated to providing blockchain education to everyone free of charge.</p>
        <ul>
          <li>This course is over two years in the making. We crafted it to be easy for everyone to understand.</li>
          <br>
          <li>The full runtime is an hour and a half long. It’s the perfect balance of informative and accessible.</li>
          <br>
          <li>Watch it all at once or get crypto confident one section at a time.</li>
        </ul>         
        <p>Want to become an instructor and bring blockchain education to your community? <a href="/ambassadors/" target="_blank">Join our Blockchain Ambassador Program</a></p>
    </div>
    <div id="carouselExampleControls" class="col-sm-6 carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/img/CCCslides2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/img/CCCslides3.jpg" alt="Third slide">
        </div>
        <div class="carousel-item active">
          <img class="d-block w-100" src="/assets/img/CCCslides4.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/img/CCCslides5.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/img/CCCslides6.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/img/CCCslides7.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/img/CCCslides8.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/img/CCCslides9.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/img/CCCslides10.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/img/CCCslides11.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/img/CCCslides12.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/assets/img/CCCslides13.jpg" alt="First slide">
        </div>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      </div>
      <a href="downloads/CryptoCuriousCourseSlides.pdf" target="_blank" class="callToActionButton cccDownloadButton">Download All the Slides</a>
      <a href="https://ccc.weteachblockchain.org/" target="_blank" class="callToActionButton cccDownloadButton instructorSlides">Instructor Tools</a>
    </div>
  </div>
</section>

{% include pinkDivider.html %}

{% include nextCourses.html %}

<section class="doMore">
  <div class="row">
    <h1>Want to do more?</h1>
  </div>
    <div class="row">
        <div class="col-sm-6">
        <a href="https://weteachblockchain.org/courses/blockchain-101/">
          <img class="take101" src="/assets/img/BC101-01.jpg" alt="Blockchain 101">
          <h3>Take our Blockchain 101 course</h3>
        </a>
      </div>
      <div class="col-sm-6">
        <a href="https://weteachblockchain.org/ambassadors/">
          <img class="becomeAmbassador" src="/assets/img/Ambassadors_HomepageImage-01.jpg" alt="Become a Blockchain Ambassador">
          <h3>Become a Blockchain Ambassador</h3>  
        </a>      
      </div>
    </div>
</section>

<!--<section class="container bciBannerImage bciHandImage">
  <img src="/assets/img/WTBORG_InPersonCourse.jpg">
</section>-->

<section class="container mapSpace">
  <div class="row">
    <div class="col-sm-6" id="map-2">
      <img src="/assets/img/map.jpg">
    </div>
    <div class="col-sm-6">
        <h1>Non-Profit<br>Pro-<strong class="blue">Change</strong></h1>
        <p>Who are we? Blockchain Institute is a Public Charity that provides blockchain education for everyone that wants to learn. We promote the adoption, development, and use of blockchain technology.</p>

        <p><b>This is your chance to be an early adopter! A free course from the Blockchain Institute is where it all starts.</b></p>    
    </div>
  </div>
</section>

<!--<section class="container bciCallToAction">
  <div class="row">
    <div class="col-sm-6">
      <h1>Secure Your Spot</h1>
        
      
       <p>Our next Crypto Curious Class will take place online due to the coronavirus and stay-at-home orders for Chicago.</p>

      
        <p>Sign up today to get updates sent directly to your inbox!</p>


        <p><b>Make sure to check your spam filter if you don’t hear from us after signing up</b></p>


    </div>
    <div class="col-sm-6 bciCallout" id="rsvp">
      <img src="/assets/img/logo.jpg">
      <span>Join the our next class!</span>
      <span>Sign up below to save a seat in our next course</span>-->
      <!-- Begin Mailchimp Signup Form -->
      <!--<div id="mc_embed_signup">
      <form action="https://theblockchaininstitute.us18.list-manage.com/subscribe/post?u=ed27e0082d5f7e8d5cd3e3622&amp;id=d26ba20085" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>

          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <!--<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ed27e0082d5f7e8d5cd3e3622_d26ba20085" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
      </div>

      <script defer>

      function wait_and_check_mce_status () {
        if ( document.getElementById('mce-success-response').innerHTML != "" ) {
          console.log('redirect ran')        
          window.location = "https://theblockchaininstitute.org/courses/?utm_conversion=curious-to-competent";
        } else {
          console.log('nope');
          return false;
        }
      }

      document.getElementById('mc-embedded-subscribe').addEventListener("click", function () { setTimeout(wait_and_check_mce_status, 3000)} );

      (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);

      </script>-->
      <!--End mc_embed_signup-->
    <!--</div>
  </div>-->
</section>
