---
layout: default
title: Downloads
stylesheet: download.css
permalink: /downloads/
ogImage: Downloads-Banner.jpg
---

{% include pageHeader.html 
	img="Downloads-Banner.jpg" 
    imgMd="Downloads-Banner.jpg"
    imgSm="Downloads-Banner-sm.jpg"
	header="Downloads" 
    text="We’ve compiled the following resources to help supplement our instructor and student-led courses. Feel free to download and share within your organization."
%}

<section class="downloadsList">
    <div class="row">
        <h1 class="hasRowFill purple">Course Slides</h1>
        <div class="downloadsRowContainer">
            {% include downloadTile.html 
                    file="/downloads/CryptoCuriousCourseSlides.pdf"
                    title="Crypto Curious Course Slides"
                    image="/downloadThumbnails/CCCslides.jpg"
                %}
        </div>
    </div>
    <div class="row">
        <h1 class="hasRowFill purple">Handouts</h1>
        <div class="downloadsRowContainer">
            {% include downloadTile.html 
                    file="/downloads/BlockchainsAndCryptocurrency.pdf"
                    title="What are blockchains and cryptocurrency?"
                    image="/downloadThumbnails/pamphlet.jpg"
                %}
            {% include downloadTile.html 
                    file="/downloads/WhatIsAnICOInfographic.pdf"
                    title="What is an ICO?"
                    image="/downloadThumbnails/whatisICO.jpg"
                %}
            {% include downloadTile.html 
                    file="/downloads/WhatIsABlockchainInfographic.pdf"
                    title="What is a Blockchain?"
                    image="/downloadThumbnails/whatisBlockchain.jpg"
                %}
            {% include downloadTile.html 
                    file="/downloads/WhatIsAsymmetricalEncryptionInfographic.pdf"
                    title="Asymmetric Encryption"
                    image="/downloadThumbnails/asymmetricKeyEnc.jpg"
                %}
            {% include downloadTile.html 
                    file="/downloads/Beginner Quiz.pdf"
                    title="Beginner Quiz"
                    image="/downloadThumbnails/beginnerQuiz.jpg"
                %}
            {% include downloadTile.html 
                    file="/downloads/Intermediate Quiz.pdf"
                    title="Intermediate Quiz"
                    image="/downloadThumbnails/intermediateQuiz.jpg"
                %}
            {% include downloadTile.html 
                    file="/downloads/Advanced Quiz.pdf"
                    title="Advanced Quiz"
                    image="/downloadThumbnails/advancedQuiz.jpg"
                %}
            {% include downloadTile.html 
                    file="/downloads/Glossary.pdf"
                    title="Cryptocurrency Links"
                    image="/downloadThumbnails/Glossary.jpg"
                %}
            {% include downloadTile.html 
                    file="/downloads/WalletsAndPrivateKeys.pdf"
                    title="Wallets and Private Keys"
                    image="/downloadThumbnails/walletGuide.jpg"
                %}
        </div>
    </div>
    <div class="row">
        <h1 class="hasRowFill purple">Research</h1>
        <div class="downloadsRowContainer">
            {% include downloadTile.html 
                    file="/downloads/bitcoin_whitepaper.pdf"
                    title="Bitcoin: A Peer-to-Peer Electronic Cash System"
                    image="/downloadThumbnails/bitcoin-thumbnail-1.jpg"
                %}
            {% include downloadTile.html 
                    file="/downloads/ethereum_whitepaper.pdf"
                    title="Ethereum - Decentralized Applications"
                    image="/downloadThumbnails/ethereum-thumbnail.jpg"
                %}
            {% include downloadTile.html 
                    file="/downloads/filecoin.pdf"
                    title="Filecoin - Proof of Storage"
                    image="/downloadThumbnails/filecoin.jpg"
                %}
            {% include downloadTile.html 
                    file="/downloads/WhitePaper-The_Maker_Protocol_MakerDAO’sMulti-Collateral_Dai(MCD)System-FINAL-021720.pdf"
                    title="The Maker Protocol: MakerDAO’s Multi-Collateral Dai (MCD) System"
                    image="/downloadThumbnails/makerprotocol.jpg"
                %}
            {% include downloadTile.html 
                    file="/downloads/Crypto-Economics.pdf"
                    title="Simple Economics of Blockchain"
                    image="/downloadThumbnails/crypto-econ-thumbnail.jpg"
                %}
            {% include downloadTile.html 
                    file="/downloads/intro_cryptoeconomics.pdf"
                    title="CryptoEconomics - Vitalik Buterin"
                    image="/downloadThumbnails/cryptoEcon.jpg"
                %}
        </div>
    </div>

    <div class="row">
        <h1 class="hasRowFill purple">Assets</h1>
        <div class="downloadsRowContainer">
            {% include downloadTile.html 
                    file="/downloads/Style_Guide.pdf"
                    title="Style Guide"
                    image="/downloadThumbnails/styleGuide.jpg"
                %}
            {% include downloadTile.html 
                    file="/assets/img/brandAssets/WeTeachBlockchain_LOGOS.zip"
                    title="We Teach Blockchain logos"
                    image="/downloadThumbnails/WTBlogoPacket.jpg"
                %}
            {% include downloadTile.html 
                    file="/assets/img/brandAssets/TheBlockchain Institute_LOGOS.zip"
                    title="The Blockchain Institute logos"
                    image="/downloadThumbnails/TBIlogoPacket.jpg"
                %}
        </div>
    </div>
</section>

{% include getInvolved.html %}
