---
layout: default
title: Downloads
stylesheet: download.css
permalink: /downloads/
---

{% include pageHeader.html 
	img="Downloads-Banner.jpg" 
	header="Downloads" 
    text="Part of our mission at the Institute is to help others teach. In order to accomplish this goal we’ve compiled the following resources to help explain some of the details of this fast-evolving space. All of our resources are distributed freely, so please download them and share them within your organization."
    ctaText="View our full Course Catalog!" 
	ctaLink="/courses/" 
%}

<section class="downloadsList">
	<div class="row">
        <h1 class="hasRowFill purple">Handouts</h1>
            <div class="downloadsRowContainer">
                {% include downloadTile.html 
                    file="/downloads/Blockchain-101.pdf"
                    title="Blockchain 101 Handout"
                    image="/downloadThumbnails/pamphlet.jpg"
                %}
                {% include downloadTile.html 
                    file="/downloads/Pamphlet.pdf"
                    title="Blockchain Pamphlet"
                    image="/downloadThumbnails/trifold.jpg"
                %}
                {% include downloadTile.html 
                    file="/downloads/what_is_an_ico.png"
                    title="What is an ICO?"
                    image="/downloadThumbnails/whatisICO.jpg"
                %}
                {% include downloadTile.html 
                    file="/downloads/what_is_blockchain.jpg"
                    title="What is a Blockchain?"
                    image="/downloadThumbnails/whatisBlockchain.jpg"
                %}
                {% include downloadTile.html 
                    file="/downloads/howcanblockchainchangeindustry.png"
                    title="Industry Impacts"
                    image="/downloadThumbnails/howcanblockchainchange.jpg"
                %}
                {% include downloadTile.html 
                    file="/downloads/asymmetric_key_encryption.png"
                    title="Asymmetric Encryption"
                    image="/downloadThumbnails/asymmetricKeyEnc.jpg"
                %} 
                {% include downloadTile.html 
                    file="/downloads/Beginner+Quiz.pdf"
                    title="Beginner Quiz"
                    image="/downloadThumbnails/beginnerQuiz.jpg"
                %}
                {% include downloadTile.html 
                    file="/downloads/Intermediate+Quiz.pdf"
                    title="Intermediate Quiz"
                    image="/downloadThumbnails/intermediateQuiz.jpg"
                %}
                {% include downloadTile.html 
                    file="/downloads/Advanced+Quiz.pdf"
                    title="Advanced Quiz"
                    image="/downloadThumbnails/advancedQuiz.jpg"
                %}
                {% include downloadTile.html 
                    file="/downloads/Resources.pdf"
                    title="Cryptocurrency Links"
                    image="/downloadThumbnails/resourcesList2.jpg"
                %}
                {% include downloadTile.html 
                    file="/downloads/Wallets+and+Private+Keys.pdf"
                    title="Wallets and Private Keys"
                    image="/downloadThumbnails/walletGuide.jpg"
                %}
            </div>
    </div>
    <div class="row">
        <h1 class="hasRowFill purple">Research</h1>
            <div class="downloadsRowContainer">
                {% include downloadTile.html 
                    file="/downloads/bitcoin_whitepaper.pdf"
                    title="Bitcoin: A Peer-to-Peer Electronic Cash System"
                    image="/downloadThumbnails/bitcoin-thumbnail-1.jpg"
                %}
                {% include downloadTile.html 
                    file="/downloads/ethereum_whitepaper.pdf"
                    title="Ethereum - Decentralized Applications"
                    image="/downloadThumbnails/ethereum-thumbnail.jpg"
                %}
                {% include downloadTile.html 
                    file="/downloads/filecoin.pdf"
                    title="Filecoin - Proof of Storage"
                    image="/downloadThumbnails/filecoin.jpg"
                %}
                {% include downloadTile.html 
                    file="/downloads/WhitePaper-The_Maker_Protocol_MakerDAO’sMulti-Collateral_Dai(MCD)System-FINAL-021720.pdf"
                    title="The Maker Protocol: MakerDAO’s Multi-Collateral Dai (MCD) System"
                    image="/downloadThumbnails/makerprotocol.jpg"
                %}   
                {% include downloadTile.html 
                    file="/downloads/Crypto-Economics.pdf"
                    title="Simple Economics of Blockchain"
                    image="/downloadThumbnails/crypto-econ-thumbnail.jpg"
                %}
                {% include downloadTile.html 
                    file="/downloads/intro_cryptoeconomics.pdf"
                    title="CryptoEconomics - Vitalik Buterin"
                    image="/downloadThumbnails/cryptoEcon.jpg"
                %} 
            </div>
    </div>

    <div class="row">
        <h1 class="hasRowFill purple">Assets</h1>
            <div class="downloadsRowContainer">
                {% include downloadTile.html 
                    file="/downloads/Style_Guide.pdf"
                    title="Style Guide"
                    image="/downloadThumbnails/styleGuide.jpg"
                %}
                {% include downloadTile.html 
                    file="/assets/img/brandAssets/BlockchainInstitute_Logo_BLACK.png"
                    title="Logo (Black)"
                    image="/brandAssets/BlockchainInstitute_Logo_BLACK.png"
                %}
                {% include downloadTile.html 
                    file="/assets/img/brandAssets/BlockchainInstitute_Logo_COLOR.png"
                    title="Logo (Color)"
                    image="/brandAssets/BlockchainInstitute_Logo_COLOR.png"
                %}
                {% include downloadTile.html 
                    file="/assets/img/brandAssets/BlockchainInstitute_Logo_WHITE.png"
                    title="Logo (White)"
                    image="/brandAssets/BlockchainInstitute_Logo_WHITE.png"
                %}
		{% include downloadTile.html 
                    file="/assets/img/brandAssets/BlockchainInstitute_Logo_LOGOGRAPH.png"
                    title="Logograph (Color)"
                    image="/brandAssets/BlockchainInstitute_Logo_LOGOGRAPH.png"
                %}
                {% include downloadTile.html 
                    file="/assets/img/brandAssets/TBI_Logograph_White-04.png"
                    title="Logograph (White)"
                    image="/brandAssets/TBI_Logograph_White-04.png"
                %}
                {% include downloadTile.html 
                    file="/assets/img/brandAssets/PoweredBy-01.png"
                    title="Powered By Logo (Color)"
                    image="/brandAssets/PoweredBy-01.png"
                %}
                {% include downloadTile.html 
                    file="/assets/img/brandAssets/PoweredBy_BW-01.png"
                    title="Powered By Logo (Black and White)"
                    image="/brandAssets/PoweredBy_BW-01.png"
                %}
                {% include downloadTile.html 
                    file="/assets/img/brandAssets/PoweredBy_White-01.png"
                    title="Powered By Logo (White)"
                    image="/brandAssets/PoweredBy_White-01.png"
                %}
            </div>
    </div>    
</section>

{% include pinkDivider.html %}

{% include recentCourses.html %}
