---
layout: default
title: Events
stylesheet: events.css
permalink: /events/
---

{% include pageHeader.html 
	img="Events-Banner.png" 
	header="Events" 
    text="We love hiding behind our computers as much as anyone, but sometimes it’s good to rub elbows with your fellow Chicagoans. We host and attend events, meetups, workshops, and learning sessions at our location in Uptown and all across the city of Chicago. Join us!"	
    ctaText="Contact us about hosting/attending your event" 
	ctaLink="/contact-us/" 
%}

<script>
	setTimeout(checkEventType, 1000);
	
	function checkEventType () { 
		
		var currentUrlParts = window.location.href.split('/');
		var searchString = "";
	
		// first, remove slashes and header elements
		for ( var x = 4; x < currentUrlParts.length; x++ ) {
			searchString += " " + decodeURIComponent(currentUrlParts[x])
		}
		searchString.replace(/[^a-zA-Z ]/g, "")
		console.log('searchstring: ', searchString.trim())

		if ( "#Community" == searchString.trim() ) {
			console.log('community mode')
			filterEvents('Community')
		} else if ( "#Classroom" == searchString.trim() ) {
			console.log('classroom mode')
			filterEvents('Classroom')
		} else {
			console.log('no event type detected')
		}
	
	}
	
	function filterEvents(type) {
		var events = document.getElementsByClassName('eventTile')
		for (e of events) {
			console.log('checking tile ', e)
			if ( e.className.includes(type) ) {
	
			} else {
				e.className = e.className + " d-none"
			}
		}
		setFilterMessage(type)
	}

	function setFilterMessage (type) {
		document.getElementsByClassName('eventFilterNotification')[0].className = document.getElementsByClassName('eventFilterNotification')[0].className.replace('d-none','')
		document.getElementsByClassName('eventFilter')[0].textContent = type;
	}

</script>


<section class="header">
	<p>Blockchain Institute is a proud sponsor of educational endeavors such as&nbsp;<a class="externaLink" href="https://www.meetup.com/Bitcoin-Open-Blockchain-Community-Chicago/" target="_blank" rel="noopener" data-ce-key="816">The Chicago Bitcoin and Open Blockchain Meetup</a>,&nbsp;<a class="externaLink" href="http://chicagoblockchainproject.com/voice-of-blockchain/" target="_blank" rel="noopener" data-ce-key="817">The Voice of Chicago Conference</a>, and online resources like&nbsp;<a class="externaLink" href="https://blockchain.wtf/" target="_blank" rel="noopener">Blockchain.wtf!</a>&nbsp;Get in touch with us about sponsorships, speakers, or running a workshop for your next event. In need of space? Our headquarters at the&nbsp;<a class="externaLink" href="https://hackha.us/" target="_blank" rel="noopener">HackHaus</a>&nbsp;in Chicago provides an environment for a wide range of activities.</p>
	<a href="#">
		<span class="eventFilterNotification d-none">
			Filter Applied: <strong class="eventFilter"></strong> (click to clear)
		</span>
	</a>
</section>

{% assign sorted = site.events | sort: 'date' | reverse %}
{% assign futureposts = 0 %}

{% for event in sorted %}
	{% if event.date > site.time  %}
		{% assign i = i | plus:1 %}
	{% endif %}
{% endfor %}

{% if futureposts > 0 %} 

<section class="eventsList upcoming">
	<h1 class="hasColorTag red">Upcoming Events</h1>
	<div class="row">
		{% for event in sorted %}
	
			{% if event.date > site.time  %}
				{% include eventTile.html
					link=event.permalink 
					image=event.image 
					title=event.title 
					date=event.eventdate
					type=event.eventType
				%}

			{% endif %}
		{% endfor %}
	</div>
</section>

{% endif %}

<section class="eventsList past">
	<h1 class="hasColorTag teal">Past Events</h1>
	<div class="row">
		{% for event in sorted %}
			{% if event.date < site.time  %}
				{% include eventTile.html
					link=event.permalink 
					image=event.image 
					title=event.title 
					date=event.eventdate
					type=event.eventType
				%}
			{% endif %}
		{% endfor %}
	</div>
	
</section>

{% include pinkDivider.html %}

{% include recentCourses.html %}
