---
layout: default
title: Events
stylesheet: events.css
permalink: /events/
ogImage: Events-Banner.jpg
---

{% include pageHeader.html 
	img="Events-Banner.jpg" 
	header="Events" 
    text="See what we’ve been up to and what we have coming up! We host and attend virtual events of all kinds. Contact us about speaking at your event or teaching a blockchain workshop."
%}

<script>
	setTimeout(checkEventType, 1000);
	setTimeout(setEventClickListener, 1000);

	function setEventClickListener() {
		var eventsButtons = document.getElementsByClassName('eventsNav')
		for (button of eventsButtons) {
			button.addEventListener('click', function () {
				clearEventFilters()
				checkEventType()
			})
		}
	}

	function checkEventType() {
		var currentUrlParts = window.location.href.split('/');
		var searchString = "";

		// first, remove slashes and header elements
		for (var x = 4; x < currentUrlParts.length; x++) {
			searchString += " " + decodeURIComponent(currentUrlParts[x])
		}
		searchString.replace(/[^a-zA-Z ]/g, "")

		if ("#Community" == searchString.trim()) {
			filterEvents('Community')
		} else if ("#Classroom" == searchString.trim()) {
			filterEvents('Classroom')
		} else {
			// no events filter specified
		}

	}

	function filterEvents(type) {
		var events = document.getElementsByClassName('eventTile')
		for (e of events) {
			if (e.className.includes(type)) {

			} else {
				e.className = e.className + " d-none"
			}
		}
		setFilterMessage(type)
	}

	function clearEventFilters() {
		var eventTiles = document.getElementsByClassName('eventTile')
		for (e of eventTiles) {
			e.className = e.className.split('d-none').join(' ')
		}
		unsetFilterMessage()
	}

	function setFilterMessage(type) {
		document.getElementsByClassName('eventFilterNotification')[0].className = document.getElementsByClassName('eventFilterNotification')[0].className.replace('d-none', '')
		document.getElementsByClassName('eventFilter')[0].textContent = type
	}

	function unsetFilterMessage() {
		if (!document.getElementsByClassName('eventFilterNotification')[0].className.includes('d-none')) {
			document.getElementsByClassName('eventFilterNotification')[0].className = document.getElementsByClassName('eventFilterNotification')[0].className + ' d-none'
			document.getElementsByClassName('eventFilter')[0].textContent = ""
		}
	}

</script>


<section class="header">
	<p>Blockchain Institute is a proud sponsor of educational endeavors such as&nbsp;<a class="externaLink"
			href="https://www.meetup.com/Bitcoin-Open-Blockchain-Community-Chicago/" target="_blank" rel="noopener"
			data-ce-key="816">The Chicago Bitcoin and Open Blockchain Meetup</a>,&nbsp;<a class="externaLink"
			href="http://chicagoblockchainproject.com/voice-of-blockchain/" target="_blank" rel="noopener"
			data-ce-key="817">The Voice of Blockchain Conference</a>, and online resources like&nbsp;<a
			class="externaLink" href="https://blockchain.wtf/" target="_blank"
			rel="noopener">Blockchain.wtf!</a>&nbsp;Get in touch with us about sponsorships, speakers, or running a
		workshop for your next event. In need of space? Our headquarters at the&nbsp;<a class="externaLink"
			href="https://hackha.us/" target="_blank" rel="noopener">HackHaus</a>&nbsp;in Chicago provides an
		environment for a wide range of activities.</p>
	<a onclick="clearEventFilters()">
		<span class="eventFilterNotification d-none">
			Filter Applied: <strong class="eventFilter"></strong> (click to clear)
		</span>
	</a>
</section>

{% assign sorted = site.events | sort: 'date' | reverse %}
{% assign futureposts = 0 %}

{% for event in sorted %}
{% if event.date > site.time  %}
{% assign futureposts = futureposts | plus:1 %}
{% endif %}
{% endfor %}

{% if futureposts > 0 %}

<section class="eventsList upcoming">
	<h1>Upcoming Events</h1>
	<div class="row">
		{% for event in sorted %}

		{% if event.date > site.time  %}
		{% include eventTile.html
					link=event.permalink 
					image=event.image 
					title=event.title 
					date=event.eventdate
					type=event.eventType
				%}

		{% endif %}
		{% endfor %}
	</div>
</section>

{% endif %}

<section class="eventsList past">
	<h1>Past Events</h1>
	<div class="row">
		{% for event in sorted %}
		{% if event.date < site.time  %}
		{% include eventTile.html
					link=event.permalink 
					image=event.image 
					title=event.title 
					date=event.eventdate
					type=event.eventType
				%}
		{% endif %}
		{% endfor %}
	</div>

</section>

{% include getInvolved.html %}