---
layout: default
title: Frequently Asked Questions
stylesheet: faq.css
permalink: /faq/
ogImage: FAQ-banner.jpg
---

{% include pageHeader.html 
	img="FAQ-banner.jpg" 
	header="Frequently Asked Questions" 
    text="Not sure where to start? Feeling lost in a world of new terms and concepts? Our FAQs explain information in digestible bits to help you get started."	
    ctaText="What FAQ should we do next? Let us know!" 
	ctaLink="/contact-us/" 
%}

{% include factoid.html page="faq" %}

<section class="faqList upcoming">
	<h1>FAQs</h1>
	<div class="row">
		{% assign faqs = site.faq | sort: 'weight' %}
		{% for item in faqs  %}
		{% include faqTile.html 
				image=item.image
				link=item.permalink
				title=item.title
				readtime=item.readtime
				author=item.tag
				imageSm=item.imageSm
				imageMd=item.imageMd
				keywords=item.focusKeyword
			%} 
		{% endfor %}
	</div>
</section>

<section class="getInvolvedFooter">
	<div class="row">
	  <h1>Get Involved</h1>
	  <span class="descriptionText">
		Our self-directed courses contain everything you need to get started towards becoming a blockchain expert, from
		the comfort of your own home! Don't let the blockchain revolution pass you by - try a course today!
	  </span>
	  <div class="getInvolvedThumbnailContainer">
		<a href="https://theblockchaininstitute.us18.list-manage.com/subscribe/post?u=ed27e0082d5f7e8d5cd3e3622&id=d50da5888a">
		<div class="giTile"> 
		  <img src="/assets/img/Newsletter.jpg"/>
		  <h3>Sign up for our newsletter</h3>
		  <span>Lorem ipsum dolor sit consectuter adipiscing elit.</span>
		</div>
	  </a>
	  <a href="/discord/">
		<div class="giTile"> 
		  <img src="/assets/img/Discord.jpg"/>
		  <h3>Join our Discord</h3>
		  <span>Lorem ipsum dolor sit consectuter adipiscing elit.</span>
		</div>
	  </a>
	  <a href="/ambassadors/">
		<div class="giTile"> 
		  <img src="/assets/img/Ambassadors_HomepageImage-01.jpg"/>
		  <h3>Become an Ambassador</h3>
		  <span>Lorem ipsum dolor sit consectuter adipiscing elit.</span>
		</div>
	  </a>
	  <a href="/blog/">
		<div class="giTile"> 
		  <img src="/assets/img/BlogsubmissionHEADER.jpg"/>
		  <h3>Write a blog post</h3>
		  <span>Lorem ipsum dolor sit consectuter adipiscing elit.</span>
		</div>
	  </a>
	  </div>
	</div>
  </section>