---
layout: default
title: Frequently Asked Questions
stylesheet: faq.css
permalink: /faq/
---

{% include pageHeader.html 
	img="FAQ-banner.png" 
	header="FAQs" 
    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."	
    ctaText="Learn Blockchain Free Today!" 
	ctaLink="/courses/blockchain-101/" 
%}

<section class="faqList upcoming">
	<h1 class="hasColorTag red">FAQs</h1>
	<div class="row">
		{% for item in site.faq %}
			{% include faqTile.html 
				image=item.image
				link=item.permalink
				title=item.title
				author=item.author
			%}
		{% endfor %}
	</div>
</section>

