---
layout: default
title: We Teach Blockchain
stylesheet: homepage.css
ogTitle: Blockchain Institute
ogDesc: We are a nonprofit organization with the mission of educating the world on all things related to blockchain, cryptocurrency, and decentralized technology. Sign up for an in-person class or take a free online course today!
ogImage: https://weteachblockchain.org/assets/img/headerBackgroundTile.jpg
ogUrl: https://weteachblockchain.org/
---
<script>
  function bic_showMailChimp () {
    console.log('display mc triggered')
  }
</script>

{% include pageHeader.html 
	img="Homepage_Banner.jpg" 
	header="#WeTeachBlockchain" 
	text="Blockchain is the future but you can’t wait to learn about it. We are a 501(c)(3) nonprofit organization dedicated to providing educational resources for you no matter who you are. Start your blockchain journey today with one of our free online or in-person courses." 
	ctaText="Learn Blockchain Free Today!" 
	ctaLink="/courses/blockchain-101/" 
%}


<section class="pathsList">
	<h1 class="hasColorTag teal">Education Paths</h1>
	<div class="row">
		<div class="col-sm-12">
			<span>
				Want to learn what a blockchain is? How it will affect your industry? How to build with it? Start Here. 
			</span>
		</div>
	</div>
	<div class="row pathButtons">
		<div class="col-sm-4">
			<a target="_blank" href="/courses/novice/">
				<img src="/assets/img/Novice_button.jpg">
        <h5>Novices</h5>
        <span>FREE COURSES</span>
			</a>

		</div>
		<div class="col-sm-4">
			<a target="_blank" href="/courses/developers/">
				<img src="/assets/img/Developers_button.jpg">
				<h5>Developers</h5>
        <span>FREE COURSES</span>
			</a>
			
		</div>
		<div class="col-sm-4">
			<a target="_blank" href="/courses/professionals/">
				<img src="/assets/img/Professionals_button.jpg">
				<h5>Professionals</h5>
        <span>FREE COURSES</span>
			</a>
			
		</div>
		
  </div>
  <div class="row ctaCenter">
    <a href="/courses/" target="_blank" class="callToActionButton">BROWSE OUR FREE COURSES</a>
  </div>
</section>

<section class="ourMission">
  <div class="row">
      <div class="col-sm-6 hpMission" style="background:url(/assets/img/Homepage_Mission.jpg);background-size:cover;background-position:center;">

      </div>
      <div class="col-sm-6">
        <h1 class="blueBar right">
          Our Mission
        </h1>
        <span>
          The Blockchain Institute was founded to help everyone understand blockchain and further its adoption, development, and use. We do this by providing free courses and other educational materials. Whether you are just curious, applying blockchain to your field or interested in building with it, we are here for you.
        </span>
      </div>
  </div>
</section>

<section class="events" style="background:url(/assets/img/Homepage_Events.jpg);background-size:cover;background-position:center;">
  <div class="row">
      <div class="col-sm-6">

      </div>
      <div class="col-sm-6">
        <h1 class="blueBar right">
          Come to an Event
        </h1>
        <div class="eventsContainer">
          {% assign sorted = site.events | sort: 'date' | reverse %}
          {% for event in sorted limit:4 %}
  
              {% include eventTile.html
                link=event.permalink 
                image=event.image 
                title=event.title 
                date=event.eventdate
              %}
  
          {% endfor %}
        </div>
        <a href="/events/" target="_blank" class="callToActionButton">Attend a Blockchain Event</a>
      </div>
  </div>
</section>

<section class="onlineCourses blueDivider">
  <div class="row">
    <h1>Check Out Our Online Courses</h1>
    <div class="coursesThumbnailContainer"> 
      {% assign sorted = site.courses | sort: 'tags' %}
      {% for course in sorted %}
        {% include courseTile.html 
          image=course.image
          title=course.title 
          author=course.author 
          summary=course.summary 
          link=course.permalink 
          tag=course.primaryTag	
        %}
      {% endfor %}
    </div>
    <a href="/courses/" target="_blank" class="callToActionButton">Browse our Free Courses</a>
  </div>
</section>


<section class="faq">
  <div class="row">
    <h1 class="redBar">Got A Question?</h1>
    <div class="faqThumbnailContainer"> 
      {% assign faqSample = site.faq | sample: 3 %}
      {% for item in faqSample limit:3 %}
        {% include faqTile.html 
          image=item.image
          link=item.permalink
          title=item.title
          author=item.author
        %}
      {% endfor %}
    </div>
    <a href="/faq/" target="_blank" class="callToActionButton">Check out our Blockchain FAQ!</a>
  </div>
</section>

<!-- Testimonials go here -->

<!-- Recent tweets integration goes here -->

{% include recentCourses.html %}
