---
layout: default
title: Current Openings
stylesheet: jobs.css
permalink: /jobs/
---

{% include pageHeader.html img="team-banner.jpg" %}

<section class="jobs">
  <div class="row">
<h1>Community Manager</h1>
<h2>The Opportunity</h2>
<p>Join a talented team and help us teach the world about the future of a decentralized internet! If you’ve heard of Bitcoin, we can take you from curious to confident in our proven Crypto Curious Course. To help us spread the word, we have a team of ambassadors in 15 countries, and you will have the chance to continue building a network of educators and changemakers around the world.</p>
<p><i>We’re a small organization looking for someone that stands out, so feel free to have a bit of fun with your cover letter :)</i></p>
<h2>Who We Are</h2>
<p> Blockchain Institute is a 501(c)(3) public charity dedicated to educating the public about blockchains and decentralization. We make approachable and engaging learning materials to reach anyone on their blockchain journey. Our goal is to kick start mass adoption of decentralized ledger technology by empowering learners to participate in our courses--first as students, then as teachers. We are fostering a community of informed blockchain advocates and are in search of an excellent community manager to help us build upon what we have already created.</p>
<h2>Useful Experience</h2>
<ul>
  <li>2-3 years work experience as a community manager or similar role</li>
  <li>Interest in Blockchain and Cryptocurrency</li>
  <li>Excellent communication, analytical and written skills</li>
  <li>Experience with social media account management</li>
  <li>Experience identifying and tracking relevant community KPIs with Google Analytics</li>
  <li>Familiarity with Discord community tools</li>
  <li>Ability to manage workflow amid shifting priorities</li>
</ul>
<h2>You Are:</h2>
<ul>
  <li>Energetic and friendly</li>
  <li>Open minded</li>
  <li>Fluent in social media and meme culture</li>
  <li>Excited about the potential of blockchain and distributed technology</li>
  <li>Desire to add input to team conversations, not simply take direction</li>
</ul>
<h2>Key Responsibilities</h2>
<div class="subBullets">
<h3>Blockchain Ambassador Program</h3>
<ul>
  <li>Manage the Blockchain Ambassador program - our international street team</li>
  <li>Utilize the Ambassadors to help us grow the brand on social media, by word of mouth, and in their local communities</li>
  <li>Own the Ambassador chat, and set the tone for the discussion</li>
  <li>Identify potential instructors that may wish to teach our content</li>
</ul>
<h3>"Share the Knowledge" Affiliate Program</h3>
<ul>
  <li>Encourage ambassadors to share any promotions for the chance to win prizes</li>
  <li>Set weekly rewards and crown winners</li>
  <li>Motivate Ambassadors to help us share with the community</li>
</ul>
<h3>Drive Social Media</h3>
<ul>
  <li>Engage with our community and build our presence on social media platforms (Twitter, LinkedIn, Facebook, Instagram)</li>
  <li>Understand and implement the collective brand voice and mission of Blockchain Institute consistently in the public arena</li>
  <li>Stay up to date with blockchain industry trends, news, and innovations.</li>
  <li>Identify content and media initiatives that might resonate with our audience</li>
</ul>
<h3>Establish Relationships</h3>
<ul>
  <li>Connect with students to figure out how we can make content more engaging or where updates may need to be made</li>
  <li>Establish relationships with potential education partners</li>
  <li>Communicate fundraising activities to the community at large</li>
  <li>Explore new opportunities to create collaborative value in the community</li>
</ul>
<h3>Identify Trends</h3>
<ul>
  <li>Help us craft our content strategy</li>
  <li>Source interesting blog posts from the community for our website</li>
  <li>Help us incentivize collaboration and connection from our community partners</li>
  <li>Be a meme master, helping the team to understand what trends might stick</li>
</ul>
</div>
<H2>Benefits</h2>
<ul>
  <li>Flex Office space located in Uptown Chicago</li>
  <li>Ability to work remote</li>
  <li>Work Hours 10 am - 5 pm CST</li>
  <li>100% paid individual Health Insurance</li>
  <li>Small team with amazing coworkers</li>
  <li>Generous paid time off</li>
</ul>
<h2>Apply</h2>
<p>To apply please send your resume and cover letter to jobs@weteachblockchain.org</p>
</div>
</section>

{% include pinkDivider.html %}

{% include FAQfooter.html %}
