---
layout: default
title: About Us
stylesheet: pressReleases.css
permalink: /press-releases/
---


{% include pageHeader.html 
	img="team-banner.png" 
	header="Press Releases" 
    text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco"	
    ctaText="Sign Up For Our Newsletter" 
	ctaLink="/courses/contact-us/" 
%}

<section class="pressReleases">
    <div class="row">
            
		{% assign sorted = site.pressReleases | sort: 'date' | reverse %}
        {% for item in sorted %}
            {% include pressRelease.html 
                date=item.eventdate 
                content=item.content 
                title=item.title    
            %}
            
        {% endfor %}
     
	</div>

</section>


{% include pinkDivider.html %}

{% include recentEvents.html %}