---
layout: default
title: Developer Courses
stylesheet: courses.css
permalink: /courses/professionals/
---

{% include pageHeader.html 
	img="Professionals-Banner.jpg" 
	header="Professionals" 
	text="If your industry is adopting Blockchain systems, it's important to ensure you're up to date and understand the language. Our Professional track keeps it simple so you can learn what you need to without taking your whole day.<br>All of our courses are 100% FREE and take less than an hour to complete." 
	ctaText="Learn Blockchain Today" 
	ctaLink="/courses/blockchain-101/" 
%}

<section class="breadcrumbs">
	<div class="row">
		<div class="col-sm-12">
			<a href="/">Home</a>/<a href="/courses/">Courses</a>/<a href="#">Professionals</a>
		</div>
	</div>
</section>

<section class="coursesList">
	<h1 class="hasColorTag purple">Courses</h1>
	{% assign sorted = site.courses | sort: 'tags' %}
	{% for course in sorted %}
		<script>console.log('tag is {{course.tags}}')</script>
		{% if course.tags contains "professional" %}

			<script>console.log('tag is good')</script>
			{% include courseListing.html 
				image=course.image
				title=course.title 
				author=course.author 
				summary=course.summary 
				link=course.permalink 
				tag="professional"
			%}
		{% endif %}
	{% endfor %}
</section>

<section class="pathsList">
	<h1 class="hasColorTag teal">Paths</h1>
	<div class="row">
		<div class="col-sm-12">
			<span>
				Looking for something something?
			</span>
		</div>
	</div>
	<div class="row pathButtons">
		<div class="col-sm-4">
			<a target="_blank" href="/courses/novice/">
				<img src="/assets/img/Novice_button.jpg">
				<h5>Novice</h5>
			</a>

		</div>
		<div class="col-sm-4">
			<a target="_blank" href="/courses/developers/">
				<img src="/assets/img/Developers_button.jpg">
				<h5>Developers</h5>
			</a>

		</div>
		
	</div>
</section>

{% include pinkDivider.html %}

{% include upcomingEvents.html %}