---
layout: default
title: Developer Courses
stylesheet: courses.css
permalink: /courses/professionals/
ogImage: Professionals-Banner.jpg
---

{% include pageHeader.html 
	img="Professionals-Banner.jpg" 
	header="Professionals"  
    imgMd=""
    imgSm=""
	text="If your industry is adopting Blockchain systems, it's important to ensure you're up to date and understand the language. Our Professional track keeps it simple so you can learn what you need to without taking your whole day.<br>All of our courses are 100% FREE and take less than an hour to complete." 
	ctaText="Start Blockchain for Business" 
	ctaLink="/courses/blockchain-for-business/1/public-vs-private-blockchains" 
%}

<section class="breadcrumbs bcCoursePath">
	<div class="row">
		<div class="col-sm-12">
			<a href="/">Home</a> / <a href="/courses/">Courses</a> / <a href="#">Professionals</a>
		</div>
	</div>
</section>

{% include loginToTrackProgress.html %}

<section class="coursesList coursePathHeader">
	<h1 class="hasColorTag purple">Courses</h1>
	{% assign sorted = site.courses | sort: 'tags' %}
	{% for course in sorted %}

	{% if course.tags contains "professional" %}

	{% include courseListing.html 
				image=course.image
				title=course.title 
				author=course.author 
				summary=course.summary 
				link=course.permalink 
				tag="professional"
				slug=course.slug
			%}
	{% endif %}
	{% endfor %}
</section>

<section class="pathsList pathPage">
	<h1 class="hasColorTag teal">Paths</h1>
	<div class="row">
		<div class="col-sm-12">
			<span>
				Looking for something different?
			</span>
		</div>
	</div>
	<div class="row pathButtons">
		<div class="col-sm-4">
			<a href="/courses/beginners/">
				<img src="/assets/img/Novice_button.jpg">
				<h5>Beginners</h5>
			</a>

		</div>
		<div class="col-sm-4">
			<a href="/courses/developers/">
				<img src="/assets/img/Developers_button.jpg">
				<h5>Developers</h5>
			</a>

		</div>

	</div>
</section>

{% include coursesMap.html %}

{% include coursesProgressCalculator.html %}

{% include pinkDivider.html %}

{% include FAQfooter.html %}