---
layout: default
title: Help us help adoption
stylesheet: support.css
permalink: /support-us/
ogImage: Support_Header-01.jpg
---

<!-- events.html -->
{% include pageHeader.html 
    img="Support_Header-01.jpg" 
    imgMd="Support_Header-01.jpg"
    imgSm="Support_Header-01-sm.jpg"
	header="Support Blockchain Education" 
	text="Blockchain Institute works to promote the adoption, development, and use of blockchain technology by providing <b>free education</b>. Learn how you can help."
%}

<section>
    <h1 class="supportHeadline">How You Can Help</h1><br>
    <div class="row">
        <div class="col-sm-6 supportOption">
            <img src="/assets/img/Donate.jpg">
            <h3>
                Donate
            </h3>
            <span>
                Help us directly by donating cryptocurrencies or USD to fund the creation of more educational courses
                and to keep them free for all. Because of our 501(c)(3) status, any donations are tax-exempt and can be
                taken as a credit on your future tax filings.
            </span>
            <a href="https://donate.weteachblockchain.org/">
                Donate Now
            </a>
        </div>
        <div class="col-sm-6 supportOption">
            <img src="/assets/img/ActiveCampaigns.jpg">
            <h3>
                Active Campaigns
            </h3>
            <span>
                <a class="inline"
                    href="https://gitcoin.co/grants/1643/weteachblockchain-decentralized-education">Gitcoin
                    Grants</a>
                Gitcoin Grants is an experiment where open source projects can crowdsource funding. Individual donations
                are matched by Gitcoin Grant’s fund sponsored by donors in the ethereum ecosystem.

                Gitcoin Grants’ Quadratic Funding program means that many people donating small amounts to a project can
                get a much higher match from their fund than a few people donating a lot. Your generous donations will
                never go further to help us then they will with this program. This is your chance to have a huge impact
                on our future funding!
            </span>
            <a href="https://gitcoin.co/grants/1643/weteachblockchain-decentralized-education">
                Get matching
            </a>
        </div>
    </div>
</section>

<section>
    <h1 class="supportHeadline">How You Can Help</h1><br>
    <div class="row">
        <div class="col-sm-6 supportOption">
            <img src="/assets/img/AmazonSmile.jpg">
            <h3>
                Amazon Smile
            </h3>
            <span>
                Whenever you shop on Amazon use our AmazonSmile link. It costs you nothing and they make a small
                donation to us when you do. This costs you nothing, but makes a big difference for us!
            </span>
            <a
                href="https://smile.amazon.com/gp/chpf/homepage/ref=smi_chpf_redirect?ie=UTF8&ein=82-4193542&ref_=smi_ext_ch_82-4193542_cl">
                Sign Up
            </a>
        </div>
        <div class="col-sm-6 supportOption">
            <img src="/assets/img/SpreadtheWord.jpg">
            <h3>
                Help Spread the Word
            </h3>
            <span>
                Follow us on social media and help spread the word by sharing our posts or your favorite content with
                your followers.
                <ul class="navbar-nav flex-row">
                    <li class="nav-item"><a target="_blank" class="nav-link px-2"
                            href="https://www.facebook.com/TheBlockchainInstitute"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="nav-item"><a target="_blank" class="nav-link px-2"
                            href="https://twitter.com/bchaininstitute"><i class="fab fa-twitter"></i></a></li>
                    <li class="nav-item"><a target="_blank" class="nav-link px-2"
                            href="https://www.linkedin.com/company/blockchain-institute-chi/"><i
                                class="fab fa-linkedin"></i></a></li>
                    <li class="nav-item"><a target="_blank" class="nav-link px-2"
                            href="https://www.instagram.com/theblockchaininstitute/"><i
                                class="fab fa-instagram"></i></a></li>
                </ul>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 supportOption">
            <img src="/assets/img/Newsletter.jpg">
            <h3>
                Sign Up And Share Our Newsletter
            </h3>
            <span>
                Follow our newsletter to keep up with us and share it with others.
            </span>
            <a href="http://eepurl.com/dxo70j">
                Join the Movement
            </a>
        </div>
        <div class="col-sm-6 supportOption">
            <img src="/assets/img/AmbassadorsNewsletterImage-01.jpg">
            <h3>
                Become a Blockchain Ambassador
            </h3>
            <span>
                Help teach blockchain to your community by joining our Blockchain Ambassador Program. We provide the
                tools and resources you need and offer support based on what we’ve learned.
            </span>
            <a href="/ambassadors/">
                Join our Team
            </a>
        </div>
    </div>
</section>

{% include getInvolved.html %}
