---
layout: default
title: Use Bitcoin
stylesheet: use-bitcoin.css
permalink: /use-bitcoin/
ogTitle: Use Bitcoin
ogDesc: You’ve heard about bitcoin, but what is it really? We've got the answers you need.
ogImage: https://weteachblockchain.org/assets/img/headerBackgroundTile.jpg
ogUrl: https://weteachblockchain.org/use-bitcoin/
---
{% include pageHeader.html
    img="headerBackgroundTile.jpg" 
    imgSm="headerBackgroundTile.jpg" 
      header="Welcome to<br>WeTeachBlockchain" 
      text="You've made it here and that means you have all the skills needed to transact with bitcoin - we can show you how easy it is!"
%}

<section class="btcExplained">
  <h1 class="hasColorTag red">What do QR codes have to do with Bitcoin transactions?</h1>
  <div class="row container">
    <div class="col-sm-4">
        <img class="phoneImg" src="/assets/img/QRBC_landingpage-01.png">
        <span class="phoneQRText">Open your Crypto Wallet, select Bitcoin, and hit Send.</span>
        <img class="arrowRight" src="/assets/img/QRBC_landingpage-07.png">
    </div>
    <div class="col-sm-4">
        <img class="phoneImg" src="/assets/img/QRBC_landingpage-02.png">
        <span class="phoneQRText">Choose the Scan option so you can scan your friend's address as a QR code</span>
        <img class="arrowRight" src="/assets/img/QRBC_landingpage-08.png">
    </div>
    <div class="col-sm-4">
        <img class="phoneImg" src="/assets/img/QRBC_landingpage-03.png">
        <span class="phoneQRText">Your friend opens their crypto wallet and selects Bitcoin and Receive</span>
    </div>          
  </div>
  <div class="row container">
    <div class="col-sm-4">
        <img class="phoneImg" src="/assets/img/QRBC_landingpage-04.png">
        <span class="phoneQRText">Scan the QR Code displayed on your friend's phone</span>
        <img class="arrowRight" src="/assets/img/QRBC_landingpage-07.png">
    </div>
    <div class="col-sm-4">
        <img class="phoneImg" src="/assets/img/QRBC_landingpage-05.png">
        <span class="phoneQRText">Enter the amount you want to send</span>
        <img class="arrowRight" src="/assets/img/QRBC_landingpage-08.png">
    </div>
    <div class="col-sm-4">
        <img class="phoneImg" src="/assets/img/QRBC_landingpage-06.png">
        <span class="phoneQRText">Hit Send!</span>
    </div>          
  </div>  
</section>

<section class="cccVideoPlaylist">
  <div class="row">
    <h1>You just completed a bitcoin transaction.</h1>
    <span>To see what is happening behind the scenes, watch the video below.</span>
  </div>
  <div class="row">
      <iframe src="https://www.youtube.com/embed/oP3bKCa8Rq4?list=PLVmd1I9lPns-xZJ_jBotqiQdfAxGD8_lz" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</section>

<section class="calloutQuestion">
  <h1>Wow - that was easy!<br>But how do I get started?</h1>
</section>

{% include pinkDivider.html %}
<section class="moreOptions">
  <div class="container row">
    <h1>Get your first bitcoin</h1>
    <div class="col-sm-6">
      <img src="/assets/img/HowToBuyFAQ.jpg">
    </div>
    <div class="col-sm-6">
      <span>It's easier than ever to get started with Bitcoin. The first thing you need to know is you don't have to buy a whole bitcoin. Many people only buy fractions at a time. There are a few different ways to acquire bitcoin and other cryptocurrencies. We go over their pros and cons in out <a href="/faq/how-to-buy-bitcoin/">How to Buy FAQ.</a></span>
    </div>    
  </div>
  <div class="container row">
    <h1>Learn about cryptocurrency wallets</h1>
    <div class="col-sm-6">
      <img src="/assets/img/qrcode_ccc.jpg">
    </div>
    <div class="col-sm-6">
      <span>Once you get some bitcoin where do you store it and keep it safe? A Wallet! Learn more about what cryptocurrency wallets are and how they work with <a href="">this video from our Crypto Curious Course</a></span>
    </div>    
  </div>
  <div class="container row">
    <h1>Take the crypto curious course</h1>
    <div class="col-sm-6">
      <img src="/assets/img/CCC_videoHeader.jpg">
    </div>
    <div class="col-sm-6">
      <span>Get up to speed in under 2 hours with out <a href="crypto-curious">Crypto Curious Course.</a> It's been crated to explain some of the more tricky concepts simply, and gives you a histoy of bitcoin and blockchain.</span>
    </div>    
  </div>
</section>

<section class="doMore">
  <div class="row">
    <h1>Want to do more?</h1>
  </div>
    <div class="row">
        <div class="col-sm-6">
        <a href="https://weteachblockchain.org/courses/blockchain-101/">
          <img class="take101" src="/assets/img/BC101-01.jpg" alt="Blockchain 101">
          <h3>Take our Blockchain 101 course</h3>
        </a>
      </div>
      <div class="col-sm-6">
        <a href="https://weteachblockchain.org/ambassadors/">
          <img class="becomeAmbassador" src="/assets/img/Ambassadors_HomepageImage-01.jpg" alt="Become a Blockchain Ambassador">
          <h3>Become a Blockchain Ambassador</h3>  
        </a>      
      </div>
    </div>
</section>

<section class="followUsFooter">
  <h1>Follow Us!</h1>
  <ul class="navbar-nav flex-row">
    <li class="nav-item"><a target="_blank" class="nav-link px-2" href="https://www.facebook.com/TheBlockchainInstitute"><i class="fab fa-facebook-f"></i></a></li>
    <li class="nav-item"><a target="_blank" class="nav-link px-2" href="https://twitter.com/bchaininstitute"><i class="fab fa-twitter"></i></a></li>
    <li class="nav-item"><a target="_blank" class="nav-link px-2" href="https://www.linkedin.com/company/blockchain-institute-chi/"><i class="fab fa-linkedin"></i></a></li>
    <li class="nav-item"><a target="_blank" class="nav-link px-2" href="https://www.instagram.com/theblockchaininstitute/"><i class="fab fa-instagram"></i></a></li>
  </ul>
</section>