<a href="{{ include.link }}">
<div class="card {{ include.type }}">        
    
        {% assign filtered_authors = site.authors | where: 'short_name', include.author %}
        {% for author in filtered_authors %}
            {% assign authorLongName = author.name %}
            {% assign authorLink = author.permalink %}
        {% endfor %}
        <img src="/assets/img/{{include.image}}"/>
        <h3>{{ include.title }}</h3>
        <p class="authorNameOnCard">{{ authorLongName }}</p>
        <!-- <span>{{ include.date | date: "%-d %B %Y"}}</span> -->
        <p>{{ include.summary }}</p>
        <!-- <a class="readMoreLink" href="{{ include.link }}">Read More</a> -->
</div>
</a>