<div class="row courseListing"> 
    <div class="col-sm-4">
        <img src="/assets/img/{{include.image}}"/>
    </div>
    <div class="col-sm-6">
        <h3>{{ include.title }}</h3>
        <span class="author">{{ include.author }}</span>
        <span class="summary">{{ include.summary }}</span>
        <a target="_blank" class="startCourseButton" href="{{ include.link }}">Start Course</a>
    </div>
    <div class="col-sm-2 courseTagContainer">
        <a href="/courses/{{include.tag}}s">
            <span class="courseTag {{include.tag}}">{{ include.tag }}</span>
        </a>
    </div>
</div>
