<script>
    window.coursesMap = [
    {% for course in site.courses %}{
        slug : "{{ course.slug }}",
        course : "{{ course.title }}",
        image : "{{ course.image }}",
        author : "{{ course.author }}",
        tag : "{{ course.primaryTag }}",
        permalink : "{{ course.permalink }}",
        lessons : [
            {% for module in site.modules %}
                {% if module.course == course.slug %}
                
                    {% for lesson in site.lessons %}
                        {% if lesson.course == course.slug %}
                        {% if lesson.module == module.number %}
                            {
                            link: "{{ lesson.permalink }}",
                            title: "{{ lesson.title }}",
                            slug: "{{ lesson.title | strip | replace: ' ', '-' | remove: '\' | remove: '!' | remove: '?' | remove: '&' | replace: '%', '-percent' | replace: '--', '-' | replace: '--', '-' | url_encode | downcase }}"
                            },
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        ]
    },{% endfor %}
    ];

    console.log('courseMap', window.coursesMap)
</script>