
<!-- 1. Install Magic SDK -->
<script src="https://cdn.jsdelivr.net/npm/magic-sdk/dist/magic.js" async defer></script>
<script src="/assets/js/accountHandler.js" defer></script>
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous" async defer></script>
<script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}" async defer></script>
<script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}" async defer></script>

<script src="/assets/js/search.js" type="text/javascript" async></script>
<script src="/assets/js/nav.js" type="text/javascript" async></script>
<link rel=preload id='fontawesome-css'  href="{{' /node_modules/@fortawesome/fontawesome-free/css/all.css' | prepend: site.baseurl}}">

<script src="https://cdn.jsdelivr.net/npm/intersection-observer@0.7.0/intersection-observer.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.1.2/dist/lazyload.min.js"></script>
<script>
  unsetLazyImg()

  function unsetLazyImg ( ) {
    // console.log('runningunsetlazyimg')
      var imgs = document.getElementsByTagName('img')
    //   console.log('imgs', imgs, imgs[0], imgs.length)
      for ( img of imgs ) {
          console.log('hiding image', img.src)
        if ( !img.className.includes('navbarBrand') ) {
          img.setAttribute('data-src', img.src)
          img.className += " lazy"
          img.src = ""
        }
      }
      var lazyLoadInstance = new LazyLoad({
        // Your custom settings go here
      });
      lazyLoadInstance.update()
  }

</script>