<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-6">
    	<h4>About Us</h4>
    	<span>The Blockchain Institute was founded to promote the adoption, development, and use of distributed ledger technology.</span>
		<ul class="navbar-nav flex-row">
		    <li class="nav-item"><a target="_blank" class="nav-link px-2" href="https://www.facebook.com/TheBlockchainInstitute"><i class="fa fa-facebook fa- "></i></a></li>
		    <li class="nav-item"><a target="_blank" class="nav-link px-2" href="https://twitter.com/bchaininstitute"><i class="fa fa-twitter fa- "></i></a></li>
		    <li class="nav-item"><a target="_blank" class="nav-link px-2" href="https://www.linkedin.com/company/blockchain-institute-chi/"><i class="fa fa-linkedin fa- "></i></a></li>
		    <li class="nav-item"><a target="_blank" class="nav-link px-2" href="https://www.instagram.com/theblockchaininstitute/"><i class="fa fa-instagram fa- "></i></a></li>
		</ul>
    	<br>
    	<span>Copyright 2019 The Blockchain Institute. All Rights Reserved</span>
    </div>
    <div class="col-md-6">
   		<h4>Subscribe Now</h4>
    	<span>Join our Mailing List to stay in the loop on all things Blockchain!</span>
    	<script>(function() {
			if (!window.mc4wp) {
				window.mc4wp = {
					listeners: [],
					forms    : {
						on: function (event, callback) {
							window.mc4wp.listeners.push({
								event   : event,
								callback: callback
							});
						}
					}
				}
			}
		})();</script>
    	<form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-114" method="post" data-id="114" data-name=""><div class="mc4wp-form-fields"><input type="email" name="EMAIL" placeholder="Your email address" class="mc_signup_input" required=""><button class="mc_signup" type="submit" value="Sign up"><i class="fa fa-envelope fa- "></i></button></div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></label><input type="hidden" name="_mc4wp_timestamp" value="1574204767"><input type="hidden" name="_mc4wp_form_id" value="114"><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1"><div class="mc4wp-response"></div></form>
		<br><a href="/press-releases" target="_blank">Press Releases</a> <a href="/course-catalog" target="_blank">Course Catalog</a> <a href="/team" target="_blank">About</a> <a href="/contact-us" target="_blank">Contact</a>
    </div>    
  </div>
  <!-- <img class="" src="/assets/img/footerBanner.png"> -->
</div>