<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-6">
    	<h4>About Us</h4>
    	<span>The Blockchain Institute was founded to promote the adoption, development, and use of distributed ledger technology. <a href="https://theblockchaininstitute.org/contact-us/">Contact Us</a></span>
    	<br>
    	<span>Copyright 2019 The Blockchain Institute. All Rights Reserved</span>
    </div>
    <div class="col-md-6">
   		<h4>Subscribe Now</h4>
    	<span>Join our Mailing List to stay in the loop on all things Blockchain!</span>
    </div>    
  </div>
  <!-- <img class="" src="/assets/img/footerBanner.png"> -->
</div>