<section class="getInvolvedFooter">
    <div class="row">
      <h1>Get Involved</h1>
      <span class="descriptionText">
        Our self-directed courses contain everything you need to get started towards becoming a blockchain expert, from
        the comfort of your own home! Don't let the blockchain revolution pass you by - try a course today!
      </span>
      <div class="getInvolvedThumbnailContainer">
        <a href="https://theblockchaininstitute.us18.list-manage.com/subscribe/post?u=ed27e0082d5f7e8d5cd3e3622&id=d50da5888a">
        <div class="giTile"> 
          <img src="/assets/img/Newsletter.jpg"/>
          <h3>Sign up for our newsletter</h3>
          <span>Lorem ipsum dolor sit consectuter adipiscing elit.</span>
        </div>
      </a>
      <a href="/discord/">
        <div class="giTile"> 
          <img src="/assets/img/Discord.jpg"/>
          <h3>Join our Discord</h3>
          <span>Lorem ipsum dolor sit consectuter adipiscing elit.</span>
        </div>
      </a>
      <a href="/blog/">
        <div class="giTile"> 
          <img src="/assets/img/BlogsubmissionHEADER.jpg"/>
          <h3>Write a blog post</h3>
          <span>Lorem ipsum dolor sit consectuter adipiscing elit.</span>
        </div>
      </a>
      </div>
    </div>
  </section>