<section class="getInvolvedFooter">
    <div class="row">
      <h1>Get Involved</h1>
      <span class="descriptionText">
        The best part of blockchain is that anyone can get involved!
      </span>
      <div class="getInvolvedThumbnailContainer">
        <a href="https://theblockchaininstitute.us18.list-manage.com/subscribe/post?u=ed27e0082d5f7e8d5cd3e3622&id=d50da5888a">
        <div class="giTile"> 
          <img src="/assets/img/Newsletter.jpg" alt="Newsletters" title="Sign Up for our Newsletter"/>
          <h3>Sign up for our newsletter</h3>
          <span>Receive announcements right in your inbox.</span>
        </div>
      </a>
      <a href="https://discord.gg/5yRyuMXsjn">
        <div class="giTile"> 
          <img src="/assets/img/Discord.jpg" alt="Discord logo" title="Join Our Discord" />
          <h3>Join our Discord</h3>
          <span>Want to chat? Join our Discord Server.</span>
        </div>
      </a>
      <a href="/ambassadors/">
        <div class="giTile"> 
          <img src="/assets/img/Ambassadors_HomepageImage-01.jpg" alt="Illustration of an Ambassador raising hand" title="Become an Ambassador" />
          <h3>Become an Ambassador</h3>
          <span>Help bring blockchain education to your community.</span>
        </div>
      </a>
      <a href="/blog/">
        <div class="giTile"> 
          <img src="/assets/img/BlogsubmissionHEADER.jpg" alt="Blog posts being sent to a computer" title="Write a blog post" />
          <h3>Write a blog post</h3>
          <span>Submit a blog on anything blockchain-related.</span>
        </div>
      </a>
      </div>
    </div>
  </section>
