    <link rel="shortcut icon" href="/assets/img/logoFiles/cropped_android_chrome_256x256_270x270_315_icon.ico">
    <link rel=icon href="/assets/img/logoFiles/cropped-android-chrome-256x256-32x32.png" sizes="32x32">
    <link rel=icon href="/assets/img/logoFiles/cropped-android-chrome-256x256-192x192.png" sizes="192x192">
    <link rel=apple-touch-icon-precomposed href="/assets/img/logoFiles/cropped-android-chrome-256x256-180x180.png">
    <meta name=msapplication-TileImage content="/assets/img/logoFiles/cropped-android-chrome-256x256-270x270.png">