<section id="loader" class="loaderLoader">
    <h1>Blockchain (n.)</h1>
    <span>Accuracy in the digital world.</span>

</section>

<style>
    /* Loader */
    .loaderLoader {
        height: 100vh;
        width: 100vw;
        position: absolute;
        display: block;
        z-index: 9999;
        text-align: center;
        color: white;
        background: #0B9BA4;
        padding-top: 35vh;
        background-color: #0B9BA4;
    }
    .loaderLoader h1 {
        color: #ed0744;
    }
    .loaderLoader span {
        font-size: 1.5rem;
        color: #2B2B2B;
    }
</style>