<!-- Navigation -->
<!--<nav class="navbar navbar-expand-lg navbar-dark static-top supportUsNav">
  <a class="nav-link donateNow" href="/support-us/">
    Support Us
  </a>
</nav>-->
<nav class="navbar navbar-expand-lg navbar-dark static-top logoNav">
    <a class="navbar-brand" href="/">
      <img class="navbarBrand" src="/assets/img/WTBLogo_oneline.png" width="200px" alt="">
    </a>
    <p>A community providing FREE blockchain education to all</p>
    <!--<button class="navbar-toggler" id="normalNavBarToggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto desktopNav">  
        <li class="nav-item ml-auto navbox" id="navBoxToggle"><a class="nav-link px-2 float-right" onclick="toggleDisplayNavBox()" href="#"><i class="fa fa-bars"></i></a></li>
        <li class="nav-item ml-auto" id="accountToggle"><a class="nav-link px-s fload-right" id="accountIcon" onclick="toggleDisplayAccountBox()" ><i class="fas fa-user-circle"></i></a></li>
      </ul>-->

      <!--<div class="mobileNavSidebar">
        <div class="mobileLogin">
          <div id="mobileApp">Loading...</div>
        </div>
        {% for item in site.data.navigation %}
            <h3>{{ item.header }}</h3>
            <ul> 
              {% for child in item.children %}
                <li class="nav-item">
                  <a class="nav-link {{ child.class }}" href="{{ child.link }}">
                    {{ child.name }}
                  </a>
                </li> 
              {% endfor %}
            </ul>
          {% endfor %}  
          <ul class="master">
            <li class="search">
              <a onclick="toggleDisplaySearchLightbox()" href="#">
                <i class="fa fa-search"></i> Search 
              </a>
            </li>
            <li class="donate">
              <a target="_blank" href="http://donate.weteachblockchain.org">
              Donate!
              </a>
            </li>
          </ul>
      </div>
    -->



      <!--<div id="accountDropdown" class="hoverNavbox account d-none">
        <div class="row">
          <div>
            <img class="accountLight redlight d-none" src="/assets/img/icon/redlight.png">
            <img class="accountLight greyswirl" src="/assets/img/icon/greyswirl.png">
          </div>
          <div>
            <div id="app">
              <div class="loadingMessage">
                <h1>Loading...</h1>
              </div>
            </div>
          </div>
        </div>
      </div>-->
      

    </div>

</nav>


<div class="navAutoCloseCover d-none" id="navAutoCloseCover" onclick="closeAllLightboxes()"></div>

<nav class="navbar navbar-expand-lg navbar-dark static-top menuBar">
  <a class="nav-link col menuBarItem" href="/faq/">
    FAQs
  </a>
  <a class="nav-link col menuBarItem" href="/courses/">
    Courses
  </a>
  <a class="nav-link col menuBarItem" href="/events/">
    Events
  </a>
  <div class="dropdown col">
    <button class="dropbtn">More <i class="fa fa-caret-down"></i></button>
    <div class="dropdown-content">
      <a href="/ambassadors/">Ambassadors</a>
      <a href="/about/">About Us</a>
      <a href="/blog/">Blog</a>
      <a href="/downloads/">Downloads</a>
      <a href="/press-releases/">Press</a>
      <a href="/contact-us/">Contact Us</a>
    </div>
  </div>
  <a class="nav-link col menuBarItem supportUsButton" href="/support-us/">
    Support Us
  </a>
</nav>




<!--
        <div id="navBox" class="hoverNavbox d-none"  tabindex="3" onfocusout="closeOtherLightboxBeforeOpening()">
        <div class="row">
          {% for item in site.data.navigation %}
          <div class="col-sm-4">
            <h3>{{ item.header }}</h3>
            <ul> 
              {% for child in item.children %}
                <li class="nav-item">
                  <a class="nav-link {{ child.class }}" href="{{ child.link }}">
                    {{ child.name }}
                  </a>
                </li> 
              {% endfor %}
            </ul>
          </div>
          {% endfor %}  
        </div>
        
      </div>
-->