<section class="pageHeaderImage">
    {% if include.img and include.img != ""  %}
        <style>
            .pageHeaderImage {
                background: url(/assets/img/{{include.img}}) !important;
                background-size: cover !important;
                background-position:center !important;
            }
        </style>
    {% endif %}
    {% if include.imgMd and include.imgMd != ""  %}
        <style>
            /* Bootstrap Tablet Trigger */ 
            @media screen and (max-width: 992px) {
                .pageHeaderImage {
                    background: url(/assets/img/{{include.imgMd}}) !important;
                }
            }
        </style>
    {% endif %}
    {% if include.imgSm  and include.imgSm != "" %}
        <style>
            /* Bootstrap Tablet Trigger */ 
            @media screen and (max-width: 600px) {
                .pageHeaderImage {
                    background: url(/assets/img/{{include.imgSm}}) !important;
                }
            }
        </style>
    {% endif %}    
    
    {% if include.header %}
    <div class="row">
        <div class="col-sm-6">
            <h1>{{ include.header }}</h1>
            <p>{{ include.text }}</p>
            {% if include.ctaText %}
                <a href="{{ include.ctaLink }}" class="callToActionButton">{{ include.ctaText }}</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</section>
