<style>
section.header {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    height: fit-content;    
}
section.headerImage {
    height: fit-content;
}
.headerImage img {
    min-width: 100vw;
    height: auto;
}

/* Headers */
h5 {
    text-transform: uppercase;
}

/* Page Headers */
section.pageHeaderImage {
    max-width: 100vw !important;
    overflow: hidden;
    text-align: center;
    background: url(/assets/img/Events-Banner.jpg);
    background-position: center;
    background-size: cover;
    min-height: 50vh;
    height: fit-content;
    margin-bottom: 5em;
    
}
section.pageHeaderImage.noText {
    min-height: 50vh;
}
section.pageHeaderImage .row {
    background: #00000094;
    min-width: 100%;
    color: white;
    margin: 0;
    text-align: left;
    min-height: 50vh;
    height: 100%;
}
.pageHeaderImage .col-sm-6 {
    margin-left: 6em;
    padding-left: .5em;
}
.pageHeaderImage .col-sm-6 h1 {
    margin-top: 2em;
    color: white;
    margin-left: 0;
    padding-left: 0;
}
.pageHeaderImage p {
    padding: 0;
    font-size: .9em;
    font-weight: 200;
    font-family: $default-font;
    line-height: 1.9;
    letter-spacing: .1px;
	margin-top: 1em;
	max-width: 80%;
}
.pageHeaderImage a.callToActionButton {
    background: white;
    padding: 1em 3em;
    margin-top: 2em;
    margin-bottom: 6em;
    color: #003449;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    margin-left: 0;
}
a.callToActionButton {
    font-weight: 600;
    letter-spacing: 0.05em;
    margin: auto;
    text-align: center;
    font-family: $primary-font;
}


/* Nav */
nav {
    background: white;
}
nav a.nav-link {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}
a.nav-link.donateNow {
    background: #ed0744;
    color: white !important;
    font-weight: 600;
    padding-left: 1em !important;
    padding-right: 1em !important;
    letter-spacing: .05em;
    font-family: Kanit;
    width: 100%;
    text-align: center;
    text-decoration: underline !important;
}

.supportUsNav {
    padding: 0em !important;
}

.nav-link.donateNow {
    padding: .2rem 1rem .35rem 1rem !important;
}

li.nav-item {
    margin-left: 0.5em;
}
ul.navbar-nav.ml-auto {
    margin-right: 1em;
}
a.nav-link:hover {
    color: #0b9ba4 !important;
}
.navbar-brand img {
    width: 17em;
    padding-top: .35em;
    padding-bottom: .35em;
}
.nav-item {
    text-align: center;
}   
a.nav-link.menuBarItem {
    font-size: .84em;
    font-weight: 500;
    letter-spacing: .04em;
    text-align: center;
}
.menuBar {
    border-top: 1px solid #848484;
}




/* Navbar container */
.navbar {
  overflow: hidden;
}

/* Links inside the navbar */
..menuBar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: 'Roboto';
    margin: 0;
    font-size: .84em;
    font-weight: 500;
    letter-spacing: .04em;
    text-transform: uppercase;
    padding: .55em 0em;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 1em;
  margin: .1em;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: .84em;
    font-weight: 500;
    letter-spacing: .04em;
    text-transform: uppercase;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown.col {
    text-align: center;
}

a.nav-link.col.menuBarItem:hover {
    box-shadow: inset 0 -3px 0 0 #ed0744;
    color: black !important;
}
.dropdown.col:hover {
    box-shadow: inset 0 -3px 0 0 #ed0744;
}
button.dropbtn:hover {
    background: inherit !important;
}

/* Social Nav */
ul.navbar-nav.flex-row {
    padding-left: 1em;
}
nav i {
    color: #0b9ba4;
}
a.nav-link i:hover {
    color: #00648c;
}
li.nav-item.navbox {
    padding-right: 0.5em;
    padding-left: 0;
}
nav.navbar.navbar-expand-lg.navbar-dark.static-top {
    padding: 0em 6.5em;
}

</style>
