$white:    #fff;
$red:     #dc3545;
$body-bg: $white;
$body-color: $white;
$custom-font-size: 50px;
$font-family: 'Kanit';

/* Brand colors */
$brand-teal : #2fae9f;
$brand-red : red;
$brand-purple: #c24774;
$brand-green: #2fae9f;
$brand-blue: #00698b;