a.callToActionButton {
    font-weight: 600;
    letter-spacing: 0.05em;
}
.ambassadorRow h1 {
    padding-left: 0em;
}
.ambassadorRow h3 {
    padding-left: 0em;
    margin-top: 1em;
}
.ambassadorRow p {
    padding-left: 0em;
    color: black;
}
.row.ambassadorRow {
    margin-bottom: 2em;
}
.ambassadorRow img {
    margin-bottom: 2em;
    margin-top: 1em;
}
.col-sm-4{
    padding-left: .5em;
    padding-right: .5em;
}
.col-sm-12{
    padding-left: .5em;
    padding-right: .5em;
}
.col-sm-4.educationHeader {
    color: #003449;
}
.col-sm-4.communityHeader {
    text-transform: uppercase;
    color: #0b9ba4;
}
.col-sm-4.promotionHeader {
    text-transform: uppercase;
    color: #a30071;
}
.educationHeader h4 {
    letter-spacing: .02em;
    margin-left: 0em;
    margin-top: 0em;
    font-size: 1.2em;
    font-family: Kanit, sans-serif;
    text-transform: uppercase;
}
.communityHeader h4 {
    letter-spacing: .02em;
    margin-left: 0em;
    margin-top: 0em;
}
.promotionHeader h4 {
    letter-spacing: .02em;
    margin-left: 0em;
    margin-top: 0em;
}
.ambassadorRow .subtitle {
    padding: 0em;
    margin-bottom: 2em;
}
dd {
    font-family: Roboto;
    margin-bottom: .5rem;
    margin-left: 0;
    text-transform: none;
    font-size: .9em;
    color: black;
    line-height: 1.9em;
    font-weight: 300;
}
.educationHeader dt {
    color: #003449;
}
.promotionHeader dt {
    color: #a30071;
}
section#joinNow {
    margin-bottom: 0em;
    background-image: url(/assets/img/AmbassadorJoinBG.jpg);
    padding-top: 6em;
    padding-bottom: 6em;
}
.container-fluid {
    width: 100%;
    padding-right: 0em;
    padding-left: 0em;
    margin-right: auto;
    margin-left: auto;
}
.contactUsForm h1 {
    margin-top: 0em !important;
    padding-left: 0em;
    float: right;
}
.contactUsForm input, .contactUsForm textarea {
    width: 100%;
    padding: 0.75em;
    font-size: .85em;
    border: #ed0744 1px solid;
    margin-bottom: 0.5em;
    font-family: Open Sans;
    float: right;
}


.locationDetails span {
    display: block;
    font-size: 1em;
}
.col-sm-6 a {
    font-size: 1em;
}
.col-sm-6.applyToday h1 {
    margin-top: 0em;
    padding-left: 0em;
    text-align: left;
}
.h-captcha {
    float: right;
    display: block;
}
.contactUsForm button {
    float: right;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

/*.col-sm-8.contactUsForm {
    text-align: left;
    margin: auto;
}*/

h1.sectionTitle {
    display: block;
    width: 100%;
    padding-bottom: 0.5em;
    margin-left: 0.15em;
    margin-top: .5em;
}
.header p {
    padding: 0em;
    float: right;
    width: 100%;
}
dt {
    color: #2fae9f;
}

p.subtitle {
    font-size: 75%;
    color: black;
    font-style: italic;
}
h4.tierHeader {
    margin-top: 0em;
    margin-left: 0em;
    text-align: center;
    text-transform: uppercase;
    font-family: kanit, sans-serif;
    font-size: 1.25em;
    color: white;
    background-color: #A30071;
    padding-top: .75em;
    padding-bottom: .75em;
}
.col-sm-4.tiers {
    margin-bottom: 3em;
    padding-left: 0em;
    padding-right: 0em;
    margin-left: .5em;
    margin-right: .5em;
    max-width: calc(33% - 1em);
    border: solid 1px #848484;
}
.tiers p {
    padding: 1em 2em 1em 2em;
    margin: 0em;
    font-size: 1em;
}
.activePerk {
    font-weight: 400;
}
.inactivePerk {
    color: #848484 !important;
}




section.header {
    text-align: end;
}

.col-sm-5.contactUsForm {
    background-color: white;
    padding: 2em;
    opacity: .95;
}