dt {
    color: #2fae9f;
}

p.subtitle {
    font-size: 75%;
    color: black;
    font-style: italic;
}

img {
    max-width: 100%;
}

/* Desktop */
@media screen and (max-width: 1000px) {

}

/* Tablet */
@media screen and (max-width: 800px ) {
	
} 

/* Mobile */
@media screen and (max-width: 600px) {
	
    
}


@media screen and (max-width: 330px) {
	
}
