.ambassadorRow h1 {
    padding-left: 0em;
}
.row.ambassadorRow {
    margin-bottom: 2em;
}
.col-sm-4.educationHeader {
    text-transform: uppercase;
    color: #003449;
}
.col-sm-4.communityHeader {
    text-transform: uppercase;
    color: #0b9ba4;
}
.col-sm-4.promotionHeader {
    text-transform: uppercase;
    color: #a30071;
}
.educationHeader h4 {
    letter-spacing: .02em;
}
.communitynHeader h4 {
    letter-spacing: .02em;
}
.promotionHeader h4 {
    letter-spacing: .02em;
}
.ambassadorRow .subtitle {
    padding: 0em;
    margin-bottom: 0em;
}
.educationBody dt {
    color: #003449;
}
.promotionBody dt {
    color: #a30071;
}
