.ambassadorRow h1 {
    padding-left: 0em;
}
.row.ambassadorRow {
    margin-bottom: 2em;
}
.col-sm-4.educationHeader {
    text-transform: uppercase;
    color: #003449;
}
.col-sm-4.communityHeader {
    text-transform: uppercase;
    color: #0b9ba4;
}
.col-sm-4.promotionHeader {
    text-transform: uppercase;
    color: #a30071;
}
.ambassadorRow .subtitle {
    padding: 0em;
    margin-bottom: 0em;
}
