
/*Header*/
.pageHeaderImage {
    height: 65vh;
}
.pageHeaderImage p {
    color: white;
}
.pageHeaderImage h1 {
    color: white;
}
.pageHeaderImage .col-sm-6 {
    margin-left: 6em;
    padding-left: .5em;
}
a.callToActionButton:hover {
    color: white;
}

/*Post Tiles*/
.container {
    padding-right: 0em;
    padding-left: 0em;
}
.col-sm-6 h1 {
    padding-left: .15em;
}
.eventsList h1 {
    margin-left: 2.4em;
}

p {
    padding: 0;
    padding-left: 0.5em;
    font-size: .9em;
    color: black;
    font-weight: 300;
    font-family: Roboto;
    line-height: 1.9em;
}
section.header {
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 3em;
}
section.blogsHeader {
    text-align: center;
    font-size: 0.75em;
}
section.blogsHeader {
    padding-top: 1em;
    padding-bottom: 1em;
    height: fit-content;
}
section.blogsList {
    padding-top: 2em;
    padding-bottom: 5em;
}
section.breadcrumbs {
    padding-top: 0em;
    margin-left: 0em;
    padding-left: .5em;
    margin-top: 6em;
}
.blogTile {
    width: calc(25% - 1em);
    display: block;
    overflow: hidden;
    margin: 0.5em;
    text-align: left;
    float: left;
    background: white;
    border: 1px solid #848484;
    min-height: 14em;
}
.blogTile img {
    max-width: 100%;
    min-width: 100%;
    max-height: 10em;
    height: auto;
}
.blogTile span {
    bottom: 0;
    text-transform: uppercase;
    font-size: .745em;
    line-height: .4em;
}
h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 2em;
}

h3 {
    text-transform: uppercase;
    font-size: 1.25em;
    margin-top: 1.5em;
}
.card a {
    max-width: 100%;
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
}
.card img {
    max-width: 100%;
}
.card span {
    display: block;
    padding: 0.5rem;
    padding-top: 0;
}
.card p {
    bottom: 0;
    color: #000000;
    font-size: .745em;
    line-height: 1.5em;
    padding-left: 1.35em;
    display: block;
    font-weight: 300;
    margin-top: .25em;
    padding-right: 1.35em;
}
a.readMoreLink {
    width: 100%;
    text-align: center !important;
}
.card a.byAuthor {
    bottom: 0;
    color: #0B9BA4;
    text-transform: uppercase;
    font-size: .745em;
    line-height: .4em;
    font-style: italic;
    font-weight: 400;
    padding-left: 1.35em;
    display: inline;
}
.card {
    width: calc(25% - 1em);
    display: block;
    overflow: hidden;
    margin: 0.5em;
    text-align: left;
    float: left;
    background: white;
    border: 1px solid #848484;
    min-height: 18em;
    border-radius: 0em;
}
.row .container {
    margin: .5em;
    max-width: 100%;
}
.card-columns {
    column-count: 4;
    column-width: 0.25rem;
    min-height: 30rem;
    margin: 2em 0em 6em 0em;
}
.card-columns .card{
    width: calc(25% - 1em);
    display: block;
    overflow: hidden;
    margin: 0.5em;
    text-align: left;
    float: left;
    background: white;
    border: 1px solid #848484;
    min-height: 16em;
}
.blogBody img {
    width: -webkit-fill-available;
    margin: 0em 0em 0em 0em;
}
.blogBody {
    display: block;
    overflow: hidden;
}
.card h3 {
    text-transform: uppercase;
    font-size: 1.1em;
    padding-top: .7em;
    color: black;
    margin-bottom: 0em;
    margin-top: 0em;
    padding-left: .9em;
    padding-right: .9em;
    line-height: 1em;
}
p.authorNameOnCard {
    color: #0b9ba4;
    margin-top: -0.25rem !important;
    display: block;
    font-style: italic;
    text-transform: uppercase;
    margin-top: .5em !important;
    margin-bottom: 1em;
}
.blogTileContainer {
    margin-bottom: 6em;
}



/*Blog Body*/
.col-md-9.blogMain {
    padding: 0em 2em 0em .5em;
    margin-bottom: 3em;
}
.blogMain h1 {
    margin-top: 0em;
    margin-bottom: 0.2em;
    padding-left: 0em;
}
span.blogDate {
    margin-left: 0em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: darkgrey;
    text-align: left;
}
.blogBody {
    padding: 0.75em 0em;
    color: black;
}
.blogBody p {
    padding: 0;
    font-size: 1.25em;
    padding: 0;
    padding-left: 0em;
    font-size: .9em;
    color: black;
    font-weight: 300;
    font-family: Roboto;
    line-height: 1.9em;
}
.blogOverview .row {
    padding-left: 0em;
    padding-right: 0em;
}
.row.photoLightbox {
    margin: 6em 0em;
}
.col-md-12 {
    padding: 0em;
}
.blogBody img {
    max-width: 100%;
    height: auto;
    margin-top: 0em;
    padding-bottom: 0em;
}
.row.photoLightbox {
    margin-bottom: 6em;
}
section.header {
    text-align: left;
}
span.blogFilterNotification {
    padding-left: 0.5em;
    color: orange;
}
img.headshot {
    margin-bottom: 1rem;
}
section.blogOverview {
    margin-bottom: 6em;
}
span.quoteBody::before, span.quoteBody::after {
    display: none;
}
.blogBody h4 {
    margin-left: 0;
}


/*Sidebar*/
.blogSidebar h3 {
    margin-top: 0;
    text-transform: capitalize;
    font-size: 1.75rem;
}
.blogSidebar .blogTile {
    width: 93.1%;
}
.blogSidebar .card {
    margin-left: 0;
    width: 100%;
}
.col-md-3.blogSidebar {
    margin-top: 2.25em;
    padding: 0em;
}


/*Author Page*/
a.authorLink {
    margin-left: 0.5rem;
    text-transform: uppercase;
}
.aboutTheAuthor h3 {
    margin-top: -0.2rem;
}
.aboutTheAuthor .row {
    margin: 0;
    border-top: 1px solid #8080804d;
    padding-top: 2rem;
}

a.byAuthor {
    color: #0b9ba4;
    margin-top: -0.25rem !important;
    display: block;
    font-style: italic;
    margin-bottom: 1.5rem;
}
.aboutTheAuthor span {
    padding: 0;
    padding-left: 0em;
    font-size: .9em;
    color: black;
    font-weight: 300;
    font-family: Roboto;
    line-height: 1.9em;
}
.aboutTheAuthor .row {
    margin: 0;
    border-top: 1px solid #8080804d;
    padding-top: 3rem;
    max-width: 95%;
}
.aboutTheAuthor .col-sm-3 {
    padding-left: 0em;
}
.container.aboutTheAuthor {
    margin-top: 3em !important;
    margin-left: 0em !important;
    margin-bottom: 6em !important;
}