/*General*/ 
html, body {
    overflow-x:hidden;
}
p {
    padding: 1em .5em;
}
section.container {
    min-width: calc(100vw) !important;
}
.container {
    padding-right: 0em;
    padding-left: 0em;
}
.col-sm-6 {
    padding-left: .5em;
    padding-right: .5em;
}

/* Jumbotron */
.tileHeader {
    background: url(/assets/img/CCC_videoHeader.jpg);
    background-size: cover;
    background-position: 50%;
}
header.jumbotron {
    min-height: 50vh !important;
}
.tileHeader button {
    background: #fb443d;
    color: white;
    border: none;
    font-size: 1.25em;
    padding: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;
    margin-left: 1em;
}
button.learnMoreButton {
    position: absolute;
    margin: 1em;
    height: 4em;
    width: 10em;
    display: inline-block;
    left: calc(50% - 11em);
    bottom: 2em;
    background: #ed0744;
    color: white;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    font-size: 1.25em;
    z-index: 10;
}
button.learnMoreButton.callToAction {
    left: calc(50% + 1em);
    background: #ed0744;
}

/* Hand Image Bannner */
.bciBannerImage img {
    width: calc(100% + 2em);
    margin: auto;
    padding-bottom: 2em;
    margin-left: -1em;
}

/* Body Sections */
.col-sm-6 h1 {
    margin-top: 1em;
}
.col-sm-6 img {
    margin-bottom: 2em;
}
.col-sm-6 p {
    margin: 0em 0em 0em 0em;
    font-family: Roboto;
    font-size: 1em;
    color: black;
    font-weight: 300;
}
section.container {
    padding-top: 1em;
    padding-bottom: 3em;
}
.inPerson p {
    padding-right: 0em;
    margin: 0em 4.5em 0em 0em;
    font-family: Roboto;
    font-size: 1em;
    color: black;
    font-weight: 300;
}
.inPerson h1 {
    margin-left: -.05em;
}
.mapSpace h1 {
    margin-top: 0.2em;
}

/* Call to action */
section.container.bciCallToAction {
    background: url(/assets/img/cta_background.jpg);
    background-size: cover;
    color: white;
}
.bciCallToAction h1 {
    color: white;
    padding-left: 0em;
    padding-top: 1em;
}
.bciCallToAction p {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0em;
    padding-right: 0em;
    margin: 0em 4.5em 0em 0em;
    font-family: Roboto;
    color: white;
    font-weight: 300;
    padding-bottom: 1em;
    font-size: 1em !important;
    margin-top: .75em;
}
.bciCallToAction .col-sm-6 {
    margin-top: .5em;
}
.col-sm-6.bciCallout {
    margin-top: 3em !important;
    margin-bottom: 5em;
    margin-right: 0;
    background: white;
}
.bciCallout img {
    margin: 7em;
    margin-right: 7em;
    width: calc(100% - 14em);
    margin-top: 2.2em;
    margin-bottom: 2em;
}
.bciCallout span {
    font-size: 1.25em;
    color: #1f98a3;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.25em;
    letter-spacing: -0.01em;
}

/* CTA Mailchimp */
/* Jumbotron Mailchimp */
.col-sm-6.bciCallout {
    margin-top: 4.5em !important;
    margin-bottom: 5em;
    margin-right: 0;
    background: white;
}
.bciCallToAction div#mc_embed_signup_scroll {
    margin-left: 1em;
    margin-right: 1em;
}
.bciCallToAction input#mce-EMAIL {
    width: calc(100% - 2px);
    margin-bottom: 1em;
    padding: 0.45em;
    box-shadow: 0 0 0 1px black;
    margin-left: 0.5px;
}
.bciCallToAction input#mc-embedded-subscribe {
    width: 100%;
    background: #fb443d;
    color: white;
    border: none;
    font-size: 1.25em;
    padding: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.mc-field-group {
    margin-top: 5px;
}


/* In Person Section */
.col-sm-6.leftWhite {
    min-height: calc(100% + 50px);
    padding: 3em 0em 0em 6em;
}
.inPerson p {
    padding-right: 2em;
}
.leftWhite ul {
    max-width: calc(100% - 10em);
}
.inPerson {
    padding-left: 0;
}
.inPerson .row {
    max-width: unset;
    margin: unset;
}
section.inPerson {
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: #efefef;
}
section.container.bciBannerImage.bciHandImage {
    padding-top: 0;
}

/*Pink Stripe Section*/
section.upPinkStripesDivider {
    margin-top: 0em;
}
section.upcomingEventsFooter {
    margin-bottom: 5.75em;
}

/* MapSpace */
.mapSpace h1 {
    margin-top: -0.3em;
}
section.container.mapSpace {
    margin-top: 7em;
    margin-bottom: 2.5em;
}
li {
    color: #ef444d;
}



/*Carousel*/
.carousel {
    position: relative;
    margin-top: 6em;
    max-width: 42%;
    margin-bottom: 15em;
}
.carousel-item img {
    margin-bottom: 0em;
}
.carousel-item {
    border-style: solid;   
    border-color: #ed0744;
    border-width: .05em;
}
.carousel-control-prev, .carousel-control-next {
    width: 5%;
    opacity: 1;
    background-color: #ed0744;
}
.inPerson h4 {
    text-transform: uppercase;
    font-size: .8vw;
    color: black;
    text-decoration: underline;
    text-align: center;
    line-height: .3em;
    letter-spacing: .05em;
}

/*Do More*/
.doMore h3 {
    text-transform: uppercase;
    color: white;
}
.doMore h3 {
    text-transform: uppercase;
    color: white;
}
.doMore h1 {
    margin-bottom: 1em;
    color: white;
}
section.doMore {
    background-color: #006889;
    padding-top: 5.5em;
    padding-bottom: 5.5em;
}
.doMore img {
    margin-bottom: .5em;
}


/*Video Playlist*/
section.cccVideoPlaylist {
    padding-top: 5.75em;
    padding-bottom: 6.75em;
}
.cccVideoPlaylist .col-sm-6 {
    min-height: 25em;
}
iframe {
    min-width: 100% !important;
    height: 100%;
}
.cccVideoPlaylist h1 {
    margin-bottom: .75em;
}
.cccVideoPlaylist h2 {
    color: black;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 700;
    padding-left: .3em;
}
.cccVideoPlaylist span {
    color: #2fae9f;
    text-transform: uppercase;
    display: block;
    font-size: .8em;
    line-height: .4em;
    font-style: italic;
    padding-left: .6em;
}