/* Desktop */
@media screen and (max-width: 1000px) {

}


/* Mobile */
@media screen and (max-width: 600px) {

	header.jumbotron.text-left.tileHeader {
	    background: url(/assets/img/dev_mobile_banner.png);
	    background-size: cover;
	    background-position: 50% 50%;
	    position: relative;
	}
	button.learnMoreButton {
	    margin: 0;
	    left: 0;
	    display: inline-block;
	    font-size: 2.5em;
	    width: 50%;
	}
	button.learnMoreButton.callToAction {
	    left: 50%;
	}
	.row {
	    max-width: unset;
	    margin: unset;
	}
}