html, body {
    overflow-x:hidden;
}
.downloadsRowContainer {
    display: block;
    width: 100%;
    // overflow-x: scroll;
    margin-bottom: 3em;
    margin-top: .5em;
}
.downloadItem {
    margin-left: .5em;
    margin-right: -.15em;
    display: inline-flex;
    width: 23%;
    margin-bottom: 4em;
    min-height: 0px;
    width: calc(25% - 1em);
    display: inline-flex;
    overflow: hidden;
    margin: 1em 0.1em 1em 0.5em;
    text-align: left;
}
.downloadItem img {
    background: grey;
}
h1 {
    font-weight: 500 !important;
    font-size: 2.5em;
    padding-left: 0.175em;
    color: black;
}
