/* Desktop */
@media screen and (max-width: 1000px) {

}

/* Tablet */
@media screen and (max-width: 800px ) {
    .tileItem.downloadItem {
        min-height: 14em;
        width: calc(50% - 1em);
    }
    .tileItem h3 {
		text-transform: uppercase;
		font-size: 1.25em;
		margin-top: 0em;
		text-transform: uppercase;
		font-size: 1em;
		margin-top: 0em;
		line-height: 1em;
		padding-left: .7em;
        padding-top: .7em;
        padding-right: .5em
	}
} 

/* Mobile */
@media screen and (max-width: 600px) {
    .downloadsRowContainer .tileItem {
        width: calc(100% - 1em);
        margin-bottom: 2.5em;
    }
    .downloadsRowContainer {
        overflow-x: hidden;
    }
h1 {
    padding-left: 0.3em;
}
.tileItem h1 {
    margin-left: 0em;
    margin-right: 1em;
    font-size: 1.25em;
}




}


@media screen and (max-width: 330px) {
	
}
