section.eventsHeader {
    text-align: center;
    font-size: 0.75em;
}
section.eventsHeader {
    padding-top: 1em;
    padding-bottom: 1em;
    height: fit-content;
}
section.eventsList {
    text-align: left;
}
.eventTile {
    min-height: 290px;
    width: calc(30% - 1em);
    display: inline-block;
    overflow: hidden;
    margin: 1em;
    text-align: left;
}
.eventTile img {
    max-width: 100%;
    min-width: 100%;
    max-height: 10em;
    height: auto;
}
.eventTile span {
    bottom: 0;
    color: grey;
    text-transform: uppercase;
}
.eventTile h1 {
    text-transform: uppercase;
    font-size: 1.45em;
    padding-left: 0;
    padding-top: 0.5em;
}

.eventSidebar .eventTile {
    width: 100%;
}
.eventMain h1 {
    margin-top: 0.75em;
}
span.eventDate {
    margin-left: 0.5em;
    padding-left: 0.1em;
    font-size: 1.25em;
}
.eventMain h1::before {
    background: red;
    width: 100px;
    height: 0.75em;
    content: "_";
    color: #ff000000;
    position: absolute;
    left: -2em;
    top: 1em;
}
.eventBody {
    padding: 0.75em;
}
.eventBody p {
    padding: 0;
    font-size: 1.25em;
}



.col-md-4.eventSidebar {
    margin-top: 2.25em;
}


h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 2em;
}

h3 {
    text-transform: uppercase;
    font-size: 1.25em;
    margin-top: 3em;
}

.eventBody img {
    max-width: 100%;
    height: auto;
}


section.header {
    text-align: left;
}
section.eventsList {
    background: #86868608;
}

/* Details section */
a.rsvp {
    padding: 0.5em 1em 0.5em 1em;
    background: $brand-red;
    color: white;
    font-weight: 500;
    display: block;
    float: right;
    top: 2.25em;
    position: absolute;
    right: 0;
}
a.rsvp:hover {
    background: $brand-green;
}
a.rsvp.disabled {
    background: grey;
}