/* Tablet */
@media screen and (max-width: 800px) {
	section.header {
    		margin-bottom: 2em;
	}
	.eventMain h1::before {
    		left: -4.25em;
	}
	a.rsvp {
    		padding: 0.5em 1em 0.5em 1em;
    		background: #ed0744;
   		color: white;
		font-weight: 500;
		display: block;
    		float: right;
    		top: .5em;
    		position: absolute;
    		right: 0em;
	}
	.col-md-3.eventSidebar {
    		margin-top: 0em;
    		padding: 0em;
	}
}


/* Mobile */
@media screen and (max-width: 600px) {
    	.eventsList h1 {
        	margin-left: 0.85em;
    	}
	.eventTile {
        	width: 100%;
		margin: .4em;
    	}
	section.header {
	    margin-left: 2em;
  	    margin-right: 2em;
	}
	.eventSidebar .eventTile {
    		width: 95.5%;
	}
	.row.container {
    		padding: 0em;
	}
	.col-md-9.eventMain {
    		padding: 0em .75em 0em 0.5em;
	}
	.breadcrumbs .row {
	    margin-left: .6em;
	}
	a.rsvp {
    		font-size: .75em;

	}
}


@media screen and (max-width: 330px) {

}
