/* Tablet */
@media screen and (max-width: 800px) {
	html, body {
    		overflow-x:hidden;
	}
	.row.container.bread {
    		margin-bottom: 0em;
	}
	h1.hasColorTag.red {
    		margin-left: -3.2em;
	}
	.faqTile h3 {
    		text-transform: uppercase;
    		font-size: 1.25em;
    		margin-top: 0em;
		text-transform: uppercase;
    		font-size: 1em;
    		margin-top: 0em;
    		line-height: 1em;
	}
	faqTile{
		min-height: 0em;
	}
	section .row {
		margin-bottom: 3em;
	}
	.hasColorTag::before {
	    margin-left: -0.75em;
    	}
}


/* Mobile */
@media screen and (max-width: 600px) {
	h1.hasColorTag.red {
    		margin-left: -4.3em;
	}
	.faqTile {
	    min-height: 0px;
	    width: calc(100% - 1.5em);
	    display: inline-block;
	    overflow: hidden;
	    margin: 0em 0em 1em 0em;
	    text-align: left;
	}
	.row.container {
	    padding: 0em;
	}
	.col-md-9.eventFAQ {
    		padding: 0em;
	}
	.row.container {
    		padding: 0em .5em;
	}
	.faqBody {
    		padding: 0.75em;
    		margin-bottom: 5em;
    		padding-left: 0em;
    		padding-right: 0em;
	}
	section .row {
    		margin-bottom: 3em;
    		padding: .5em;
	}
	.faqTile {
    		min-height: 0px;
    		width: 100%;
    		display: inline-block;
    		overflow: hidden;
    		margin: 0em 0em 1em 0em;
    		text-align: left;
	}
	section.breadcrumbs {
    		padding-top: 0em;
    		margin-left: -0.85em;
	}
	section.pageHeaderImage .row {
	    padding: 0em;
	}
}


@media screen and (max-width: 330px) {

}
