/* Tablet */
@media screen and (max-width: 800px) {
	html, body {
    		overflow-x:hidden;
	}
	.row.container.bread {
    		margin-bottom: 0em;
	}
	h1.hasColorTag.red {
    		margin-left: -3.2em;
	}
	.faqTile h3 {
    		text-transform: uppercase;
    		font-size: 1.25em;
    		margin-top: 0em;
			text-transform: uppercase;
    		font-size: 1em;
    		margin-top: 0em;
    		line-height: 1em;
			padding-left: .7em;
	}
	faqTile{
		min-height: 0em;
	}
	.faqTile span.readTime {
		padding-left: 1em;
	}
	section .row {
		margin-bottom: 5em;
	}
	.faqList h1 {
		margin-left: 1em;
	}
	.eventFAQ h1 {
		padding-left: 0em;
	}
	.faqBody {
		margin-bottom: 0em;
	}
	span.authorTag {
		padding-left: 1em;
		margin-right: 1.2em;
		line-height: 1.1em;
		margin-top: .5em;
		font-size: .7em;
	}
}


/* Mobile */
@media screen and (max-width: 600px) {
.faqTile {
	min-height: 13.5em;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin: 0em .5em 1em .5em;
    text-align: left;
}
	.row.container {
	    padding: 0em;
	}
	.col-md-9.eventFAQ {
    		padding: 0em;
	}
.row.container {
    padding: 0em 1em;
}
	.faqBody {
    		padding: 0.75em;
    		margin-bottom: 5em;
    		padding-left: 0em;
    		padding-right: 0em;
	}
section .row {
    margin-bottom: 3em;
    padding: 0em;
}
	.faqTile {
    		min-height: 0px;
    		width: 100%;
    		display: inline-block;
    		overflow: hidden;
    		margin: 0em 0em 1em 0em;
    		text-align: left;
	}
	section.breadcrumbs {
    		padding-top: 0em;
    		margin-left: -0.85em;
	}
	section.pageHeaderImage .row {
	    padding: 0em;
	}
	.faqList h1 {
		margin-left: .6em;
	}
}


@media screen and (max-width: 330px) {

}
