/* Tablet */
@media screen and (max-width: 800px) {
	.row.container.bread {
    		margin-bottom: 0em;
	}
	h1.hasColorTag.red {
    		margin-left: -3.2em;
	}
	.faqTile h3 {
    		text-transform: uppercase;
    		font-size: 1.25em;
    		margin-top: 0em;
	}
	faqTile{
		min-height: 0em;
	}
	section .row {
		margin-bottom: 3em;
	}
}


/* Mobile */
@media screen and (max-width: 600px) {
	h1.hasColorTag.red {
    		margin-left: -1.2em;
	}
	.faqTile {
    		min-height: 0px;
    		width: calc(100% - 1.5em);
    		display: inline-block;
    		overflow: hidden;
    		margin: 1em 0em 1em 1em;
    		text-align: left;
}
}


@media screen and (max-width: 330px) {

}
