/* Misc */
html, body {
    overflow-x:hidden;
}

section {
    margin-bottom: 6em;
}
section.pageHeaderImage .row {
    background: none;
}


.col-sm-4{
    padding-right: .5em;
    padding-left: .5em;
}

.col-sm-12{
    padding-right: .5em;
    padding-left: .5em;
}

/* CTA Buttons */

.col-sm-6 a:hover {
    color: #FFFFFF;
}


/* Events */
.events a.callToActionButton {
    margin-top: 2em; 
    display: block;
    width: fit-content;
    padding-left: 3em;
    padding-right: 3em;
}



/* Courses Container */
h1.coursesHeaderHP {
    padding-left: .15em;
    font-size: 2.5em;
}
.coursesThumbnailContainer {
    padding-top: 1.5em;
    padding-bottom: 3em;
}
.coursesThumbnailContainer {
    width: 100%;
    overflow: hidden;
}
section.onlineCourses {
    background-color: #efefef;
    padding-top: 5em;
    padding-bottom: 5em;
}

/* FAQ Preview */
.faqThumbnailContainer {
    width: 100%;
    height: fit-content;
    padding-top: 1.5em;
    padding-bottom: 3em;
}
section.faqList {
    text-align: left;
}
section.faq {
    background: #efefef;
    padding-top: 5em;
    padding-bottom: 5em;
}

.faqTile.column {
    width: 100%;
}




/*HIDE EVENTS
section.events {
    display: none;
}*/

.eventsContainer {
    padding-top: 1.5em;
}