/* Tablet */
@media screen and (max-width: 800px) {


}


/* Mobile */
@media screen and (max-width: 600px) {
	
	/* General */
	.pathButtons .col-sm-4 {
		margin-bottom: 1em;
	}

	/* Events */
	.eventsContainer .eventTile {
		width: 100%;
	}
	.eventsContainer {
		height: 100vh;
		overflow-y: scroll;
	}
	.eventTile h1 {
		margin-top: -0.5em;
	}

	/* Courses */
	.coursesThumbnailContainer .courseTile {
		width: 100%;
	}
	.onlineCourses a.callToActionButton {
		margin-top: 2em;
	}

	/* FAQ */
	.faqTile {
		width: 100%;
		margin-left: 0;
	}

}


@media screen and (max-width: 330px) {

}