section .row {
    min-height: 0em;
}


/* Image with Text Callout */
.imageWithTextCallout .col-md-8 {
    padding-top: calc(10% - 2em);
}
.imageWithTextCallout img {
    border-radius: 50%;
    padding: 25%;
    vertical-align: top;
}

/* TextCallout */
.row.textCallout {
    min-width: 100%;
    background: $brand-dark-blue;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em 0 1em 0;
}

/* Image with Caption */
.row.imageWithCaption {
    min-width: 100%;
    margin: 1em 0 1em 0;
}
.imageWithCaption .col-md-12 {
    padding: 0;
}
.imageWithCaption img {
    max-width: 100%;
}
.caption {
    background: $brand-dark-blue;
    margin-top: 0.5em;
    padding: 0.5em;
}

/* Definition */
.row.definition {
    color: white;
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
    background-color: #003449;
}
.definition .col-md-1 {
    background: #415c6b;
    padding-right: 0;
    padding-left: 0;
    font-size: 1.5em;
}
.definition i {
    position: absolute;
    top: 40%;
    left: 39%;
}
.definition .col-md-11 {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.5em;
}
.definition h1 {
    margin-left: 0;
    padding: 0;
    color: white;
    font-size: 1.25em;
    font-weight: 600 !important;
    margin-bottom: .2em;
}

/*Note*/
.row.note {
    color: white;
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
    background-color: #941f6c;
}
.note .col-md-11 {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.5em;
}
.note .col-md-1 {
    background: #aa4c8a;
    padding-right: 0;
    padding-left: 0;
    font-size: 1.5em;
}
.note i {
    position: absolute;
    top: 40%;
    left: 39%;
}

/*Callout*/
.row.callout {
    color: white;
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
    background-color: #0b9ba4;
}
.callout .col-md-1 {
    background: #3cb0b6;
    padding-right: 0;
    padding-left: 0;
    font-size: 1.5em;
}
.callout h1 {
    margin-left: 0;
    padding: 0;
    color: white;
    font-size: 1.25em;
    font-weight: 600 !important;
    margin-bottom: .2em;
    text-transform: uppercase;
}
.callout .col-md-11 {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.5em;
}
.callout i {
    position: absolute;
    top: 40%;
    left: 37%;
}

/*Code Snippet*/
.row.codeSnippet {
    color: black;
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
    background-color: #eeefef;
}
.codeSnippet .col-md-1 {
    background: #848486;
    padding-right: 0;
    padding-left: 0;
    font-size: 1.5em;
}
.codeSnippet h1 {
    margin-left: 0;
    padding: 0;
    color: black;
    font-size: 1.25em;
    font-weight: 600 !important;
    margin-bottom: .2em;
    text-transform: uppercase;
}
.codeSnippet .col-md-11 {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.codeSnippet i {
    position: absolute;
    top: 40%;
    left: 37%;
    color: white
}
.snippetField {
    font-family: monospace;
    background: beige;
}
.codeSnippet pre {
    display: inline-block;
    margin-bottom: 0;
    font-size: 0.75em;
    vertical-align: bottom;
}
.snippetField .lineNumber {
    font-size: 0.85em;
    color: #612626;
}

/* Terminal */
.row.terminal {
    color: black;
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
    background-color: #eeefef;
}
.terminal .col-md-1 {
    background: black;
    padding-right: 0;
    padding-left: 0;
    font-size: 1.5em;
}
.terminal h1 {
    margin-left: 0;
    padding: 0;
    color: black;
    font-size: 1.25em;
    font-weight: 600 !important;
    margin-bottom: .2em;
    text-transform: uppercase;
}
.terminal .col-md-11 {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.terminal .col-md-1 span {
    position: absolute;
    top: 40%;
    left: 37%;
}
.terminal span {
    color: green;
    font-family: monospace;
}
span.userName {
    color: purple;
}
.shellField {
    font-weight: 200;
    background: black;
    padding-left: 0.5em;
    color: white;
}

/* Photo Gallery */
.photoLightbox h1 {
    color: white;
    text-transform: uppercase;
    margin-left: .2em;
    margin-top: .6em;
    font-size: 2em;
}
.row.photoLightbox {
    margin: 0;
    background: black;
    width: 100%;
    overflow: hidden;
}
.imageGallery {
    display: block;
    position: relative;
    margin-bottom: 1em;
}
.imageGallery img {
    max-width: calc(25% - 1em);
    padding: 1em;
    opacity: 75%;
}
img#lightBoxImage {
    max-width: 50%;
    margin: 25%;
}
