section .row {
    min-height: 0em;
}

/* Image with Text Callout */
.imageWithTextCallout .col-md-8 {
    padding-top: calc(10% - 2em);
}
.imageWithTextCallout img {
    border-radius: 50%;
    padding: 25%;
    vertical-align: top;
}

/* TextCallout */
.row.textCallout {
    min-width: 100%;
    background: $brand-dark-blue;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em 0 1em 0;
}

/* Image with Caption */
.row.imageWithCaption {
    min-width: 100%;
    margin: 1em 0 1em 0;
}
.imageWithCaption .col-md-12 {
    padding: 0;
}
.imageWithCaption img {
    max-width: 100%;
}
.caption {
    background: $brand-dark-blue;
    margin-top: 0.5em;
    padding: 0.5em;
}

/* Definition */
.row.definition {
    background: darkblue;
    color: white;
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
}
.definition .col-md-2 {
    background: lightblue;
    padding-right: 0;
    font-size: 1.5em;
}
.definition i {
    padding-top: calc(50% - 1em);
    padding-left: calc(50% - 1em);
}
.definition .col-md-10 {
    padding-top: 1em;
}
.definition h1 {
    margin-left: 0;
    padding: 0;
    color: white;
}
