/* Desktop */
@media screen and (max-width: 1000px) {
    
}

/* Tablet */
@media screen and (max-width: 800px ) {
    .note i {
        left: 30%;
    }
} 

/* Mobile */
@media screen and (max-width: 600px) {
    .definition i {
        position: inherit;
        margin: .4em 0em;
        left: 42%;
    }
    .definition .col-md-2 {
        background: #415c6b;
        padding-right: 0;
        font-size: 1.5em;
        padding-bottom: 1.5em;
    }
}

/* Very Small Mobile */
@media screen and (max-width: 330px) {

}
