/* Desktop */
@media screen and (max-width: 1000px) {
    
}

/* Tablet */
@media screen and (max-width: 800px ) {
    .note i {
        left: 30%;
    }
    .definition i {
        left: 32%;
    }
    .callout i {
        left: 30%;
    }
    img#lightBoxImage {
        min-width: 100vw !important;
        margin: 0;
        margin-top: calc(50vh - 20em);
    }
.codeSnippet i {
    left: 34%;
}
.terminal .col-md-1 span {
    left: 33%;
}
} 

/* Mobile */
@media screen and (max-width: 600px) {
    .definition i {
        position: inherit;
        margin: 0em;
        left: 46%;
        top: 52%;
    }
    .definition .col-md-1 {
        background: #415c6b;
        padding-right: 0;
        font-size: 1.5em;
        padding-bottom: 1.5em;
    }
    .note i {
        position: inherit;
        margin: 0em;
        left: 46%;
        top: 52%;
    }
    .note .col-md-1 {
        background: #aa4c8a;
        padding-right: 0;
        font-size: 1.5em;
        padding-bottom: 1.5em;
    }
    .callout i {
        position: inherit;
        margin: 0em;
        left: 46%;
        top: 52%;
    }
    .callout .col-md-1 {
        background: #3cafb6;
        padding-right: 0;
        font-size: 1.5em;
        padding-bottom: 1.5em;
    }
    .codeSnippet i {
        position: inherit;
        margin: 0em;
        left: 46%;
        top: 52%;
    }
    .codeSnippet .col-md-1 {
        background: #848586;
        padding-right: 0;
        font-size: 1.5em;
        padding-bottom: 1.5em;
    }

    /* Image Gallery */
    .imageGallery img {
        max-width: 100%;
        padding: 1em;
    }
    .row.photoLightbox {
        margin: 0 .9em;
        background: black;
        width: 100%;
        overflow: hidden;
        margin-bottom: 6em;
    }
    
    img#lightBoxImage {
        margin-top: calc(50vh - 8em);
    }
    
}

/* Very Small Mobile */
@media screen and (max-width: 330px) {

}
