@import "variables";
@import "bootstrap/scss/bootstrap";

/* Misc */
.content {
  font-size: $custom-font-size;
}
body {
	font-family: "Kanit";
}
a {
	text-decoration: none !important;
}

/* Nav */
nav {
    background: white;
    border: 0.025px solid #d3d3d359;
}
nav a.nav-link {
    color: black !important;
    text-transform: uppercase;
    font-weight: 500;
}
ul.navbar-nav.ml-auto {
    margin-right: 1em;
}

/* Social Nav */
ul.navbar-nav.flex-row {
    padding-left: 1em;
}
nav i {
    color: #2fae9f;
}

/* Mobile Nav Toggle */
button.navbar-toggler.collapsed, navbar-toggler-icon {
    background-color: #47b7aa;
}


/* Footer */
.container-fluid.footer {
    background: white;
    color: darkgrey;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
}
.footer .col-md-6 {
    padding: 2em;
}
.footer h4 {
    text-transform: uppercase;
}
.footer a {
    color: darkgrey;
}
.footer a:hover {
    color: #2fae9f;
}