
/*// Mobile login 
#mobileApp h1 {
    font-size: 0.85em;
}

#mobileApp a, #mobileApp button {
    padding: 0.25em 0.5em 0.25em 0.5em !important;
    background: white;
    color: #149ba4 !important;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
}

#mobileApp button {
    padding-top: 0.12rem !important;
    padding-bottom: 0.12rem !important;
    background: #ee4245;
    color: white !important;
}
#mobileApp input.emailInput {
    width: calc(100% - 2rem);
    right: unset;
    font-size: 1.15em;
}
// form.loginForm {
//     margin-bottom: 1em;
// }
.loginForm button {
    float: right;
    z-index: 9999 !important;
    display: block;
    position: relative;
    margin-top: 1px !important;
    border: 1px solid #ee4245 !important;
}
div#mobileApp {
    border-bottom: 1px solid white;
	margin-bottom: 1em;
	padding-bottom: 1em;
}*/

/* Bootstrap Tablet Trigger */ 
/* Bootstrap collapses the nav at 992px */
@media screen and (max-width: 992px) {

	div#accountDropdown {
		display: none !important;
	}
	input.emailInput {
		width: 100%;
		display: block;
		position: relative;
		float: right;
		right: 0;
		font-size: 1em;    
		margin-bottom: 0.25em;
	}
	.mobileLogin {
		display: block;
		position: relative;
	}
	#mobileApp span {
		display: block;
		width: 100%;
	}
	#mobileApp form {
		position: relative;
		overflow: hidden;
		height: fit-content !important;
	}
	button.logout {
		background: #ee4245;
		color: white;
		border: none;
	}

    .sourceDetails {
	display: none;
    }

	// Hide My Account Icon on Mobile
	li#accountToggle {
		display: none !important;
	}

	// Always show my account dropdown
	.hoverNavbox.account {
		display: block !important;
		margin-top: 0.5em;
		width: 100vw;
		margin-left: -1em;
	}
	.account .col-sm-3, .account .col-sm-9 {
		display: inline-block;
		width: fit-content;
	}

    	/* Nav (Mobile General) */
	.hoverNavbox {
        width: 100%;
        left: 0;
        top: auto;
        position: relative;
    }
    li.nav-item.ml-auto.search {
        width: calc(100% - 2em);
        border: 1px solid $brand-green;
		margin: 1em;
		margin-top: 0;
    }
    li.nav-item.ml-auto.navbox {
        width: calc(100% - 2em);
        border: 1px solid $brand-green;
        margin: 1em;
    }
    li.nav-item.ml-auto.navbox::before {
        content: "Full Menu";
        text-transform: uppercase;
        color: $brand-green;
        vertical-align: -webkit-baseline-middle;
		font-size: 1.15em;
		float: left;
		margin-left: calc(50% - 2em);
		margin-top: 0.25em;
    }
    ul.navbar-nav.ml-auto {
        margin-right: 0;
    }
    li.nav-item.contactUsLink, .contactUsLink a, li.donations, .donations a.donateNow {
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-top: 0.5em;
	}
	li.nav-item.donations {
		margin-top: -1em;
	}
	li#accountToggle {
	    text-align: center;
	    margin-left: 0em !important;
	    margin-top: 1.5em;
	}
	.hoverNavbox.account {
    		background: #e6e6e6;
    		width: 50%;
    		padding-bottom: .4em;
    		margin-left: 11em;
	}
	dark.static-top.logoNav {
		padding: 0em 2.5em;
	}
	nav.navbar.navbar-expand-lg.navbar-dark.static-top.logoNav {
		padding: 0em 2.5em;
	}
	.navbar-brand {
		padding-top: .4em;
		padding-bottom: .4em;
		font-size: .8em;
	}
	.navbar p {
		width: auto;
	}
	.navbar.menuBar {
		top: 3.4em;
		padding: .25em 4.75em .24em 2.5em;
	}
		

    /* Search */
    .searchInterface {
        width: 100vw;
        height: 100vh;
        margin-top: 2em;
    }
	.searchInterface input {
		width: 100%;
		border-radius: 0em;
		padding: 0.5em;
		border-color: black;
		font-family: Roboto;
	}
    span.cancelSearchButton {
        font-size: 3em;
        right: 0.25em;
        padding: 0;
        top: -0.5em;
    }
    .searchResults img {
        width: 100%;
        height: auto;
        max-width: unset;
        max-height: unset;
    }
    .searchResults .infoContainer {
        max-width: unset;
        padding-left: 0;
    }
    div#searchResults {
        max-height: unset;
        height: -webkit-fill-available;
    }
	.searchInterface input {
		width: 100%;
		border-radius: 0em;
		padding: 0.5em;
		border-color: black;
		font-family: Roboto;
	}
	.searchResults span.title {
		display: block;
		text-transform: uppercase;
		color: black;
		font-family: Kanit;
		font-weight: 500;
	}	
	.searchResults span.title {
	    font-family: Kanit;
	    font-weight: 500;
	}
	div#searchLightbox {
		left: 0;
		float: right;
		z-index: 1001;
		position: absolute;
		height: 100vh;
		display: contents;
	}
	li.nav-item.ml-auto.search {
		margin-bottom: -0.5em;
	}
	span.cancelSearchButton {
		display: block;
		position: absolute;
		right: 0.5em;
		top: 0.25em;
		font-size: 1.5em;
	}
	
}

/* Tablet */
@media screen and (max-width: 800px ) {

    /* Page Header */
	.pageHeaderImage .col-sm-6 {
		min-width: calc(100vw - 6em);
		width: 70%;
		margin: 2em 3.5em 1em 2em !important;
		padding-left: .5em;
		padding-right: 5em;
	}
	.pageHeaderImage .col-sm-6 h1 {
		margin-top: 0.5em;
		margin-top: .75em;
		font-size: 2em;
	}
	
	.pageHeaderImage p {
		max-width: 80%;
	}
	section.pageHeaderImage {
		height: 30vh;
		margin-bottom: 3em;
		margin-top: 5.5em;
		min-height: 38vh;
		background-position: left !important;
	}
	.pageHeaderImage a.callToActionButton {
		padding: 1em 3em; 
	}

	/*Breadcrumbs*/
	section.breadcrumbs {
    		padding-top: 0em;
	}
	
	/* Row Margins */
		.row {
    		margin: auto 2em;
		max-width: calc(100% - 4em);
	}
	
	/*Sections*/
	h1{
		font-size: 2em;
		padding-left: 0.25em;
	}


	.eventTile {
		width: calc(50% - 1em);
	}
  	.tileItem {
    		width: calc(31.3% - 1em);
    		min-height: 12em;
    		height: fit-content;
	}
    .tileItem img {
        width: 100%;
        height: auto;
        text-align: center;
    }
	.tileItem h1 {
    		padding-left: 0em;
	}

    /* Mobile Footer */
    .footer .col-md-3 {
        min-width: calc(50% - 2em);
        display: inline-block;
        max-width: unset;
        margin: 1em;
    }
	.footer .col-md-3 img {
    		margin-top: .5em;
	}
    .footer .col-md-6 {
        display: block;
        max-width: unset;
        margin: 0em;
        text-align: center;
		min-width: 0%;
		padding: 0;
    }
	.footer .row {
		padding: .5em;
	}
	.nav-item.ml-auto.search {
		margin-top: 1em;
		width: 100%;
		margin-left: 0em !important;
	}
	.mc-field-group {
		margin-top: 1em;
	}
	.col-md-6.bciLogoFooter img {
		width: 12em;
		margin-top: 5em;
		margin-bottom: 0em;
		float: left;
	}
	.footer li.nav-item {
		margin-left: 0;
		font-size: 1.5em;
		padding: 0.25em;
		padding-left: 0;
		padding-top: .5em;
		margin-top: 1em;
	}
	.footer span {
		margin-top: 0em;
	}
	h4.float-right {
    		float: none !important;
	}
    button.mc_signup {
        width: 100%;
        margin-bottom: 2em;
    }
    .mc_signup_input {
        width: 100%;
    }
	.linkList {
		width: 70%;
		text-align: right;
		line-height: .75em;
		margin-bottom: 2em;
	}

	/* Nav Sidebar Adjustments 
	ul.navbar-nav.ml-auto.desktopNav {
		display: none;
	}
	.mobileNavSidebar {
	    top: calc(4.72em - 1px);
	    display: block;
	    padding: 2em;
	    max-width: 500px;
	}
	div#navbarResponsive {
		height: 0 !important;
	}
	a.nav-link.normal {
	    font-family: "Open Sans";
	    text-transform: none;
	    line-height: 1.7em;
	    letter-spacing: .01em;
	    font-weight: 300;
	    font-size: 1em;
	}
	a.nav-link.child {
	    font-family: "Open Sans";
	    text-transform: none;
	    line-height: 1.7em;
	    letter-spacing: .01em;
	    font-weight: 300;
	    font-size: 1em;
	    margin-left: 2em;
	}
	.mobileNavSidebar .master a {
	    font-weight: 500;
	    font-family: Kanit;
	    font-weight: 600;
	    letter-spacing: .05em;
	}
	*/
	
	/*Factoid*/
	section.factoid {
		margin: 2.5em;
		margin-bottom: 4.5em;
	}
	span.didYouKnow {
		left: -2em;
	}
	.mainFocus h1 {
		margin-top: -.45em;
		font-size: 8.5em;
	}
	.mainFocus span {
		font-size: 2em;
		line-height: 1.2em;
	}
	span.didYouKnow {
		left: -1.3em;
		font-size: 1em;
		margin-top: 1.2em;
	}
	.factoid .row {
		margin-top: 5.25em;
		margin-bottom: 3.5em;
		margin-left: 0em;
		margin-right: 0em;
		width: 100%;
		max-width: 100%;
	}
	.col-sm-6.didYouKnow {
		padding: 1.5em 1.5em;
	}
	.mainFocus a {
		margin-left: 2.44em;
	}
	.col-sm-5.mainFocus {
		margin-left: -7vw;
	}
	.col-sm-7.explanation {
		margin-left: 9vw;
		max-width: 35vw;
	}
	.explanation span {
		font-size: 2.55vw;
	}
	.faqTile {
		width: calc(50% - 1em);
	}
	.faqTile span.readTime {
		margin-right: -1.25em;
	}
	.searchBox input {
		width: 90%;
		float: right;
	}
} 

/* Mobile */
@media screen and (max-width: 600px) {
	/*Nav*/
	.navbar-brand img {
    		padding-left: 0em;
	}
	.hoverNavbox.account {
	    background: #e6e6e6;
	    width: 91%;
	    padding-bottom: .4em;
	    margin-left: 1em;
	}
	.search a, .navbox a {
		padding-bottom: 0.25em;
	}
	.account span {
	    font-size: 2.5em;
	    font-family: kanit;
	    color: black;
	    display: block;
	    width: 100%;
	    margin-left: 4em;
	    text-align: left;
	}
	input.emailInput {
	    float: right;
	    display: block;
	    position: absolute;
	    right: 5em;
	    width: calc(73% - 3em);
	    font-size: 2.25em;
	    color: black;
	    font-family: Roboto;
	    font-style: italic;
	    padding-left: 0em;
	}
	.hoverNavbox .col-sm-3 {
	    width: fit-content;
	}
	.account .col-sm-3, .account .col-sm-9 {
    		display: inline-block;
    		width: 100%;
		margin-top: .25em;
	}
	img.accountLight {
	    top: .4em;
	}
	nav.navbar.navbar-expand-lg.navbar-dark.static-top.logoNav {
		padding: 0em 1.5em;
	}
	.navbar.menuBar {
		padding: .25em 1.5em .24em 1.5em;
	}
    .supportUsButton {
		margin-left: .25em;
		margin-right: 0em;
		line-height: 1em;
	}
	.dropdown.col {
		top: -.08em;
	}
	.navbar p {
		display: none;
	}


    /* Page Header */
	
	.pageHeaderImage .col-sm-6 {
		min-width: 120%;
		margin-top: 1.5em !important;
		margin-left: 1em !important;
	}
	.pageHeaderImage .col-sm-6 h1 {
    		font-size: 2em;
	}
	.pageHeaderImage a.callToActionButton{
		float: left;
		text-align: center;
    		font-family: kanit;
    		font-weight: 600;
	}
	section.pageHeaderImage {
		height: 50vh;
		min-height: 50vh;
	}

	
	
	/*Sections*/
	h1{
		font-size: 1.75em;
	}
	.row.container.bread {
		padding-left: 1.9em;
	}
	
	/*Events*/
	section.events {
		margin-bottom: 6em;
	}
	.eventsContainer .eventTile {
		width: calc(100% - 1em) !important;
		max-width: 100%;
	}
	
	/*Courses*/
	.coursesThumbnailContainer {
	    padding-bottom: 1em;
	}
	
	/*FAQ*/
	a.callToActionButton.faqCTA {
    		margin-left: .5em;
	}
	.faqTile {
		width: calc(100% - 1em) !important;
		margin-left: .5em !important;
		padding-left: 0em !important;
		padding-right: 0em !important;
		margin-right: .5em;
	}
	section.faq {
		margin-bottom: 5em;
	}

	/*Get Involved*/
	.giTile {
		width: calc(100% - 1em);
	}
	/* Row Margins */
	.row {
    		margin: auto 1em;
		max-width: calc(100% - 2em);
	}
	


    /* Upcoming Events Footer */
    .upcomingEventsFooter .row {
    	width: 100%;
    	margin-left: 1em;
	}
    .upcomingEventsFooter .tileItem, .upcomingEventsFooter .eventTile {
        width: 88%;
        margin-bottom: 0em;
    }
	.upcomingEventsFooter h1 {
		margin-left: 0.5em;
		padding-left: 0.15em;
		margin-bottom: 0.5em;
		width: 10em;
	}
	.tileItem h1 {
    		margin-left: -.2em;
	}

	
	
	/*Mobile Footer*/
	.footer li.nav-item {
		font-size: 1.35em;
		padding: .65em;
		margin-top: 0em;
	}
	.footer .col-md-6, .footer .col-md-3 {
    		padding: 1em 2em;
	}
	.col-md-6.bciNewsletter {
    		padding: 1em 2em 1em 0em;
	}
	ul.navbar-nav.flex-row {
    		display: inline-flex;
	}
	.searchBox input {
		width: 87%;
		float: right;
	}
	.linkList {
		width: 100%;
		text-align: center;
		line-height: .75em;
		margin-bottom: 4em;
	}
	.linkList a {
		padding-left: .75em;
		padding-right: .75em;
	}
	
	.mobileNavSidebar {
		top: calc(5.05em - 1px);
		display: block;
	}
	.col-md-6.bciLogoFooter img {
		float: none;
	}
	.bciSocial {
		display: inline-block;
	}
	
	/*NavSideBar*/
	.mobileNavSidebar {
	    max-width: 300px;
	}
	a.nav-link.normal {
	    line-height: 1.8em;
	    font-size: .95em;
	}
	a.nav-link.child {
	    line-height: 1.8em;
	    font-size: .95em;
	}
	.mobileNavSidebar h3 {
	    font-size: 1.35em;
	}

	/*Factoid*/
	span.didYouKnow {
		left: -7.1em;
		font-size: 1em;
		padding-left: 6em;
		padding-right: 6em;
		margin-top: 6.6em;
	}
	section.factoid {
		margin: 1.5em;
	}
	.col-sm-6.explanation {
		max-width: 100%;
		margin-top: 0em;
		margin-left: 0em;
		padding: 0em;
	}
	.explanation span {
		font-size: 1.75em;
		float: right;
		font-style: italic;
		font-weight: 200;
		margin-top: 1em;
		line-height: 1.75em;
	}
	.explanation a {
		font-size: .75em;
		letter-spacing: .1em;
		margin-left: 0em;
		line-height: 4em;
	}
	.factoid .row {
		margin-bottom: 4.1em;
		margin-right: 0em;
		margin-left: 0em;
		margin-top: 5em;
	}
	.col-sm-7.explanation {
		margin-left: 0;
		max-width: 80vw;
	}
	.col-sm-6.didYouKnow {
		font-size: .8em;
		width: 100%;
	}
	.pageHeaderImage p {
		max-width: 100%;
	}
}



@media screen and (max-width: 330px) {
	h1 {
        font-size: 2em;
	}
	span.didYouKnow {
		left: -2.55em;
	}
	.col-sm-6.explanation {
		font-size: .56em;
		max-width: 100%;
		margin-top: 5em;
		text-align: center;
	}
}