/* Desktop */
@media screen and (max-width: 1000px) {
    
}

/* Tablet */
@media screen and (max-width: 800px ) {

    /* Page Header */
    .pageHeaderImage .col-sm-6 {
        min-width: calc(100vw - 6em);
	margin: auto 2em;   
    	}
	.col-sm-6 h1 {
		margin-top: 0.5em;
	}
	
	.pageHeaderImage p {
		max-width: 100%;
	}
	
	.pageHeaderImage .col-sm-6 h1 {
    		font-size: 2em;
	}
	.pageHeaderImage a.callToActionButton {
		padding: 1em 3em;
	}
    
    /* Nav (Mobile General) */
	.hoverNavbox {
        width: 100%;
        left: 0;
        top: auto;
        position: relative;
    }
    li.nav-item.ml-auto.search {
        width: calc(100% - 2em);
        border: 1px solid $brand-green;
        margin: 1em;
    }
    li.nav-item.ml-auto.navbox {
        width: calc(100% - 2em);
        border: 1px solid $brand-green;
        margin: 1em;
    }
    li.nav-item.ml-auto.navbox::before {
        content: "Full Menu";
        text-transform: uppercase;
        color: $brand-green;
        vertical-align: -webkit-baseline-middle;
        font-size: 1.15em;
    }
    ul.navbar-nav.ml-auto {
        margin-right: 0;
    }
    li.nav-item.contactUsLink, .contactUsLink a, li.donations, .donations a.donateNow {
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-top: 0.5em;
    }

    /* Search */
    .searchInterface {
        width: 100vw;
        height: 100vh;
        margin-top: 2em;
    }
    span.cancelSearchButton {
        font-size: 3em;
        right: 0.25em;
        padding: 0;
        top: -0.5em;
    }
    .searchResults img {
        width: 100%;
        height: auto;
        max-width: unset;
        max-height: unset;
    }
    .searchResults .infoContainer {
        max-width: unset;
        padding-left: 0;
    }
    div#searchResults {
        max-height: unset;
        height: -webkit-fill-available;
    }
	/* Row Margins */
		.row {
    		margin: auto 2em;
		max-width: calc(100% - 4em);
	}

    /* Upcoming Events Footer */
	.upcomingEventsFooter h1{
	margin-left: 0em;
	}
	section.hasSectionColorTag::before{
	    margin-left: -2.5em;
	}
    .upcomingEventsFooter .row {
        width: 80%;
    }
  	.tileItem {
    		width: calc(31.3% - 1em);
    		min-height: 12em;
    		height: fit-content;
	}
    .tileItem img {
        width: 100%;
        height: auto;
        text-align: center;
    }

    /* Mobile Footer */
    .footer .col-md-3 {
        min-width: calc(50% - 2em);
        display: inline-block;
        max-width: unset;
        margin: 1em;
    }
	.footer .col-md-3 img {
    		margin-top: .5em;
	}
    .footer .col-md-6 {
        min-width: 100%;
        display: block;
        max-width: unset;
        margin: 1em;
        text-align: center;
        padding-left: 0;
    }
    .footer li.nav-item {
        margin-left: 0;
        font-size: 1.5em;
        padding: 0.25em;
        padding-left: 0;
    }
    button.mc_signup {
        width: 100%;
        margin-bottom: 2em;
    }
    .mc_signup_input {
        width: 100%;
    }
    .linkList {
        text-align: center;
    }


} 

/* Mobile */
@media screen and (max-width: 600px) {
    
    /* Page Header */
	.pageHeaderImage .col-sm-6 {
        	min-width: calc(100vw - 2em);
		margin: auto 1em;   
    	}
	.pageHeaderImage .col-sm-6 h1 {
    		font-size: 2em;
	}
	.pageHeaderImage a.callToActionButton{
		float: left;
	}
	
	/*Events*/
	section.events {
    		min-height: 850px;
    		margin-bottom: 0em;
	}
	
	/*Courses*/
	.coursesThumbnailContainer {
	    padding-bottom: 1em;
	}
	
	/*FAQ*/
	a.callToActionButton.faqCTA {
    		margin-left: .5em;
	}
	
	/* Row Margins */
	.row {
    		margin: auto 1em;
		max-width: calc(100% - 2em);
	}
	
    /* Section Color Tags */
    section.hasSectionColorTag.red::before {
        margin-left: -1.5em;
        height: 100vh;
    }

    /* Header color tags */
    .hasColorTag::before {
        margin-left: -3.5em;
    }

    /* Upcoming Events Footer */
    .upcomingEventsFooter .row {
        width: 100%;
    }
    .upcomingEventsFooter .tileItem, .upcomingEventsFooter .eventTile {
        width: 100%;
        margin-bottom: 1em;
    }
    .upcomingEventsFooter h1 {
        margin-left: 0.5em;
        padding-left: 0.15em;
        margin-bottom: 0.5em;
    }
	/*Mobile Footer*/
	.footer li.nav-item {
    		font-size: 1.25em;
	}
	.footer .col-md-6, .footer .col-md-3 {
    		padding: 1em 2em;
	}


}


@media screen and (max-width: 330px) {
	h1 {
        font-size: 2em;
    }
}
