@import "variables";
@import "bootstrap/scss/bootstrap";

/* Misc */
.content {
  font-size: $custom-font-size;
}
body {
	font-family: "Kanit";
    color: darkgrey;
    max-width: 100vw !important;
}

h1, h2, h3, span, p, a {
    font-family: $font-family;
}

span {
    font-family: Roboto;
} 

a.nav-link.hideOnDesktop {
    display: none;
}

.row {
    max-width: calc(90% - 2em);
    margin: auto 6em;
}
a {
    text-decoration: none !important;
    background-color: transparent;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1em;
    text-decoration: underline !important;
}
.col-sm-6 a {
    color: grey;
}
.col-sm-6 a:hover {
    color: #0e86a3;
}
.col-sm-6 img {
    max-width: 100%;
}
section.container {
    margin: 0;
    max-height: unset !important;
    min-width: calc(100vw - 1em) !important;
    height: fit-content !important;
    min-height: fit-content !important;
    height: -moz-fit-content;
    min-height: -moz-fit-content;
}
header.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
    max-height: unset !important;
    height: fit-content !important;
    min-height: fit-content !important;
}
header {
    height: 100vh; 
    max-height: 800px;
    overflow: hidden;
}
section .row {
    min-height: 100%;
}
.col-sm-6 h1 {
    margin-top: 2em;
}
strong {
    font-weight: 700;
}
h1 {
    font-weight: 500 !important;
    font-size: 2.5em;
    padding-left: 0.25em;
    color: black;
}
p {
    font-size: 1.5em;
    padding: 1em;
}

/* Colors */
strong.red {
    color: #ef444d;
}
strong.blue {
    color: #169ea6;
}

/* Nav */
nav {
    background: white;
    border: 0.025px solid #d3d3d359;
}
nav a.nav-link {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}
a.nav-link.donateNow {
    background: $brand-red;
    color: white !important;
    font-weight: 600;
    padding-left: 1em !important;
    padding-right: 1em !important;
    margin-left: 1em;
}
a.nav-link.donateNow:hover {
    color: white !important;
    text-decoration: underline !important;
}
li.nav-item {
    margin-left: 0.5em;
}
ul.navbar-nav.ml-auto {
    margin-right: 1em;
}
a.nav-link:hover {
    color: #2fae9f !important;
}
.navbar-brand img {
    padding-left: 1em;
}
.nav-item {
    text-align: center;
}   


/* Social Nav */
ul.navbar-nav.flex-row {
    padding-left: 1em;
}
nav i {
    color: #2fae9f;
}
a.nav-link i:hover {
    color: #0d72aa;
}
li.nav-item.navbox {
    padding-right: 0.5em;
    padding-left: 1em;
    // border-left: lightgrey 1px solid;
}

/* Hover Nav Box */
.hoverNavbox {
    width: 65%;
    position: absolute;
    right: 5em;
    background: $brand-teal;
    z-index: 1000;
    color: white;
    top: 4em;
}
.hoverNavbox li {
    list-style: none;
    text-align: left;
    margin-left: 0;
}
.hoverNavbox a {
    color: white !important;
    padding: 0;
}
.hoverNavbox h3 {
    font-size: 1.25em;
    text-transform: uppercase;
    margin-top: 1em;
}
.hoverNavbox ul {
    padding-left: 0;
}
.hoverNavbox .row {
    max-width: 100%;
    padding-left: 1.25em;
    padding-right: 0em;
    margin: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
}
.hoverNavbox a:hover {
    // color: $brand-blue !important;
    text-decoration: underline !important;
    color: white !important;
}
.hoverNavbox a.nav-link {
    font-family: Open Sans;
    text-transform: none;
    line-height: 1.5em;
    letter-spacing: .01em;
    font-weight: 300;
    font-size: .9em;
}
.hoverNavbox li.nav-item {
    padding-top: .9em;
}
li.nav-item.contactUsLink {
    padding: 0.5em;
}
.contactUsLink a {
    text-transform: uppercase;
    color: $brand-red;
}

/* Account Hoverbox */
.account .col-sm-3, .account .col-sm-9 {
    padding: 0;
    margin: 0;
}
.account .row {
    margin: 0;
    padding: 0.5em;
}
.hoverNavbox.account {
    background: #e6e6e6;
    width: 30%;
    padding-bottom: .4em;
}
.account img {
    width: 2em;
    position: absolute;
    height: auto;
    padding: 0.25em;
    float: left;
    top: -0.25em;
}
.account div#app {
    font-size: 0.25em;
    color: #4a1f1f;
    font-family: kanit;
}
input.emailInput {
    float: right;
    display: block;
    position: absolute;
    right: 5em;
    width: calc(100% - 3em);
    font-size: 3.25em;
    color: black;
}
.account span {
    font-size: 4em;
    font-family: kanit;
    color: black;
    display: block;
    width: 110%;
    margin-left: -1.55em;
}
.account button {
    font-size: 3.5em;
    text-transform: uppercase;
    background: #ed0744;
    border: none;
    color: white;
    float: right;
    padding-left: 1em;
    padding-right: 1em;
}
img.accountLight {
    left: .55em;
    top: .5em;
}

/* Search */
li.nav-item.search {
    padding-right: 0.5em;
    padding-left: 0.5em;
    // border-left: lightgrey 1px solid;
}
.searchInterface {
    width: 50%;
    background: white;
    margin: auto;
    margin-top: 4em;
    border-radius: 0.5em;
    padding: 1em;
}
span.cancelSearchButton {
    color: white;
    font-size: 3em;
    position: absolute;
    right: calc( 25% - 1em);
}
.searchInterface input {
    width: 100%;
    border-radius: 0.25em;
    padding: 0.5em;
}
div#searchResults {
    max-height: 50vh;
    overflow: scroll;
    height: 50vh;
    overflow-x: hidden;
}
.searchResults img {
    max-width: 20%;
}
.searchResults span.title {
    display: block;
    text-transform: uppercase;
    color: black;
}
.searchResults span.summary {
    font-size: 0.75em;
    color: grey;
}
.searchResults img {
    width: auto;
    max-height: 4em;
    max-width: 20%;
    margin-top: 0.5em;
    min-width: 20%;
}
.searchResults .infoContainer {
    display: inline-block;
    max-width: 75%;
    padding-left: 1em;
}
.searchResults .row:hover {
    background: #add8e669;
}
.searchResults .row {
    max-width: 100%;
    margin: auto;
    padding: 0.5em;
}

/* Lightbox */
.lightbox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #252424d9;
    left: 0;
    top: 0;
    z-index: 1000;
}

/* Mobile Nav Toggle */
button.navbar-toggler.collapsed, button.navbar-toggler, navbar-toggler-icon {
    background-color: #47b7aa;
}

/* Jumbotron */
.tileHeader {
    background: url(/assets/img/headerBackgroundTile.jpg);
    background-size: cover;
}
.jumbotron .col-sm-6 {
    color: white;
}

/* Footer */
.container-fluid.footer {
    background: #2b2b2b;
    color: #aeaeae;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
}
.footer .col-md-6, .footer .col-md-3 {
    padding: 2em;
}
.footer h4 {
    text-transform: uppercase;
    font-size: 1.25em;
}
.footer a {
    color: darkgrey;
}
.footer a:hover {
    color: #2fae9f;
}
.footer ul.navbar-nav.flex-row {
    padding-left: 0;
}

/* Footer MC */
.mc-field-group {
    margin-top: 10px;
}
.mc_signup_input {
    width: 75%;
    height: 40px;
    padding-left: 10px !important;
    box-shadow: none;
    border: none;
}
button.mc_signup {
    background: red !important;
    color: white;
    border: none !important;
    text-transform: uppercase;
    padding-bottom: 0.5em;
    font-weight: 500;
    border-radius: 0;
    padding-right: 1em;
    padding-left: 1em;
    box-shadow: none;
    height: 100%;
    padding-top: 0.5em;
}
.mc_signup i {
    font-size: 20pt;
    color: #aeaeae;
}
button.mc_signup:hover {
    background: #1f98a37a;
}
.footer span {
    display: block;
    width: 100%;
    text-align: center;
}
.linkList {
    margin: auto;
}
.linkList a {
    display: inline-block;
    padding: 0.5em;
    text-decoration: underline !important;
}
.footer .col-md-3 img {
    max-width: 100%;
    margin-top: 1em;
}
.footer li.nav-item {
    font-size: 1.5em;
    padding-top: 0.5em;
}

/* Footer alignment issues */
.footer .row, .footer .col-md-6, .container-fluid.footer {
    max-height: unset !important;
    height: fit-content !important;
    min-height: fit-content !important;
}


section.header {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    height: fit-content;    
}
section.headerImage {
    height: fit-content;
}
.headerImage img {
    min-width: 100vw;
    height: auto;
}

/* Headers */
h5 {
    text-transform: uppercase;
}

/* Page Headers */
section.pageHeaderImage {
    max-width: 100vw !important;
    overflow: hidden;
    text-align: center;
    background: url(/assets/img/Events-Banner.png);
    background-position: center;
    background-size: cover;
    min-height: 50vh;
    height: fit-content;
	margin-bottom: 6em
}
section.pageHeaderImage.noText {
    min-height: 50vh;
}
section.pageHeaderImage .row {
    background: #00000094;
    min-width: 100%;
    color: white;
    margin: 0;
    text-align: left;
    min-height: 50vh;
    height: 100%;
}
.pageHeaderImage .col-sm-6 {
    margin-left: 6em;
    padding-left: .5em;
}
.pageHeaderImage .col-sm-6 h1 {
    margin-top: 2em;
    color: white;
    margin-left: 0;
    padding-left: 0;
}
.pageHeaderImage p {
    padding: 0;
    font-size: .9em;
    font-weight: 200;
    font-family: Open Sans;
    line-height: 1.9;
    letter-spacing: .1px;
	margin-top: 1em;
	max-width: 80%;
}
.pageHeaderImage a.callToActionButton {
    background: $brand-red;
    padding: 1em 3em;
    margin-top: 2em;
    margin-bottom: 6em;
    color: white;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    margin-left: 0;
}

/* Breadcrumbs */
section.breadcrumbs {
    padding-top: 0em;
    margin-left: -.9em;
}
section.breadcrumbs.bcCoursePath {
    margin-left: .1em;
}

/* Color Tags */
.hasColorTag::before {
    background: #3dba95;
    width: 150px;
    height: 1em;
    content: "_";
    color: #ff000000;
    display: inline-block;
    margin-bottom: -0.25em;
    margin-left: -0.5em;
    margin-right: 0.5em;
    vertical-align: sub;
}
.hasColorTag.teal::before {
    background: $brand-teal;
}
.hasColorTag.red::before {
    background: $brand-red;
}
.hasColorTag.purple::before {
    background: $brand-purple;
}
h1.hasColorTag.red {
    margin-left: -1em;
}

/* Section Color Tags */
section.hasSectionColorTag::before {
    background: #3dba95;
    width: 2em;
    height: 17em;
    content: "_";
    color: #ff000000;
    display: block;
    margin-bottom: -0.25em;
    margin-left: 2.5em;
    margin-right: 0.5em;
    vertical-align: sub;
    position: absolute;
}

section.hasSectionColorTag.red::before {
    background: $brand-red;
}
section.hasSectionColorTag.purple::before {
    background: $brand-purple;
}
section.hasSectionColorTag.teal::before {
    background: $brand-teal;
}

/* Upcoming Events Footer */
section.upcomingEventsFooter {
    margin-top: 2em;
    margin-bottom: 7em;
}
.upcomingEventsFooter h1 {
    font-size: 2.5em;
    margin-left: 2.25em;
    padding-left: 0.15em;
	margin-left: 2.45em;
	margin-bottom: 0.5em;
}
.upcomingEventsFooter .eventTile {
    width: 23.28%;
    overflow: hidden;
    display: inline-block;
    margin: .5em;
}
.upcomingEventsFooter .eventTile img {
    width: 100%;
}
.upcomingEventsFooter .eventTile h1 {
    text-transform: uppercase;
    margin-left: 0;
    font-size: 1.25em;
    padding-left: 0;
    margin-bottom: 0;
}
.upcomingEventsFooter .eventTile span {
    font-size: 0.75em;
    text-transform: uppercase;
    color: $brand-green;
}

/* Tile Items */
.tileItem {
    width: 23.28%;
    overflow: hidden;
    display: inline-block;
    margin: .5em;
}
.tileItem img {
    width: 100%;
    height: auto;
    text-align: center;
}
.tileItem h1 {
    text-transform: uppercase;
    margin-left: 0;
    font-size: 1.25em;
    padding-left: 0;
    margin-bottom: 0;
    padding-top: .5em;
    line-height: 1em;
}
.tileItem span {
    font-size: 0.8em;
    text-transform: uppercase;
    color: $brand-green;
    line-height: .4em;
    font-style: italic;
}

/* Pink Stripe Divider */
section.upPinkStripesDivider {
    height: 5em;
    background: url(/assets/img/pink-stripes-divider.png);
    margin-top: 2em;
    background-size: cover;
}
section.downPinkStripesDivider {
    height: 5em;
    background: url(/assets/img/pink-stripes-divider-bottom.png);
    margin-top: 2em;
    background-size: cover;
}

/* CourseTags */
span.courseTag {
    text-transform: uppercase;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: auto;
    background: black;
    display: block;
    margin-top: -0.5em;
    color: white;
    font-size: .85em;
}
span.courseTag.developer {
    background: $brand-blue;
} 
span.courseTag.professional {
    background: $brand-purple;
} 
span.courseTag.beginner {
    background: $brand-green;
} 



/* Social Footer */
section.social {
    background: url(/assets/img/Social_Banner.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
    margin-bottom: 0;
}
