
/* Headers */


/* Release Items */
.pressReleases h1 {
    font-size: 1.5em;
    text-transform: uppercase;
}
.pressReleases span {
    color: green;
    padding-left: 0.5em;
}
.pressReleases p {
    padding: 0;
    padding-left: 0.5em;
    font-size: 1em;
    color: black;
    font-weight: 200;
}
.pressReleases .col-md-12 {
    margin-top: 2em;
}
