/* Tablet */
@media screen and (max-width: 800px) {
    h1.supportHeadline {
        margin-left: 1em;
    }
}


/* Mobile */
@media screen and (max-width: 600px) {
    .col-sm-6.supportOption {
        margin-bottom: 3em;
    }
    .row {
        padding-bottom: 0em;
    }
    section.pageHeaderImage {
        margin-bottom: 4em;
    }
    .col-sm-6.supportOption {
        padding-left: .5em;
        padding-right: .5em;
    }
    h1.supportHeadline {
        margin-left: .65em;
    }
}


@media screen and (max-width: 330px) {

}