
/* About Us*/
.header .col-sm-6 {
    text-align: left;
}
.header p {
    padding: 0.5em;
}
a.callToActionButton.rightRedBrick {
    background: $brand-red;
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 0.25em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-left: 0.5em;
}
section.blueBrickDivider {
    height: 3em;
    background: $brand-teal;
    margin-bottom: 5em;
}

/* Profiles */
.team img, .board img {
    max-width: calc(100% + 3em);
}
.col-sm-3 {
    overflow: hidden;
    text-align: center;
}
.row {
    margin-bottom: 5em;
}

h3 {
    color: black;
    text-transform: uppercase;
}
span.role {
    color: $brand-green;
    text-transform: capitalize;
    display: block;
}
span.bio {
    color: black;
    font-weight: 200;
}