/* Desktop */
@media screen and (max-width: 1000px) {

}

/* Tablet */
@media screen and (max-width: 800px ) {
	
} 

/* Mobile */
@media screen and (max-width: 600px) {
	a.callToActionButton.rightRedBrick {
        width: 100%;
        height: fit-content;
        text-align: center;
        display: block;
        margin-bottom: 1em;
        margin-left: 0;
    }

}


@media screen and (max-width: 330px) {
	
}