body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

/* About Us*/
.header .col-sm-5 {
    text-align: left;
}
.header p {
    padding: 0em;
    font-family: Open Sans;
    font-size: .9rem;
    font-weight: 200;
    line-height: 1.9em;
    color: black;
}
a.callToActionButton.rightRedBrick {
    background: #ed0744;
    padding: 1em 3em;
    margin-top: 1.75em;
    margin-bottom: 1.5em;
    color: white;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    margin-left: 0em;
}
a.callToActionButton {
    font-weight: 600;
    letter-spacing: 0.05em;
    margin: auto;
    text-align: center;
    font-size: 1rem;
}
.header img {
    max-width: 100%;
}
.header .row {
    margin-bottom: 8em;
}
section.blueBrickDivider {
    height: 3em;
    background: #00648c;
    margin-bottom: 1.5em;
}
.col-sm-5 h1 {
    margin-top: 0em;
    padding-left: 0em;
}
.col-sm-5 {
    padding: 0em .5em;
}
.col-sm-5 {
    padding: 0em .5em;
}


/* Profiles */
.hasColorTag::before {
    background: #00648c;
    width: 150px;
    height: 1em;
    content: "_";
    color: #ff000000;
    display: inline-block;
    margin-bottom: -0.25em;
    margin-left: -1.60em;
    margin-right: 0.5em;
    vertical-align: sub;
}
.team img, .board img {
    max-width: calc(100% + 3em);
    height: 10em;
}
.person_team .col-sm-3 {
    padding-left: 1.25em;
}
.person_board .col-sm-3 {
    padding-left: 1.25em;
}
.col-sm-3 {
    overflow: hidden;
    text-align: left;
}
.row {
    margin-bottom: 5em;
}

.team h3 {
    color: black;
    text-transform: uppercase;
}
.person_board h3 {
    color: black;
    text-transform: uppercase;
}
span.role {
    color: #2fae9f;
    text-transform: uppercase;
    display: block;
    font-size: .8em;
    line-height: .4em;
    font-style: italic;
    margin-bottom: 1em;
}
span.bio {
    color: black;
    font-weight: 200;
    font-size: .9em;
}
h1.hasColorTag.blue {
    margin-bottom: 2.25em;
}
h1.hasColorTag.redRight {
    margin-bottom: 2.25em;
}
section#teamContainer {
    margin-bottom: 8em;
}
section#boardContainer {
    margin-bottom: 8em;
}
.col-sm-9 {
    padding-left: 0em;
    padding-top: .5em;
}
