/* Desktop */
@media screen and (max-width: 1000px) {
    
}

/* Tablet */
@media screen and (max-width: 800px) {
    .locationDetails span {
        text-align: left;
    }
    .col-sm-6 .locationDetails a {
        text-decoration: underline !important;
    }
    .desktopPhones {
        display: none;
    }
    .mobilePhonesSlider {
        display: block;
    }
    section.doMore {
        padding-right: .5em;
        padding-left: .5em;
    }
    .doMore h1 {
        margin-bottom: 1em;
        color: white;
        padding-left: .6em;
    }
    .doMore h3 {
        margin-bottom: 2em;
    }
    section.doMore {
        padding-bottom: 3.5em;
    }
    img.arrowRight {
        display: none !important;
    }
    .navButtons.display {
        display: block;
    }
    .navButtons {
        position: absolute;
        height: 100%;
        float: left;
        padding-top: calc(50% - 0.5rem);
        z-index: 500;
        width: 92vw;
        left: 0;
    }
    .navButtons a {
        font-size: 2.5rem;
        display: block;
        position: absolute;
    }
    a#mobileSliderNavLeft {
        left: 1rem;
    }
    a#mobileSliderNavRight {
        left: unset;
        right: 1rem;
    }
    a.disabled {
        color: lightgrey;
    }

    span.phoneQRText {
        color: black;
        font-size: 1.5em;
    }
    .cccVideoPlaylist iframe {
        min-height: 22vh;
    }
    .qrWithBluebackground span {
        font-size: 1.5em;
    }
    section.calloutQuestion {
        margin: 7em 2.5em 2em 2.5em;
    }
    .followUsFooter h1 {
        font-size: 2.5rem;
    }
    .pageHeaderImage .col-sm-6 {
        padding-right: 9em;
    }
    .btcExplained .fa, .btcExplained .fas {
        font-weight: 900;
        margin-right: 0em;
        margin-left: 0em;
        font-size: 1.35em;
    }
    .row.container.mobilePhonesSlider {
        min-height: 120vh !important;
    }
    .imageTwoCol img {
        margin-top: .5em;
    }
    .howToBuy .imageTwoCol img {
        margin-top: .4em;
    }
    .row.container.mobilePhonesSlider {
        min-height: 108vh !important;
    }
    ul.navbar-nav.flex-row {
        margin-bottom: 0rem !important;
        width: fit-content;
        float: right;
    }
    .coinflip h1 {
        margin-left: 1em;
    }
    .pageHeaderImage .col-sm-6 h1 {
        margin-top: 1em !important;
        margin-right: 3em;
    }
    .pageHeaderImage h1 img {
        width: 50%;
    }
    .pageHeaderImage p {
        margin-top: 0em;
    }
    section.pageHeaderImage {
        min-height: 40vh;
        background-position: center !important;
    }
    .col-sm-6 h2 {
        margin-top: .75em;
        font-size: 1.5em;
    }
    .col-sm-6 p {
        font-size: 1em;
    }
    .rightAlign h2 {
        margin-top: 1em;
    }
} 

/* Mobile */
@media screen and (max-width: 600px) {
    .col-sm-3 img {
        display: none;
    }
    .row.qrCTA {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    .pageHeaderImage .col-sm-6 h1 {
        font-size: 1.5em;
    }
    .pageHeaderImage h1 img {
        width: 70%;
    }
    /* temp sliderIndex fix */
    ul.sliderIndex {
        min-width: 100vw;
        text-align: center;
        position: absolute;
        left: 0;
        margin-left: -0.5rem;
        padding-left: 0;
        z-index: 1000;
        bottom: -1rem;
    }
    .col-md-6 {
        padding: 2em 0em 0em 0em;
    }
    span.phoneQRText {
        font-size: 1.5em;
    }
    .cccVideoPlaylist iframe {
        min-height: 22vh;
        width: 100%;
        margin-bottom: 0em;
    }
    .col-sm-6.videoDescription {
        margin-bottom: 2em;
    }
    .calloutQuestion h4 {
        line-height: 1em;
    }
    section.calloutQuestion {
        margin: 7em 1.5em 2em 1.5em;
    }
    .moreOptions img {
        margin-bottom: 1em;
    }
    .moreOptions .col-sm-6 {
        padding-right: 0em;
    }
    .followUsFooter h1 {
        font-size: 2em;
        padding-left: 0em;
    }
    .btcExplained .fa, .btcExplained .fas {
        font-weight: 900;
        margin-right: 0em;
        margin-left: 0em;
        font-size: 1.1em;
    }
    .navButtons {
        padding-top: calc(55% - 0.5rem);
    }
    .imageTwoCol img {
        margin-top: -1em;
        min-width: 100%;
    }
    .col-md-4.imageTwoCol {
        padding-right: 0em;
    }
    .col-md-8 {
        padding: 2em 0em 0em 0em;
    }
    .faqTile {
        width: calc(100% - 4em) !important;
    }
    .contactUsForm h1 {
        margin-top: 1em;
    }
    .coinflip .imgInDiv {
        width: 100%;
    }
    .col-sm-4.mpSlider {
        margin: 4.5rem auto 3rem auto;
    }
    .sliderHeader h3 {
        font-size: 1.7em;
    }
    .pageHeaderImage .col-sm-6 {
        margin: 4em 1em;
    }
    .pageHeaderImage h1 {
        margin-top: 3em !important;
    }
    .row.container.mobilePhonesSlider {
        min-height: 90vh !important;
    }
    ul.sliderIndex {
        margin-left: -1rem;
        bottom: 0rem;
    }
    #navButtons i {
        font-size: 3.5rem;
    }
    .footer li.nav-item {
        font-size: 1em;
    }
    .footer .col-md-3 img {
        max-width: 95%;
    }
    .footer li.nav-item {
        padding-top: .25em;
    }
    .footer .col-md-6 {
        min-width: 100%;
    }
    .container-fluid.footer.lpfooter {
        padding-top: 2.5em;
    }
    .coinflip h1 {
        margin-left: .65em;
    }
}



@media screen and (max-width: 330px) {
}
