<!doctype html>
<html>
  <head>

    {% include generalSiteHeader.html %}
    <link rel=stylesheet href='/assets/css/courses.css' type=text/css>
  </head>
  <body>
    <div class="navBarContainer">
    	{% include navigation.html %}
    </div>
    
    {% include pageHeader.html 
      img=page.image
      imgMd=page.imageMd
      imgSm=page.imageSm
    %}

    <section class="breadcrumbs indvCoursePage">
      <div class="row">
          <a href="/">Home</a> / <a href="/courses/">Courses</a> / <a href="#">{{page.title}}</a>
      </div>
    </section>
    
    <section class="courseOverview">
      <div class="row">
        <h1>{{ page.title }}</h1>
        <span class="author">{{ page.author }}</span>
        <span class="summary">{{ page.summary }}</span>
        <span class="disclaimer">We’re here to help. If you have any questions or feedback about this course please email us at info@theblockchaininstitute.org – we’d love to hear from you!</span>
        <!--<a class="callToActionButton coursePageSCButton" href="{{ startCourseLink.permalink }}">
          Start Course
        </a>-->
      </div>  
    </section>

    <!--{% include loginToTrackProgress.html %}-->
    
    <section class="courseSections">
      <div class="row">
        {% for module in site.modules %}
            {% if module.course == page.slug %}
              <div class="moduleInfo">
                <h2>{{module.title}}</h2>
                <span>{{ module.summary }}</span>
                <!-- <span class="progressDiv" id="progress_module_{{ module.number }}"></span> -->
                <div class="moduleChildren">
                  {% for lesson in site.lessons %}
                    {% if lesson.course == page.slug %}
                      {% if lesson.module == module.number %}
                        <div class="lessonListing"> 
                            <span class="progressDiv" id="progress_{{ lesson.title | strip | replace: ' ', '-' | remove: '\' | remove: '!' | remove: '?' | remove: '&' | replace: '%', '-percent' | replace: '--', '-' | replace: '--', '-' | url_encode | downcase }}">
                              <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                            <a target="_blank" href="{{ lesson.permalink }}">
                                <h3>{{ lesson.title }}</h3>
                            </a>
                        </div>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
        {% endfor %}
      </div>
    </section>
    
    {% include footer.html %}
    <!-- <script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script> -->
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    {% include lessonMap.html 
        slug=page.slug 
    %}
    <script defer>

      // this function will be triggered from accountHandler.js when the userdata is loaded
      function populateCourseProgress () {
        console.log('ran course progress update', new Date () )
        // get user data
        if ( !window.userData ) {
          console.log('no user data available - prompting user to login')
          // displayUserLoginPrompt();
        } else {
          console.log('userData', window.userData)
          // iterate through lesson map and compare to courseProgress
          for ( course of window.userData ) {
            if ( course.tag === window.lessonMap.slug ) {
              // var check_cp = 1;
              for ( module of window.lessonMap.modules ) {
                for ( lesson of module.lessons ) {
                  if ( course.pages.includes( lesson.slug ) ) {
                    displayCompletedIcon(lesson.slug)
                  }
                }
              }
            }
          }
          // if ( check_cp != 1 ) {
          //   displayUserLoginPrompt ();
          // }

        }

      }

      // this function displays a check mark next to completed lessons
      function displayCompletedIcon( slug ) {
        var progressSpan = document.getElementById( 'progress_' + slug )
            progressSpan.className += " display"
      }

    </script>
    <script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
  </body>
</html>
