<!doctype html>
<html>
  <head>
      {% include generalSiteHeader.html %}
      <link rel=stylesheet href='/assets/css/events.css' type=text/css>
  </head>
  <body>
    <div class="navBarContainer">
    	{% include navigation.html %}
    </div>
    
    {% include pageHeader.html 
      img=page.image
      imgMd=page.imageMd
      imgSm=page.imageSm
    %}
    
    <section class="breadcrumbs container">
      <div class="row">
          <a href="/">Home</a> / <a href="/events/">Events</a> / <a href="#">{{page.title}}</a>
      </div>
    </section>
    <section class="eventOverview">
      <div class="row container">
        <div class="col-md-9 eventMain">
          {% include eventDetails.html 
            title=page.title
            date=page.eventdate 
            rsvpLink=page.rsvpUrl  
            dateTime=page.date
          %}

          <div class="eventBody">
            {{ content }}
          </div>
        </div>
  
        <div class="col-md-3 eventSidebar">
          {% assign sorted = site.events | sort: 'date' | reverse %}
          {% for event in sorted limit:3 %}
  
              {% include eventTile.html
                link=event.permalink 
                image=event.image 
                title=event.title 
                date=event.eventdate
              %}
  
          {% endfor %}
        </div>
      </div>

    </section>
    
    {% include pinkDivider.html %}

    {% include recentCourses.html %}
    
    {% include footer.html %}
    <!-- <script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script> -->
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
  </body>
</html>
