<!doctype html>
<html>
  <head>
      {% include generalSiteHeader.html %}
      <link
    rel=stylesheet href='/assets/css/faq.css' type=text/css>
  </head>
  <body>
    <div class="navBarContainer">
    	{% include navigation.html %}
    </div>
    <section class="pageHeaderImage noText" style="background: url(/assets/img/{{ page.image }}); background-position: center; background-size: cover;">
    </section>

    <section class="breadcrumbs">
      <div class="row container bread">
        <div class="col-sm-12">
          <a href="/">Home</a> / <a href="/faq/">FAQ</a> / <a href="#">{{page.title}}</a>
        </div>
      </div>
    </section>

    <section class="faq">
      <div class="row container">
        <div class="col-md-9 eventFAQ">
          <h1>{{ page.title }}</h1>
          <div class="faqBody">
            {{ content }}

            {% include learnMoreSection.html 
              link=page.learnMoreLink
              text=page.learnMoreText
            %}

          </div>

        </div>
  
        <div class="col-md-3 faqSidebar">
          {% assign maxCount = 3 %}
          {% assign count = 0 %}
          {% for faq in site.faq %}
            {% if faq.title != page.title and count < maxCount %}
              <div class="faqTile column"> 
                <a href="{{ faq.permalink }}">
                  <img src="/assets/img/{{faq.image}}"/>
                    <h1>{{ faq.title }}</h1>
                    <span>{{ faq.tag }}</span>
                </a>
              </div>
              {% assign count = count | plus : 1 %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>

    {% include pinkDivider.html %}
    {% include recentCourses.html %}

    {% include footer.html %}
    <!-- <script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script> -->
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="{{'/node_modules/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
  </body>
</html>
